+include-style('catalog-targets')
+include-script('catalog-targets')
.container
			.row
				.col-12.col-xl-12
					.catalog-targets
						
						.catalog-targets__small.js-catalog-targets
							+target-link({
								title: 'Супы для детей'
							})
							+target-link({
								title: 'Куриный бульон'
							})
							+target-link({
								title: 'Азиатская кухня'
							})
							+target-link({
								title: 'Супы-пюре'
							})
							+target-link({
								title: 'Для всей семьи'
							})
							+target-link({
								title: 'Мука'
							})
							+target-link({
								title: 'Крупа и бобы'
							})
							+target-link({
								title: 'Супы для детей'
							})
							+target-link({
								title: 'Куриный бульон'
							})
							+target-link({
								title: 'Азиатская кухня'
							})
							+target-link({
								title: 'Супы-пюре'
							})
							+target-link({
								title: 'Для всей семьи' 
							})
							+target-link({
								title: 'Мука'
							})
							+target-link({
								title: 'Крупа и бобы'
							})
							+target-link({
								title: 'Супы для детей'
							})
							+target-link({
								title: 'Куриный бульон'
							})
							+target-link({
								title: 'Азиатская кухня'
							})
							+target-link({
								title: 'Супы-пюре'
							})
							+target-link({
								title: 'Для всей семьи'
							})
							+target-link({
								title: 'Мука'
							})
							+target-link({
								title: 'Крупа и бобы'
							})
							+target-link({
								title: 'Супы для детей'
							})
							+target-link({
								title: 'Куриный бульон'
							})
							+target-link({
								title: 'Азиатская кухня'
							})
							+target-link({
								title: 'Супы-пюре'
							})
							+target-link({
								title: 'Для всей семьи' 
							})
							+target-link({
								title: 'Мука'
							})
							+target-link({
								title: 'Крупа и бобы'
							})
						.catalog-targets__small-link.js-target-trigger
							span Показать ещё
							+icon('i-arrow-bottom-md')(style='width: 10px; height: 10px;')