@import 'src/assets/css/common/components-import';
.catalog-targets {
  position: relative;
  margin: 20px 0 45px;
  padding: 10px;
  background: $c-bg;
  &__large {
    display: flex;
    overflow: auto;
    -webkit-overflow-scrolling: auto;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    padding-bottom: 15px;

       -moz-overflow-scrolling: auto;
        -ms-overflow-scrolling: auto;
         -o-overflow-scrolling: auto;
    &::-webkit-scrollbar {
      height: 7px;
      cursor: pointer;

      -webkit-appearance: none;
    }
    &::-webkit-scrollbar-button {
      width: 0;
      background-color: $c-gray;
    }
    &::-webkit-scrollbar-track {
      background-color: $c-gray;
    }
    &::-webkit-scrollbar-track-piece {
      background-color: $c-gray;
    }
    &::-webkit-scrollbar-thumb {
      width: 3px;
      height: 7px;
      border-radius: 7px;
      background-color: #4f681e;
    }
    &::-webkit-scrollbar-corner {
      background-color: #999;
    }
    &::-webkit-resizer {
      background-color: #666;
    }
    &.opened .target-link:nth-child(n+5) {
      display: flex !important;
    }
    .target-link {
      width: auto;
      margin: 5px;
      box-shadow: 0px 2px 5px rgba(0, 0, 0, .08);
      &:hover {
        box-shadow: 0px 3px 12px rgba(0, 0, 0, .08);
      }
      &:nth-child(n+5) {
        display: none;
      }
    }
    .target-link__descr {
      min-width: 125px;
    }
    .filter-list-trigger-wrap {
      display: flex;
      width: 100%;
    }
    .filter-list-trigger {
      position: relative;
      display: inline-flex;
      width: auto;
      max-width: 100%;
      margin-top: 8px;
      margin-left: 5px;
      padding-right: 17px;
      cursor: pointer;
      letter-spacing: .02em;
      color: $c-green;
      &::before {
        position: absolute;
        top: calc(50% - 3px);
        right: 0;
        width: 10px;
        height: 6px;
        content: '';
        background: no-repeat;
        background-image: url('data:image/svg+xml,%3Csvg width=\'11\' height=\'7\' fill=\'none\' xmlns=\'http://www.w3.org/2000/svg\'%3E%3Cpath fill-rule=\'evenodd\' clip-rule=\'evenodd\' d=\'M5.389 5.481L10.035.835l.707.707L5.39 6.895.035 1.542.742.835 5.39 5.48z\' fill=\'%238DC63F\'/%3E%3C/svg%3E');
        background-size: cover;
      }
      .link-hide {
        display: none;
      }
      &.active {
        &::before {
          top: calc(50% - 2px);
          transform: rotate(180deg);
        }
        .link-hide {
          display: block;
        }
        .link-show {
          display: none;
        }
      }
    }
  }
  &__small {
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    max-height: 52px;
    padding: 0 120px 0 0;
    transition: max-height .3s;
    &.active {
      max-height: 900px;
    }
  }
  &__small-link {
    position: absolute;
    z-index: 1;
    right: 20px;
    bottom: 28px;
    cursor: pointer;
    transition: color .3s;
    color: $c-green;
    font-size: 15px;
    .icon {
      transition: fill .3s;
      fill: $c-green;
    }
    &.active {
      color: $c-green-dark;
      .icon {
        transition: fill .3s;
        transform: rotate(180deg);
        fill: $c-green-dark;
      }
    }
  }
  &__large + &__small {
    border-top: 1px solid #e0e0e0;
  }
  @media (min-width: 1024px) {
    &:hover {
      color: $c-green-dark;
      .icon {
        transition: fill .3s;
        fill: $c-green-dark;
      }
    }
  }
  @media (max-width: 1023px) {
    margin: 20px 0;
  }
  @media (max-width: 768px) {
    margin: 20px -15px ;
    padding-bottom: 50px;
    &__large {
      flex-direction: row;
      margin: 0 -4px;
      .target-link {
        margin: 3px;
      }
    }
    &__small {
      max-height: 42px;
      padding: 0;
      .target-link {
        margin: 4px;
      }
    }
    &__small-link {
      right: calc(50% - 60px);
      bottom: 16px;
      width: 120px;
    }
  }
}
.target-link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 10px;
  transition: box-shadow .3s;
  letter-spacing: .02em;
  color: $c-text;
  border: 1px solid $c-trp;
  border-radius: 22px 0px;
  background: $c-white;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, .08);
  font-size: 15px;
  &:hover {
    box-shadow: 0px 3px 20px rgba(0, 0, 0, .08);
  }
  &__img-wrap {
    flex-shrink: 0;
    width: 72px;
    height: 72px;
    padding: 10px;
  }
  &__img {
    max-width: 100%;
  }
  &__descr {
    padding: 6px 15px;
  }
  &.active {
    border: 1px solid #bdbdbd;
    box-shadow: none;
  }
  @media (max-width: 768px) {
    margin: 4px;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, .08);
  }
}