// ICON STATE
// $default: url('data:image/svg+xml,%3Csvg width=\'24\' height=\'24\' viewBox=\'0 0 24 24\' fill=\'none\' xmlns=\'http://www.w3.org/2000/svg\'%3E%3Cpath d=\'M23 12C23 18.0751 18.0751 23 12 23C5.92487 23 1 18.0751 1 12C1 5.92487 5.92487 1 12 1C18.0751 1 23 5.92487 23 12Z\' fill=\'white\' stroke=\'%23E4E9E1\' stroke-width=\'2\'/%3E%3C/svg%3E%0A');
// $default-checked: url('data:image/svg+xml,%3Csvg width=\'24\' height=\'24\' viewBox=\'0 0 24 24\' fill=\'none\' xmlns=\'http://www.w3.org/2000/svg\'%3E%3Cpath d=\'M23 12C23 18.0751 18.0751 23 12 23C5.92487 23 1 18.0751 1 12C1 5.92487 5.92487 1 12 1C18.0751 1 23 5.92487 23 12Z\' fill=\'white\' stroke=\'%23E4E9E1\' stroke-width=\'2\'/%3E%3Ccircle cx=\'12\' cy=\'12\' r=\'3.5\' fill=\'%236BA533\' stroke=\'%236BA533\' stroke-width=\'3\'/%3E%3C/svg%3E%0A');
// $disabled: url('data:image/svg+xml,%3Csvg width=\'24\' height=\'24\' viewBox=\'0 0 24 24\' fill=\'none\' xmlns=\'http://www.w3.org/2000/svg\'%3E%3Cpath d=\'M23 12C23 18.0751 18.0751 23 12 23C5.92487 23 1 18.0751 1 12C1 5.92487 5.92487 1 12 1C18.0751 1 23 5.92487 23 12Z\' fill=\'%23F4F7F2\' stroke=\'%23E4E9E1\' stroke-width=\'2\'/%3E%3C/svg%3E%0A');
// $disabled-checked: url('data:image/svg+xml,%3Csvg width=\'24\' height=\'24\' viewBox=\'0 0 24 24\' fill=\'none\' xmlns=\'http://www.w3.org/2000/svg\'%3E%3Cpath d=\'M23 12C23 18.0751 18.0751 23 12 23C5.92487 23 1 18.0751 1 12C1 5.92487 5.92487 1 12 1C18.0751 1 23 5.92487 23 12Z\' fill=\'%23F4F7F2\' stroke=\'%23E4E9E1\' stroke-width=\'2\'/%3E%3Ccircle cx=\'12\' cy=\'12\' r=\'3.5\' fill=\'%23C3C9BE\' stroke=\'%23C3C9BE\' stroke-width=\'3\'/%3E%3C/svg%3E%0A');
.radio {
  position: relative;
  input {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    width: 1px;
    height: 1px;
    opacity: 0;
  }
  label {
    display: block;
    padding: 0 0 0 32px;
    cursor: pointer;
    color: #4d4d4f;
    font-size: 15px;
    line-height: 24px;
    font-weight: normal;
    font-style: normal;
  }
  label:before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 20px;
    height: 20px;
    content: '';
    user-select: none;
    transition: box-shadow .3s;
    border: 1px solid #828282;
    border-radius: 50%;
  }
  label:after {
    position: absolute;
    top: 6px;
    left: 6px;
    display: block;
    width: 8px;
    height: 8px;
    content: '';
    user-select: none;
    border-radius: 50%;
  }
  input:not(:disabled) ~ label:hover:before {
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, .1);
  }
  input:disabled ~ label {
    cursor: no-drop;
  }
  input:checked ~ label {
    color: #181717;
  }
  input:checked ~ label:before {
    border: 4px solid $c-green;
  }
  input:checked ~ label:after {
    background: $c-green;
  }
  input:disabled ~ label:before {
    border: 1px solid #bdbdbd;
  }
  input:checked:disabled ~ label:before {
    border: 4px solid #bdbdbd;
  }
  input:checked:disabled ~ label:after {
    background: #bdbdbd;
  }

}
