h3 Элементы форм
+counter()
hr
form.bv-form.js_lazy-load-validation(enctype='multipart/form-data', method='POST', action='#', autocomplete='on', novalidate='novalidate')
	.row
		.col-lg-6.col-md-12
			+input({
				label: 'ФИО',
				type: 'text',
				name: false,
				small: false,
				placeholder: false,
				required: true,
				validation: {
					message: 'Обязательное поле',
					regexp: 'Неверный формат',
					emailaddress: ' ',
					identical: false
				}
			})
			+input({
				label: 'E-mail',
				type: 'email',
				name: false,
				small: false,
				placeholder: false,
				required: true,
				pattern: '[A-Za-zА-Яа-я0-9\_\-]{1,}@[A-Za-zА-Яа-я0-9\_\-]{1,}\.[A-Za-zА-Яа-я0-9]{2,}',
				validation: {
					message: 'Обязательное поле',
					regexp: 'Неверный формат',
					emailaddress: ' ',
					identical: false
				}
			})
			+input({
				label: 'Телефон',
				type: 'tel',
				name: false,
				small: false,
				placeholder: '+7 (___) ___-__-__',
				required: true,
				pattern: 'phone',
				validation: {
					message: 'Обязательное поле',
					regexp: 'Неверный формат',
					emailaddress: ' ',
					identical: false
				}
			})
			+input({
				label: 'Пароль',
				type: 'password',
				name: 'password',
				small: false,
				placeholder: false,
				required: true,
				validation: {
					message: 'Обязательное поле',
					regexp: 'Неверный формат',
					emailaddress: ' ',
					identical: {
						field: 'confirmPassword',
						message: 'Пароли не совпадают'
					},
				}
			})
			+input({
				label: 'Повторите пароль',
				type: 'password',
				name: 'confirmPassword',
				small: false,
				placeholder: false,
				required: true,
				validation: {
					message: 'Обязательное поле',
					regexp: 'Неверный формат',
					emailaddress: ' ',
					identical: {
						field: 'password',
						message: 'Пароли не совпадают'
					},
				}
			})
			+custom-select({
				label: 'Выберите',
				items: [
					{
						value: 'Пункт 1'
					}, {
						value: 'Lorem ipsum dolor sit amet.'
					}, {
						value: 'Lorem ipsum dolor sit amet consectetur fqwefqwe adipisicing elit. Iste, ullam!',
					}, {
						value: 'Lorem ipsum dolor sit amet consectetur fqwefqwe adipisicing elit. Iste, ullam!',
					}, {
						value: 'Lorem ipsum dolor sit amet consectetur fqwefqwe adipisicing elit. Iste, ullam!',
					}, {
						value: 'Lorem ipsum dolor sit amet consectetur fqwefqwe adipisicing elit. Iste, ullam!',
					}, {
						value: 'Lorem ipsum dolor sit amet consectetur fqwefqwe adipisicing elit. Iste, ullam!',
					}, {
						value: 'Lorem ipsum dolor sit amet consectetur fqwefqwe adipisicing elit. Iste, ullam!',
					}, {
						value: 'Lorem ipsum dolor sit amet consectetur fqwefqwe adipisicing elit. Iste, ullam!',
					}, {
						value: 'Lorem ipsum dolor sit amet consectetur fqwefqwe adipisicing elit. Iste, ullam!',
					}, {
						value: 'Lorem ipsum dolor sit amet consectetur fqwefqwe adipisicing elit. Iste, ullam!',
					}, {
						value: 'Lorem ipsum dolor sit amet consectetur fqwefqwe adipisicing elit. Iste, ullam!',
					}, {
						value: 'Lorem ipsum dolor sit amet consectetur fqwefqwe adipisicing elit. Iste, ullam!',
					}, {
						value: 'Lorem ipsum dolor sit amet consectetur fqwefqwe adipisicing elit. Iste, ullam!',
					}
				]
			})(
			data-bv-message='Нужно что-нибудь выбрать'
			required aria-label='Лейбл селекта')
			+textarea({
				label: 'Комментарий',
				required: false,
				small: false,
				placeholder: false,
			})()
			+checkbox({
				require: true
			})(data-bv-message='Это обязательное поле')
				| Я принимаю #[a(class='link' href="#") правила обработки данных] и #[a(class='link' href="#") обработки информации]
			+checkbox({
				checked: true,
				label: 'CHECKBOX',
			})()
			+checkbox({
				checked: false,
				label: 'CHECKBOX-2',
			})()
			+checkbox({
				checked: false,
				label: 'CHECKBOX - DISABLED',
			})(disabled)
			+checkbox({
				checked: true,
				label: 'CHECKBOX - DISABLED / CHECKED',
			})(disabled)
			+radio({
				name: 'DELIVERY',
				label: 'RADIO',
				checked: true,
			})
			+radio({
				name: 'DELIVERY',
				label: 'RADIO-2',
				checked: false,
			})
			+radio({
				name: 'DELIVERY',
				label: 'RADIO - DISABLED',
				checked: false,
			})(disabled)
			+radio({
				name: 'DELIVERY',
				label: 'RADIO - DISABLED / CHECKED',
				checked: true,
			})(disabled)
	.row
		.col-12
			button.btn.btn--primary(type='submit') Отправка формы
