h3 Модалки
a.btn.btn--primary(href="#modal-prototype" data-toggle='modal') Прототип
a.btn.btn--primary(href="#password-reset" data-toggle='modal') Восстановление пароля
a.btn.btn--primary(href="#modal-login" data-toggle='modal') Авторизация
a.btn.btn--primary(href="#one-click-buy" data-toggle='modal') Покупка в один клик
a.btn.btn--primary(href="#modal-noposted" data-toggle='modal') Товары не могут быть отправлены по почте
a.btn.btn--primary(href="#modal-success-order" data-toggle='modal') Заказ успешно оформлен
a.btn.btn--primary(href="#modal-error-order" data-toggle='modal') Что-то пошло не так

block popups
	include ../modal/prototype/modal-prototype
	include ../modal/modal-login/modal-login
	include ../modal/modal-success-order/modal-success-order
	include ../modal/modal-noposted/modal-noposted
	include ../modal/one-click-buy/one-click-buy
	include ../modal/modal-error-order/modal-error-order
