@import '../../assets/css/common/components-import';
.slider-first-screen {
  @media (min-width: 1350px) {
    height: 450px;
  }
  @media (max-width: 414px) {
    min-height: 400px;
  }
}
.fs-slider {
  position: relative;
  display: flex;
  flex-direction: column;
  &__slide {
    position: relative;
    width: 1330px;
    max-width: 1330px;
    max-height: 450px;
  }
  &__picture {
    position: relative;
    overflow: hidden;
    &::before {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: '';
      background: rgba(0, 0, 0, .15);
    }
  }
  &__img-wrap {
    display: flex;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 0;
    justify-content: center;
  }
  &__img {
    width: 100%;
    max-height: 100%;
    margin: auto;
  }
  .swiper-container {
    width: 100%;
    max-width: none;
    margin: 0 auto;
    &:not(.swiper-container-initialized) {
      background: rgba(0, 0, 0, .5);
      .swiper-slide {
        width: 1330px;
        &:not(:first-child) {
          display: none;
        }
      }
      & ~ .swiper-pagination {
        display: none;
      }
      & ~ .custom-swiper-btn {
        display: none;
      }
      @media (min-width: 1330px) {
        .swiper-wrapper {
          width: 1330px;
          margin: auto;
        }
      }
      @media (max-width: 1330px) {
        .swiper-slide {
          width: 100vw;
        }
      }
    }
  }
  .custom-swiper-btn {
    border: 1px solid $c-white;
    .icon {
      fill: $c-white;
    }
  }
  .custom-swiper-btn__prev {
    left: 8%;
  }
  .custom-swiper-btn__next {
    right: 8%;
  }
  .swiper-pagination {
    z-index: 1;
    bottom: 30px;
  }
  @media (max-width: 1300px) {
    .swiper-container {
      max-width: 100vw;
    }
    &__img {
      width: 100%;
      max-width: 100vw;
    }
  }
  @media (min-width: 1024px) {
    .swiper-slide-prev, .swiper-slide-next {
      &::before {
        position: absolute;
        z-index: 4;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: '';
        opacity: .4 ;
        background-image: url('/local/templates/html/images/vegetable-png.png') ;
      }
      &::after {
        position: absolute;
        z-index: 3;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: '';
        background: rgba(0, 0, 0, .6);
      }
    }
  }
  @media (max-width: 1023px) {
    // &__item-body {
    //   width: 100%;
    //   max-width: 100%;
    //   padding: 50px 120px 50px 30px;
    // }
    // &__img {
    //   width: auto;
    //   max-width: none;
    //   // height: 400px;
    //   max-height: 100%;
    //   margin: auto;
    // }
  }
  @media (max-width: 416px) {
    &__slide {
      position: relative;
      max-height: 500px;
    }
  }
}
