+include-style('pagination')
.pagination
	ul.pagination__list
		li.pagination__item.pagination__item--first
			a.pagination__link(href='#')
				+icon('i-arrow-xl')(style='width: 17px; height: 17px;')
		li.pagination__item.active
			a.pagination__link(href='#') 1
		li.pagination__item
			a.pagination__link(href='#') 2
		li.pagination__item
			a.pagination__link(href='#') 3
		li.pagination__item
			a.pagination__link(href='#') 4
		li.pagination__item
			a.pagination__link(href='#') ...
		li.pagination__item.pagination__total
			a.pagination__link(href='#') 20
		li.pagination__item.pagination__next
			a.pagination__link(href='#')
				+icon('i-arrow-xl')(style='width: 17px; height: 17px;')