@import 'src/assets/css/common/components-import';
.form-contacts-wrap {
  @media (max-width: 768px) {
    background: $c-green;
  }
}
.form-contacts {
  position: relative;
  z-index: 2;
  width: 100%;
  max-width: 410px;
  padding: 60px 40px;
  background: $c-green;
  &__title {
    margin-bottom: 20px;
    color: $c-white;
    font-size: 30px;
    font-weight: bold;
  }
  .form-control {
    color: $c-white;
    border-bottom: 1px solid #e0e0e0;
    background: $c-green;
    &:focus {
      border-bottom: 1px solid $c-green-dark;
    }
    &::placeholder, &::-webkit-input-placeholder, &::-moz-placeholder, &:-ms-input-placeholder, &:-moz-placeholder {
      color: $c-green-dark;
    }
  }
  .form-control-label {
    color: $c-white;
  }
  .btn.btn--large {
    padding: 12px 30px;
  }
  .btn--large {
    border: 1px solid $c-trp;
    &:hover {
      border: 1px solid $c-white;
      background: $c-green;
    }
  }
  @media (max-width: 1024px) {
    max-width: 350px;
  }
  @media (max-width: 768px) {
    max-width: 100%;
    padding: 40px 0;
    .btn {
      width: 100%;
      max-width: 375px;
      margin: auto;
    }
  }
}


