@import 'src/assets/css/common/components-import';
.slider-product-page {
  min-width: 245px;
  max-width: 245px;
  &__img-wrap {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    justify-content: center;
  }
  &__img {
    display: flex;
    flex-shrink: 0;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    object-fit: contain;
  }
  @media (max-width: 767px) {
    margin: 0 auto;
  }
}
.swiper-product-page {
  .swiper-container {
    overflow: hidden;
    margin: 0;
    padding: 0;
  }
  .swiper-slide {
    cursor: pointer;
  }
  .swiper-main .swiper-container {
    &:not(.swiper-container-initialized) {
      .swiper-slide {
        min-width: 245px;
        max-width: 245px;
        margin: 0 4px 0 0;
      }
    }
  }
  .swiper-nav .swiper-container {
    &:not(.swiper-container-initialized) {
      .swiper-slide {
        width: 58px;
        margin: 0 4px 0 0;
      }
    }
  }
  .swiper-nav {
    .swiper-container {
      overflow: hidden;
      width: calc(100% + 16px);
      margin: 0 -8px;
      padding: 0;
    }
    .swiper-slide {
      display: flex;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
      width: 58px;
      cursor: pointer;
      border: 1px solid $c-trp;
      img {
        max-width: 100%;
      }
    }
    .swiper-slide-thumb-active {
      border: 1px solid $c-green;
    }
    .custom-swiper-btn {
      top: calc(50% - 10px);
      width: 20px;
      height: 20px;
      .icon {
        width: 20px;
        height: 20px;
      }
    }
    .custom-swiper-btn__next .icon {
      margin-left: -14px;
    }
    .custom-swiper-btn__prev .icon {
      margin-right: -14px;
    }
  }
}