@import 'src/assets/css/common/components-import';
.slider-shops {
  width: 100%;
}
.swiper-shops {
  .swiper-container {
    overflow: hidden;
    width: 100%;
    max-width: 1210px;
    padding: 20px;
    &:not(.swiper-container-initialized) {
      .swiper-slide {
        max-width: 350px;
        margin: 0 80px 0 0;
      }
    }
    @media (max-width: 1200px) {
      max-width: 994px;
    }
    @media (max-width: 1023px) {
      max-width: 738px;
    }
    @media (max-width: 767px) {
      max-width: 575px;
    }
    @media (max-width: 575px) {
      max-width: calc(100vw - 30px);
      padding: 0 0 20px;
    }
  }
}