@import '../../assets/css/common/components-import';
body.filter-active {
  overflow: hidden;
}
.catalog {
  &__title {
    margin-bottom: 30px;
    text-align: center;
    letter-spacing: .5px;
    font-size: 30px;
    font-weight: bold;
  }
  .slider-product {
    background: $c-bg;
  }
}
.catalog-descr {
  padding: 80px 0;
  border-top: 1px solid #e0e0e0;
  @media (max-width: 1023px) {
    padding: 60px 0;
  }
  @media (max-width: 575px) {
    padding: 40px 0;
  }
}
.catalog-panel {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}
.catalog-panel.catalog-panel--card {
  .catalog-panel {
    width: calc(100% + 30px);
    margin: 0 -15px;
    padding: 0;
    &__item {
      width: calc(25% - 30px);
      margin: 0 15px 15px;
    }
    &__counter {
      .btn {
        font-size: 13px;
      }
    }
  }
  @media (max-width: 1599px) {
    .catalog-panel {
      padding: 0;
      &__item {
        width: calc(33.3% - 30px);
      }
    }
  }
  @media (max-width: 1023px) {
    .catalog-panel {
      &__item {
        width: calc(50% - 30px);
      }
    }
  }
  @media (max-width: 767px) {
    .catalog-panel {
      width: 100%;
      margin: 0;
      &__item {
        width: 100%;
        margin: 0 0 20px;
      }
    }
  }
}
.catalog-panel.catalog-panel--list {
  @media (min-width: 1024px) {
    flex-direction: column;
    .catalog-panel {
      &__item {
        width: 100%;
        margin: 0;
        padding: 0;
      }
    }
    .product-card {
      max-width: 100%;
      height: auto;
      margin-bottom: 30px;
      &__container {
        display: flex;
        max-height: 100%;
        padding: 30px;
      }
      &__img-wrap {
        margin: auto;
        padding-top: 0;
      }
      &__body {
        position: relative;
        z-index: 11;
        display: flex;
        flex-grow: 1;
        padding: 0;
      }
      &__descr-wrap {
        width: 100%;
        margin: 0 25px;
      }
      &__descr {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-bottom: 25px;
      }
      &__footer {
        max-width: 330px;
        padding-left: 160px;
      }
      &__price-wrap {
        position: relative;
        left: -160px;
        display: flex;
        align-items: baseline;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        height: 0;
        margin: 0;
        padding-right: 0;
        div.price {
          margin: 5px 0 0 0;
          span {
            display: block;
            font-size: 14px;
          }
        }
      }
      .price-per-kg {
        position: relative;
        top: 80px;
        left: -160px;
        display: flex;
        height: 0;
        margin: 0;
      }
      .price-wrap-empty {
        min-height: 0 !important;
      }
      &__counter {
        display: flex;
        visibility: visible;
        flex-wrap: wrap;
        justify-content: flex-start;
        height: auto;
        padding: 0;
        opacity: 1;
        border-radius: 0;
        .counter {
          margin-bottom: 8px;
        }
        .btn {
          width: 100% !important;
          margin: 0 0 8px 0;
        }
      }
      .title {
        height: 133px;
      }
      .price {
        margin: 5px 0;
      }
      .favourite {
        position: static;
        display: flex;
        margin: 15px 0;
        pointer-events: all;
        opacity: 1;
        span {
          display: flex;
          align-items: center;
          margin-left: 15px;
          transition: color .3s;
          color: $c-green;
          font-size: 15px;
          font-weight: bold;
        }
        .icon {
          margin-left: 6px;
        }
        &:hover {
          span {
            color: $c-green-dark;
          }
        }
        &.active {
          pointer-events: all;
          opacity: 1;
        }
        @media (max-width: 1024px) {
          pointer-events: all;
          opacity: 1;
        }
      }
      .backet--empty {
        display: flex !important;
      }
      .backet {
        position: static;
        display: flex;
        align-items: center;
        width: 100%;
        height: auto;
        margin: 15px 0;
        .qty-backet {
          position: static;
          order: 3;
          padding: 2px;
          color: $c-text;
          border-radius: 0;
          background: $c-white;
          font-size: 15px;
          font-weight: bold;
          line-height: 1;
        }
        .icon {
          order: 1;
          width: 32px;
          height: 32px;
          background-image: url('data:image/svg+xml,%3Csvg width=\'36\' height=\'36\' fill=\'none\' xmlns=\'http://www.w3.org/2000/svg\'%3E%3Cpath fill-rule=\'evenodd\' clip-rule=\'evenodd\' d=\'M2.163 2.38a1.038 1.038 0 000 2.077h4.154c.956 0 1.731.775 1.731 1.73v18.087c0 .573.465 1.038 1.039 1.038h16.959a3.808 3.808 0 003.424-2.143l4.333-8.913c.783-1.609-.39-3.482-2.18-3.482H13.24a1.038 1.038 0 100 2.077h18.384c.256 0 .423.267.311.497l-.77 1.584a1.056 1.056 0 00-.098-.004h-17.87a1.038 1.038 0 000 2.077h16.96l-1.009 2.077h-15.95a1.038 1.038 0 100 2.077h14.94l-.536 1.102a1.73 1.73 0 01-1.556.974H10.125V6.188A3.808 3.808 0 006.317 2.38H2.163zm8.914 24.966a3.115 3.115 0 100 6.23 3.115 3.115 0 000-6.23zm15.23 0a3.115 3.115 0 100 6.23 3.115 3.115 0 000-6.23zM10.04 30.462a1.038 1.038 0 112.076 0 1.038 1.038 0 01-2.076 0zm15.23 0a1.039 1.039 0 112.077 0 1.039 1.039 0 01-2.077 0z\' fill=\'%238DC63F\'/%3E%3C/svg%3E');
          background-repeat: no-repeat;
          background-size: contain ;
        }
        span {
          display: flex;
          order: 2;
          padding: 0 5px 0 10px;
          letter-spacing: .02em;
          color: $c-gray6;
          font-size: 15px;
          &::after {
            content: ':';
          }
        }
      }
      .posted {
        position: static;
        flex-grow: 1;
        justify-content: flex-start;
        width: auto;
        max-width: 100%;
        padding: 0 8px 0 0;
        transform: none;
        box-shadow: none;
      }
      @media (max-width: 1599px) {
        &__img-wrap {
          width: 200px;
          height: 200px;
        }
      }
      @media (min-width: $md) {
        &:hover {
          .product-card__counter {
            margin-bottom: 0;
          }
        }
      }
    }
  }
  @media (max-width: 1023px) {
    width: calc(100% + 30px);
    margin: 0 -15px;
    .catalog-panel {
      &__item {
        width: calc(50% - 30px);
        margin: 0 15px 15px;
        padding: 0;
      }
    }
  }
  @media (max-width: 767px) {
    .catalog-panel {
      width: 100%;
      margin: 0;
      &__item {
        width: 100%;
        margin: 0 0 20px;
      }
    }
  }
}
/* Sidebar */

.form-control.sidebar-filter__input {
  height: 28px;
  padding: 0 26px;
  transition: none !important;
  color: #9e9e9e;
  background-image: url('data:image/svg+xml,%3Csvg width=\'26\' height=\'26\' viewBox=\'0 0 26 26\' fill=\'none\' xmlns=\'http://www.w3.org/2000/svg\'%3E%3Cpath d=\'M11.4997 15.9995C13.9849 15.9995 15.9995 13.9849 15.9995 11.4997C15.9995 9.0146 13.9849 7 11.4997 7C9.0146 7 7 9.0146 7 11.4997C7 13.9849 9.0146 15.9995 11.4997 15.9995Z\' stroke=\'black\' stroke-miterlimit=\'10\' stroke-linecap=\'round\' stroke-linejoin=\'round\'/%3E%3Cpath d=\'M15 15L19 19\' stroke=\'black\' stroke-linecap=\'round\' stroke-linejoin=\'round\'/%3E%3C/svg%3E%0A');
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 26px 26px;
  font-size: 10px;
  font-weight: normal;
  font-style: normal;
}
.catalog {
  &-section {
    display: flex;

@include below($lg) {
      flex-wrap: wrap;
    }

    .filter {
      position: relative;
      flex-shrink: 0;
      margin-bottom: 50px;
      padding-right: 50px;

@include below($lg) {
        z-index: 100;
        width: 100%;
        padding: 0;
      }

      .shadow & {
        z-index: 99;
      }
    }
    .filter-more.more.active .more__btn:after {
      content: none !important;
    }
    .more {
      display: flex;
      align-items: center;
      margin-top: 5px;
      margin-bottom: 20px;
      cursor: pointer;
      border-bottom: none !important;
      &:hover span {
        color: $c-main;
      }
      span {
        -webkit-transition: color .5s;
                transition: color .5s;
        color: $c-text;
      }
      &__btn {
        position: relative;
        width: 16px;
        height: 16px;
        margin-left: 5px;
        border-radius: 50%;
        background-color: $c-main;
        &:after {
          position: absolute;
          top: 4px;
          left: 7px;
          width: 2px;
          height: 8px;
          content: '';
          opacity: .8;
          background-color: $white;
        }
        &:before {
          position: absolute;
          top: 7px;
          left: 4px;
          width: 8px;
          height: 2px;
          content: '';
          opacity: .8;
          background-color: $white;
        }
      }
    }
  }
  &-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 15px;

@include below($md) {
      flex-wrap: wrap;
    };

@include below(475px) {
      justify-content: center;
      margin-bottom: 25px;
    }

    &__count {
      @include below($md) {
        margin-bottom: 15px;
      }

@include below(475px) {
        width: 100%;
        text-align: center;
      }
    }
  }
  .form-group {
    .help-block {
      color: $c-error;
      font-size: 14px;
    }
    &.has-success {
      .form-group__input {
        color: $c-bg;
        border-color: #85e592;
        background: #fff;
      }
      &:before {
        position: absolute;
        top: 20px;
        right: 15px;
        width: 18px;
        height: 15px;
      }
    }
  }
}
body {
  &:before {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    transition: .3s;
    opacity: 0;
    background: $c-bg;
  }
  &.shadow, &.filter-opened {
    position: fixed;
    overflow: hidden;
    width: 100%;
    height: 100%;
    &:before {
      z-index: 99;
      opacity: .9;
    }
  }
}
.ajaxfilter-disabled {
  display: block !important;
}
.sidebar-wrap {
  @include below($lg) {
    display: none;
  }
}
.sidebar-right {
  @include above($xl) {
    padding-left: 60px;
  }
}
.sidebar-left {
  @include above($xl) {
    padding-right: 60px;
  }
}
.sidebar-filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 0 60px;

@include below($lg) {
    width: 100%;
    background: none;
    .js-toggle-filter {
      text-transform: uppercase;
      color: #fff !important;
    }
  }

  .form-control.updateFrom, .ajaxfilter-num-from {
    border-right: none;
  }
  input.range-slider {
    visibility: hidden;
    opacity: 0;
  }
  .form {
    background: $white;
  }
  img {
    max-width: 100%;
    margin: auto;

@include below($lg) {
      display: none;
    }
  }
  .submit-filter {
    padding: 15px 0;

@include below($lg) {
      text-align: center;
    }
  }
  .form {
    @include below($xl - 1) {
      overflow-x: hidden;
      overflow-y: auto;
      max-height: 100%;
      margin: 10px 0;
      padding-bottom: 40px;
    }
  }
  > .btn {
    min-width: 290px;
    max-width: 100%;
    margin-bottom: 30px;

@include above($lg + 1) {
      display: none;
    }

    .filter-opened & {
      pointer-events: none;
      &:before {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: '';
        opacity: .9;
        background: $c-bg;
      }
    }
  }
}
.sidebar-filter__input-block {
  display: flex;
  margin-bottom: 5px;
  .form-control {
    width: 50%;
  }
}
.sidebar-filter__header-reset {
  order: 10;
  cursor: pointer;
  color: #000;
  font-size: 12px;
}
.sidebar-filter__header {
  padding: 7px 10px;
  background: $c-bg2;
  @media (max-width: 1199px) {
    height: 50px;
    padding: 12px 20px;
  }
}
.sidebar-filter__close {
  display: flex;
  align-items: center;
  span {
    margin-left: 15px;
    letter-spacing: .03em;
    text-transform: uppercase;
    color: $c-white;
    font-size: 15px;
    font-weight: bold;
  }
  &.active {
    &:before {
      position: absolute;
      z-index: $zindex-fixed;
      top: 0;
      left: 100%;
      width: 100vw;
      height: 100%;
      content: '';
      opacity: .6;
      background: #000;
    }
  }
}
.sidebar-filter__block {
  width: 100%;
}
.filter-more {
  color: $c-green;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
}
.sidebar-filter__item {
  margin: 0 !important;
  padding: 10px 0 0 0;
}
.sidebar-filter__content {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 0 0 15px;
  &.opened .form-group:nth-child(n+7) {
    display: flex !important;
  }
  .form-group {
    width: auto;
    margin-bottom: 20px;
    &:nth-child(n+7) {
      display: none;
    }
    &__link {
      position: relative;
      display: flex;
      margin-top: 8px;
      padding-right: 17px;
      cursor: pointer;
      letter-spacing: .02em;
      color: $c-green;
      &::before {
        position: absolute;
        top: calc(50% - 3px);
        right: 0;
        width: 10px;
        height: 6px;
        content: '';
        background: no-repeat;
        background-image: url('data:image/svg+xml,%3Csvg width=\'11\' height=\'7\' fill=\'none\' xmlns=\'http://www.w3.org/2000/svg\'%3E%3Cpath fill-rule=\'evenodd\' clip-rule=\'evenodd\' d=\'M5.389 5.481L10.035.835l.707.707L5.39 6.895.035 1.542.742.835 5.39 5.48z\' fill=\'%238DC63F\'/%3E%3C/svg%3E');
        background-size: cover;
      }
      .link-hide {
        display: none;
      }
      &.active {
        &::before {
          top: calc(50% - 2px);
          transform: rotate(180deg);
        }
        .link-hide {
          display: block;
        }
        .link-show {
          display: none;
        }
      }
    }
  }
  .irs-max, .irs-min, .irs-from, .irs-to, .irs-slider:before, .irs-slider:after, .irs-single {
    display: none;
  }
  .ajaxfilter-num {
    display: flex;
    flex-direction: column;
    width: 100%;
    .ajaxfilter-inputs {
      position: relative;
      display: flex !important;
      justify-content: flex-start;
      order: -1;
      margin: 0 0 15px;
      background-color: #fff;
    }
    .ajaxfilter-inputs__pref {
      position: absolute;
      top: calc(50% - 9px);
      left: 0;
      pointer-events: none;
      color: $c-bg2;
      font-size: 15px;
      font-weight: 300;
      line-height: 1;
    }
    .ajaxfilter-inputs__pref:nth-of-type(2) {
      left: 40%;
    }
    .ajaxfilter-input:nth-of-type(1):focus ~ .ajaxfilter-inputs__pref:nth-of-type(1) {
      color: #19214f;
    }
    .ajaxfilter-input:nth-of-type(2):focus ~ .ajaxfilter-inputs__pref:nth-of-type(2) {
      color: #19214f;
    }
    .ajaxfilter-input {
      position: relative;
      z-index: 1;
      box-sizing: border-box;
      width: calc(40% - 45px);
      margin: 0 15px 0 30px;
      padding: 8px 0;
      transition: border-bottom .3s;
      letter-spacing: .01em;
      color: $c-text;
      border-bottom: 1px solid #e0e0e0;
      outline: none;
      background-color: transparent;
      font-size: 18px;
      line-height: 1;
      &::-webkit-input-placeholder {
        color: #9e9e9e;
      }
      &::-moz-placeholder {
        color: #9e9e9e;
      }
      &:-ms-input-placeholder {
        color: #9e9e9e;
      }
      &:-moz-placeholder {
        color: #9e9e9e;
      }
      &:hover {
        border-bottom: 1px solid rgba(#4f681e, .5);
      }
      &:focus {
        color: #000;
        border-bottom: 1px solid rgba(#4f681e, 1);
      }
    }
    @media (max-width: 1599px) {
      .ajaxfilter-input {
        width: calc(50% - 35px);
        margin: 0 10px 0 25px;
      }
      .ajaxfilter-inputs__pref:nth-of-type(2) {
        left: 50%;
      }
    }
  }
}
.sidebar-filter__content.sidebar-filter__checkbox-custom {
  display: flex;
  flex-direction: row;
  padding: 10px 0 40px;
  @media (max-width: 1199px) {
    justify-content: flex-start;
  }
}
.checkbox-custom {
  &__label {
    position: relative;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    cursor: pointer;
    border-radius: 16px;
    background: $c-gray;
  }
  @media (min-width: 1200px) {
    margin-right: 1px;
    &__caption {
      position: absolute;
      bottom: calc(100% + 12px);
      left: 0;
      display: none;
      padding: 10px;
      color: $c-text;
      border-radius: 10px;
      background: $c-white;
      box-shadow: 10px 10px 8px 1px rgba(0,0,0,.08);
      font-size: 12px;
      font-weight: normal;
      &:after {
        position: absolute;
        top: 100%;
        left: 10px;
        content: '';
        border: 12px solid transparent;
        border-top: 8px solid #fff;
      }
    }
    &:not(:first-child):last-child {
      .checkbox-custom__caption {
        position: absolute;
        right: 0;
        left: auto;
        box-shadow: -10px 10px 8px 1px rgba(0,0,0,.08);
        &:after {
          right: 10px;
          left: auto;
        }
      }
    }
    &:hover {
      .checkbox-custom__caption {
        display: flex;
      }
    }
  }
  @media (max-width: 1199px) {
    margin-right: 1px;
    &__caption {
      position: absolute;
      top: 100%;
      padding-top: 5px;
      text-align: center;
      color: $c-text;
      font-size: 11px;
      font-weight: normal;
    }
  }
  input:checked ~ &__label {
    background: $c-green;
  }
  .icon {
    display: flex;
    flex-shrink: 0;
  }
  input {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    width: 1px;
    height: 1px;
    opacity: 0;
  }
}
.sidebar-filter__content.sidebar-filter__checkbox-recomends {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: calc(100% + 10px);
  margin: 0 -5px;
  padding: 20px 0;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  @media (max-width: 1199px) {
    border-bottom: none;
  }
}
.checkbox-recomends {
  display: flex;
  flex-shrink: 0;
  width: calc(50% - 10px);
  margin: 4px 5px;
  &__label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px 5px;
    cursor: pointer;
    transition: opacity .3s;
    border-radius: 22px 0px;
    background: $c-gray;
    &:hover {
      opacity: .8;
    }
  }
  &__caption {
    letter-spacing: 0;
    color: $c-white;
    font-size: 15px;
    font-weight: bold;
    line-height: 1;
  }
  &.khit {
    input:checked ~ .checkbox-recomends__label {
      background: #c72c60;
    }
  }
  &.rekomenduem {
    input:checked ~ .checkbox-recomends__label {
      background: #47337a;
    }
  }
  &.aktsiya {
    input:checked ~ .checkbox-recomends__label {
      background: #ae40c7 ;
    }
  }
  &.novinka {
    input:checked ~ .checkbox-recomends__label {
      background: $c-green;
    }
  }
  input {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    width: 1px;
    height: 1px;
    opacity: 0;
  }
}
.filter-reset {
  display: inline-block;
  margin: 10px auto;
  transition: color .3s;
  color: $c-text;
  font-size: 15px;
  &:hover {
    color: $c-green;
  }
}
.catalog-tag-list {
  text-align: left;
  .filter-reset {
    margin: 0 12px 12px 0;
  }
}
.catalog-product-list {
  margin: 0 0 80px 0;
  text-align: center;
  @media (max-width: 1024px) {
    margin: 0 0 60px 0;
  }
  @media (max-width: 575px) {
    margin: 0 0 40px 0;
  }
}
.catalog-product-list__header {
  margin-bottom: 24px;
  .catalog-tag-list {
    display: none;
  }
}
.sidebar-filter__head {
  display: flex;
  padding: 0 0 15px;
  cursor: pointer;
  user-select: none;
  transition: padding .3s, color .3s;
  letter-spacing: .01em;
  text-transform: uppercase;
  color: $c-text;
  font-size: 18px;
  .sidebar-filter__item.closed & {
    padding: 0 20px 10px 0;
  }
  .filter-reset {
    float: right;
    color: #3450f2;
    font-size: 12px;
    font-weight: 500;
  }
  &:not(.reset-hover):hover {
    color: $c-green;
  }
  .tooltip {
    margin-left: 10px;
  }

  // &.checkbox {
  //   input:checked + label {
  //     font-weight: bold;
  //   }

  //   label {
  //     margin-bottom: 0 !important;
  //     padding-right: 30px;
  //     padding-left: 0 !important;
  //     font-size: 13px !important;

  //     &:before {
  //       content: none !important;
  //     }

  //     &:after {
  //       top: 0 !important;
  //       right: 9px;
  //       left: auto !important;
  //     }
  //   }
  // }
}
.sidebar-filter__head.static {
  padding: 10px 20px;
  pointer-events: none;
}
.sidebar-filter__head:not(.static) {
  position: relative;
  padding-right: 20px;
  &:after {
    position: absolute;
    top: calc(50% - 15px);
    right: 0;
    display: inline-block;
    width: 19px;
    height: 19px;
    content: '';
    transition: transform .3s;
    transform: rotate(180deg);
    background-image: url('data:image/svg+xml,%3Csvg width=\'19\' height=\'20\' fill=\'none\' xmlns=\'http://www.w3.org/2000/svg\'%3E%3Cpath fill-rule=\'evenodd\' clip-rule=\'evenodd\' d=\'M10.008 17.772l7.242-7.242.707.707-8.449 8.45-8.45-8.45.708-.707 7.242 7.242V0h1v17.772z\' fill=\'%238DC63F\'/%3E%3C/svg%3E');
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
  }
  .closed & {
    padding-right: 20px;
    &:after {
      transform: rotate(0);
    }
  }
}
body .irs {
  height: 20px;
  margin-bottom: 0px;
  &-bar {
    top: 50%;
    height: 1px;
    border: none;
    background: $c-green;
  }
  &-line {
    top: 50%;
    height: 1px;
    border: none;
    background: #828282;
  }
  .irs-handle {
    position: absolute;
    top: 0;
    display: block;
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: background-color .3s;
    border: none;
    border-radius: 100%;
    background: $c-green;
    &:after {
      position: absolute !important;
      top: calc(50% - 10px) !important;
      left: calc(50% - 10px) !important;
      display: block !important;
      width: 20px !important;
      height: 20px !important;
      content: '';
      transform: none !important;
      background: transparent !important;
    }
    &:hover {
      background: $c-green-dark;
    }
  }
  &-slider {
    top: 2px;
    width: 16px;
    height: 16px;
    margin: 0 -1px;
    transition: background-color .3s;
    border: 2px solid #3450f2;
    background: #fff;
    &:before {
      position: absolute;
      top: -16px;
      right: 0;
      left: 0;
      width: 8px;
      height: 7px;
      margin: auto;
      content: '';
      transform: rotate(45deg);
      background: $c-bg;
      box-shadow: 0 0 2px 0 rgba(0, 0, 0, .21);
    }
    &:after {
      position: absolute;
      top: -21px;
      right: 0;
      left: 0;
      width: 13px;
      height: 8px;
      margin: auto;
      content: '';
      transform: translateX(-1px);
      background: $c-bg;
    }
    &.to {
      margin-right: 1px;
      &:after {
        transform: translateX(-2px);
      }
    }
    &:hover {
      background: #3450f2;
    }
  }
  &-from, &-to, &-single {
    margin-top: -15px;
    padding: 5px;
    color: $c-text;
    background: $c-bg;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .21);
    span {
      margin-left: 5px;
      font-size: 10px;
    }
  }
  &-min, &-max {
    top: 100%;
    visibility: visible !important;
    color: $c-sec;
    background: none;
    span {
      margin-left: 5px;
      font-size: 10px;
    }
  }
}
body {
  &:before {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    transition: .3s;
    opacity: 0;
    background: $c-bg;
  }
  &.shadow, &.filter-opened {
    position: fixed;
    overflow: hidden;
    width: 100%;
    height: 100%;
    &:before {
      z-index: 99;
      opacity: .9;
    }
  }
}
.filter-btn {
  margin-bottom: rem(30);
  text-align: center;

@include above($lg) {
    display: none;
  }

  .btn {
    min-width: rem(290);
    color: $white !important;
  }
}
.sidebar-filter__head-counter {
  margin: 0 0 0 5px;
  padding: 0 7px;
  color: #fff;
  background: #d9d9de;
  font-size: 14px;
  font-weight: bold;
}
.ajaxfilter-combo .form-group {
  transition: transform .3s, opacity .3s;
}
.ajaxfilter-combo .form-group:not(:last-child).deactivate {
  transform: translateY(65px);
  opacity: 0;
}
.ajaxfilter-combo .form-group:not(:first-child).activate {
  transform: translateY(-65px);
  opacity: 0;
}
.catalog-view {
  position: absolute;
  top: 50%;
  right: 0;
  display: flex;
  width: 64px;
  transform: translateY(-50%);
  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 6px;
    cursor: pointer;
    .icon {
      transition: fill .3s;
      fill: $c-green;
    }
    &:hover {
      .icon {
        display: block;
        fill: $c-green-dark;
      }
    }
    &.active {
      cursor: default;
      .icon {
        display: block;
        fill: #bdbdbd;
      }
    }
  }
  @media (max-width: 1024px) {
    display: none;
  }
}
.catalog-btn-more {
  a {
    display: block;
    width: 100%;
    height: 32px;
    text-align: center;
    letter-spacing: .1em;
    text-transform: uppercase;
    color: #000;
    background: #f9f9f9;
    font-size: 10px;
    font-weight: 500;
    font-style: normal;
  }
}
.catalog-ajax-reload {
  display: inline-flex;
  .icon {
    display: block;
  }
}
.catalog-product-list__control-list {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 0;
  .control-list-title {
    margin-right: 30px ;
    font-size: 15px;
    font-weight: bold;
  }
  .form-group {
    z-index: 0;
    width: auto;
    max-width: 100%;
    margin: 0;
  }
  .form-control {
    box-sizing: border-box;
    width: auto;
    max-width: 100%;
    padding: 0;
    transition: box-shadow .3s;
    color: $c-green;
    border-bottom: 1px solid  $c-trp;
    border-radius: 3px;
    outline: 0;
    background: $c-trp;
    font-size: 15px;
    font-weight: normal;
    &:hover:not(:focus) {
      border-bottom: 1px solid $c-trp;
      box-shadow: 0 0 3px 3px rgba(0,0,0,.05);
    }
  }
  .jq-select-multiple, .jq-selectbox__dropdown {
    top: 100%;
  }
  @media (max-width: 768px) {
    .control-list-title {
      display: none;
    }
    .control-list__select {
      margin: 0 5% 0 0;
    }
    .select-qty-show {
      display: none;
    }
  }
  @media (max-width: 575px) {
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
    .control-list__checkbox {
      order: 1;
      margin: 10px 10px 10px 0;
    }
    .control-list__select {
      order: 2;
      max-width: 100%;
      margin: 10px 0;
    }
  }
}
@media (max-width: $sm - 1px) {
  .catalog-product-list__header {
    margin: 0 0 24px;
  }
}
@media (min-width: 1200px) {
  .d-xl-none {
    display: none;
  }
}
@media (max-width: $lg - 1) {
  .sidebar-filter {
    margin: 0 0 0;
    .form {
      max-height: 100%;
      margin: 0;
    }
  }
  .sidebar-filter__block {
    position: fixed;
    z-index: $zindex-fixed;
    top: 0;
    left: -375px;
    visibility: visible;
    width: 100vw;
    max-width: 375px;
    height: 100%;
    transition: left .3s;
    opacity: 1;
    &:not(.is-touchmove) {
      transition: left .3s, transform .3s;
    }
    &.active {
      left: 0;
      visibility: visible;
      padding: 0;
      opacity: 1;
      background: #fff;
      .submit-filter {
        flex-direction: row;
        margin-bottom: 50px;
        padding: 0;
        border: 1px solid transparent;
        &.submit-filter--fixed {
          position: relative;
          .btn-filter-submit {
            width: 185px;
            border-radius: 16px 0px 0px 0px;
          }
          .filter-reset-wrap {
            position: fixed;
            z-index: 1000;
            bottom: 0;
            left: 186px;
            margin-bottom: 0;
            border-radius: 0 16px 0 0;
            background: $c-white;
            box-shadow: 0 3px 8px 0 rgba(0, 0, 0, .08);
          }
        }
      }
    }
  }
  .sidebar-filter__item {
    margin: 0 !important;
    padding: 15px 16px 0;
    border: 1px solid;
    border-color: #e7e7e7 transparent transparent;
  }
  .sidebar-filter__item:first-child:not(.lvl1) {
    padding: 10px 16px;
    border: none;
    .js-wrap-mob-tag {
      .tag {
        margin: 8px 8px 0 0 !important;
        &:last-child {
          margin: 8px 8px 8px 0 !important;
        }
      }
    }
  }
  .ajaxfilter-remove-all-link {
    display: none;
  }
  .catalog-view {
    display: none;
  }
}
@media (min-width: $lg) {
  .sidebar-filter__header {
    display: none;
  }
  .catalog-product-list__header {
    display: flex;
    flex-direction: column;
    margin: 0 0 20px;
    .catalog-tag-list {
      display: block;
    }
  }
  .sidebar-filter__close {
    display: none;
  }
  .sidebar-filter__header-reset {
    display: none;
  }
  .sidebar-filter {
    .submit-filter {
      display: flex;
      align-items: center;
      flex-direction: column;
    }
  }
  .catalog-btn-more {
    a {
      transition: background .3s;
      &:hover {
        text-decoration: none;
        color: #fff;
        background: $c-green-dark;
      }
    }
  }
}
.btn-filter-submit {
  position: static;
  right: auto;
  left: auto;
  width: 100%;
  margin-bottom: 15px;
  transition: background .3s, box-shadow .3s !important;
}
.submit-filter {
  &.submit-filter--fixed {
    .btn-filter-submit {
      position: fixed;
      z-index: 1000;
      bottom: 0;
      margin-bottom: 0;
      border-radius: 22px 0px;
      box-shadow: 0px 3px 8px rgba(0, 0, 0, .08);
    }
  }
  @media (min-width: 1199px) {
    &.submit-filter--fixed {
      .btn-filter-submit {
        width: 375px;
      }
    }
  }
  @media (max-width: 1599px) {
    &.submit-filter--fixed {
      .btn-filter-submit {
        width: 300px;
      }
    }
  }
  @media (max-width: 1199px) {
    display: flex;
    height: 40px;
    border-radius: 16px 16px 0px 0px;
    .filter-reset-wrap {
      width: 185px;
      transition: background .5s,box-shadow .3s;
      border-radius: 0px 16px 0px 0px;
    }
    .btn-filter-submit {
      width: 185px;
      margin: 0;
    }
  }
}
.show-mob-filter {
  display: none;
  .btn-catalog-filter-toggle {
    width: 50%;
    height: 40px;
    padding: 0 10px;
    border-radius: 16px 0 0px 0px;
    background-color: $c-green-dark;
    span {
      color: $c-white;
      font-size: 14px;
      font-weight: bold;
    }
  }
  .reset-mob-filter {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    color: $c-text;
    border-radius: 0 16px 0px 0px;
    background: $c-white;
    font-size: 14px;
    font-weight: normal;
  }
  @media (max-width: 1199px) {
    position: fixed;
    z-index: 120;
    bottom: 0;
    left: 50%;
    display: flex;
    width: 100%;
    max-width: 994px;
    transform: translateX(-50%);
    border-radius: 16px 16px 0px 0px;
    box-shadow: 0 3px 24px 0 rgba(0, 0, 0, .1);
  }
  @media (max-width: 1024px) {
    max-width: 994px;
  }
  @media (max-width: 1023px) {
    max-width: 738px;
  }
  @media (max-width: 767px) {
    max-width: 575px;
  }
  @media (max-width: 575px) {
    max-width: 100vw;
  }
}

