@import '../../assets/css/common/components-import';
.index-shops-block {
  position: relative;
  z-index: 0;
  display: flex;
  flex-wrap: wrap;
  min-height: 632px;
  padding: 80px 0;
  &::after {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 190px;
    height: 100%;
    content: '';
    background: $c-green;
  }
  &__title {
    justify-content: flex-end;
    width: 55%;
  }
  .left-icon {
    position: absolute;
    top: 35%;
    right: 0;
    width: 100%;
    max-width: 400px;
  }
  .link-arrow {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 45%;
    margin-bottom: 18px;
    &__link {
      justify-content: flex-end;
    }
  }
  @media (max-width: 1200px) {
    &__title {
      width: 63%;
    }
    .link-arrow {
      width: 37%;
    }
    .left-icon {
      top: 35%;
      right: -10%;
      width: 100%;
      max-width: 300px;
    }
  }
  @media (max-width: 767px) {
    &__title {
      justify-content: flex-start;
      width: 100%;
      padding-left: 15px;
    }
    .link-arrow {
      justify-content: flex-start;
      width: 100%;
      &__link span {
        width: 180px;
        padding-left: 15px;
        color: $c-white;
      }
    }
  }
  @media (max-width: 575px) {
    padding: 40px 0 80px;
    &::after {
      position: absolute;
      z-index: -1;
      top: 0;
      left: -15px;
      width: 50%;
      height: 100%;
      content: '';
      background: $c-green;
    }
    &__title {
      padding-left: 0;
    }
    .link-arrow {
      justify-content: flex-start;
      width: 100%;
      &__link {
        justify-content: flex-start;
        width: 100%;
        span {
          width: 45%;
          padding-left: 0;
          color: $c-white;
        }
      }
    }
  }
}