@import 'src/assets/css/common/components-import';
.sertif-card {
  @media (min-width: 1024px) {
    &:hover {
      .sertif-card__img-wrap {
        visibility: hidden;
        // height: 0;
        opacity: 0;
      }
      .sertif-card__descr {
        z-index: 3;
        visibility: visible;
        height: auto;
        opacity: 1;
      }
    }
  }
  &__img-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px ;
    transition: opacity .3s, visibility .3s, height .5s ease;
  }
  &__img {
    margin: auto;
  }
  &__descr {
    .head {
      margin-bottom: 7px;
      text-align: center;
      color: $c-text;
      font-size: 16px;
      font-weight: bold;
    }
    .body {
      color: $c-text;
      background: $c-white;
      font-size: 14px;
      font-weight: 300;
      line-height: 1.2;
    }
    @media (min-width: 1024px) {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 50%;
      visibility: hidden;
      width: 100%;
      height: 0;
      margin: -10px;
      padding: 10px;
      transition: opacity .3s, visibility .3s, height .5s ease;
      transform: translateX(-50%);
      opacity: 0;
      border-radius: 22px 0px;
      background: $c-white;
      box-shadow: 0px 3px 8px rgba(0, 0, 0, .08);
      .body {
        overflow: hidden;
        max-height: 211px;
      }
    }
    @media (max-width: 1024px) {
      margin-top: 20px;
    }
  }
}