@import 'src/assets/css/common/components-import';
.swiper-index-news {
  .swiper-container {
    overflow: hidden;
    .news-card {
      &__link {
        background: $c-white;
      }
    }
    &:not(.swiper-container-initialized) {
      padding: 40px 0;
      .swiper-wrapper {
        display: block;
        width: 100%;
        max-height: 388px;
      }
      .swiper-slide {
        display: inline-block;
        float: left;
        border-radius: 22px 0px;
        background: $c-white;
        &:nth-child(1) {
          max-width: 370px;
          margin: 0 30px 0 0;
        }
        &:nth-child(2) {
          max-width: 508px;
          margin: 0 0 30px 0;
        }
        &:nth-child(3) {
          max-width: 508px;
          margin: 0;
        }
      }
      @media (max-width: 1600px) {
        .swiper-slide {
          &:nth-child(1) {
            max-width: 350px;
            margin: 0 25px 0 0;
          }
          &:nth-child(2) {
            max-width: 54%;
            margin: 0 0 30px 0;
          }
          &:nth-child(3) {
            max-width: 54%;
            margin: 0;
          }
        }
      }
      @media (max-width: 1200px) {
        .swiper-slide {
          &:nth-child(1) {
            max-width: 300px;
            margin: 0 20px 0 0;
            .news-card__img-wrap {
              height: 190px;
            }
          }
          &:nth-child(2) {
            max-width: 54%;
            margin: 0 0 30px 0;
          }
          &:nth-child(3) {
            max-width: 54%;
            margin: 0;
          }
        }
      }
      @media (max-width: 767px) {
        .swiper-wrapper {
          display: flex;
          width: 100%;
          max-height: none;
        }
        .swiper-slide {
          display: flex;
          float: none;
          &:nth-child(1), &:nth-child(2), &:nth-child(3) {
            max-width: 100%;
            margin: 0;
            .news-card__img-wrap {
              height: 208px;
            }
          }
        }
      }
      & ~ .custom-swiper-btn, & ~ .swiper-pagination {
        display: none;
      }
    }
    @media (max-width: 767px) {
      max-width: 575px;
      .swiper-slide {
        max-width: 575px;
        .news-card {
          &__img-wrap {
            height: 200px;
          }
        }
      }
    }
    @media (max-width: 575px) {
      max-width: calc(100vw - 20px);
      padding: 0 0 20px 0;
    }
  }
}