// @import '../../assets/css/common/components-import';
// select.custom-select {
//   padding: 5px 10px;
//   border-top: none;
//   border-right: none;
//   border-left: none;
//   font-family: $f-main;
// }
// .form-group-select {
//   z-index: 5 !important;
// }
// .jq-checkbox, .jq-radio {
//   position: relative;
//   display: inline-block;
//   overflow: hidden;
//   -webkit-user-select: none;
//      -moz-user-select: none;
//       -ms-user-select: none;
//           user-select: none;
// }
// .jq-checkbox input, .jq-radio input {
//   position: absolute;
//   z-index: -1;
//   margin: 0;
//   padding: 0;
//   opacity: 0;
// }
// .jq-file {
//   position: relative;
//   display: inline-block;
//   overflow: hidden;
// }
// .jq-file input {
//   position: absolute;
//   top: 0;
//   right: 0;
//   height: auto;
//   margin: 0;
//   padding: 0;
//   opacity: 0;
// }
// .jq-file__name {
//   overflow: hidden;
//   white-space: nowrap;
//   text-overflow: ellipsis;
// }
// .jq-selectbox, .jq-select-multiple {
//   position: relative;
//   display: inline-block;
// }
// .jq-selectbox select, .jq-select-multiple select {
//   position: absolute;
//   top: 0;
//   left: 0;
//   visibility: hidden;
//   width: 100%;
//   height: 100%;
//   margin: 0;
//   padding: 0;
//   opacity: 0;
// }
// .jq-selectbox li, .jq-select-multiple li {
//   -webkit-user-select: none;
//      -moz-user-select: none;
//       -ms-user-select: none;
//           user-select: none;
//   white-space: nowrap;
// }
// .jq-selectbox {
//   &:not(.opened) {
//     z-index: 0;
//   }
// }
// .jq-selectbox__select {
//   position: relative;
//   height: 100%;
//   cursor: pointer;
// }
// .jq-selectbox__select-text {
//   display: block;
//   overflow: hidden;
//   padding: 0 15px 2px 0;
//   -webkit-user-select: none;
//      -moz-user-select: none;
//       -ms-user-select: none;
//           user-select: none;
//   white-space: nowrap;
//   letter-spacing: unset!important;
//   text-overflow: ellipsis;
//   color: #181717;
//   font-size: 15px;
//   line-height: 1;
// }
// .jq-selectbox__trigger {
//   position: absolute;
//   top: calc(50% - 5px);
//   right: 0;
//   width: 10px;
//   height: 10px;
//   transform: rotate(0deg);
//   background-image: url('data:image/svg+xml,%3Csvg width=\'11\' height=\'11\' fill=\'none\' xmlns=\'http://www.w3.org/2000/svg\'%3E%3Cpath fill-rule=\'evenodd\' clip-rule=\'evenodd\' d=\'M5.387 8.481l4.646-4.646.707.707-5.353 5.353L.033 4.542l.707-.707L5.387 8.48z\' fill=\'%238DC63F\'/%3E%3C/svg%3E');
//   background-repeat: no-repeat;
//   background-position: center;
//   background-size: cover;
// }
// .custom-select.opened .jq-selectbox__trigger {
//   transform: rotate(180deg);
// }
// .jq-selectbox__dropdown {
//   position: absolute;
//   z-index: 1;
//   top: calc(100% + 10px) !important;
//   bottom: auto !important;
//   left: 0 !important;
//   overflow: hidden;
//   width: 100% !important;
//   transition: all .3s;
//   border-radius: 10px;
//   background: #fff;
//   box-shadow: 0px 2px 20px rgba(0, 0, 0, .08);
// }
// .jq-selectbox__search input {
//   -webkit-appearance: textfield;
// }
// .jq-selectbox__search input::-webkit-search-cancel-button, .jq-selectbox__search input::-webkit-search-decoration {
//   -webkit-appearance: none;
// }
// .jq-selectbox__dropdown ul {
//   position: relative;
//   overflow: auto;
//   overflow-x: hidden;
//   -webkit-overflow-scrolling: touch;
//   list-style: none;
//   background: #fff;
// }
// .jq-select-multiple ul {
//   position: relative;
//   overflow-x: hidden;
//   -webkit-overflow-scrolling: touch;
// }
// .jq-selectbox__dropdown li {
//   overflow: hidden;
//   box-sizing: border-box;
//   margin: 0;
//   padding: 8px 20px;
//   cursor: pointer;
//   user-select: none;
//   white-space: nowrap;
//   text-overflow: ellipsis;
//   color: $c-text;
//   border-radius: 0;
//   background: #fff;
//   box-shadow: none;
//   font-size: 15px;
//   &:hover {
//     background-color: $c-gray4;
//   }
//   &:before {
//     content: unset;
//   }
//   &.sel {
//     color: #8dc63f;
//   }
// }
// .jq-number {
//   display: inline-block;
// }
// .jq-number__field input {
//   text-align: left; /* для Opera Presto */

//   -moz-appearance: textfield;
// }
// .jq-number__field input::-webkit-inner-spin-button, .jq-number__field input::-webkit-outer-spin-button {
//   margin: 0; /* в каких-то браузерах присутствует отступ */

//   -webkit-appearance: none;
// }
