-
	var pages = [
		{name: 'Главная', link: 'index'},
		{name: 'Эталон', link: 'etalon'},
		{name: 'Пустая', link: 'empty'},
		{name: 'Блог', link: 'blog'},
		{name: 'Блог внутренняя', link: 'blog-inner-page'},
		{name: 'О компании', link: 'about'},
		{name: 'Бренды', link: 'brand'},
		{name: 'Бренды внутренняя', link: 'brand-inner-page'},
		{name: 'Контакты', link: 'contacts'},
		{name: 'Каталог разводная', link: 'catalog-start'},
		{name: 'Каталог', link: 'catalog'},
		{name: 'Страница товара', link: 'product-page'},
		{name: 'Корзина', link: 'basket'},
		{name: 'Личный кабинет. Профиль', link: 'profil'},
		{name: 'Личный кабинет. Программа лояльности', link: 'loyalty'},
		{name: 'Личный кабинет. Заказы', link: 'order'},
		{name: 'Личный кабинет. Избранное', link: 'favourite'},
		//- {name: 'Поиск', link: 'search'},

		{name: 'UI KIT', link: 'ui-kit'},
		{name: '404', link: '404'},
		{name: '500', link: '500'},
		{name: 'Карта сайта', link: 'sitemap'}
	]

	pages.sort(function(a, b){
		var nameA=a.name.toLowerCase();
		var nameB=b.name.toLowerCase();
		//- if (nameA < nameB) {
		//- 	return -1
		//- } else if (nameA > nameB) {
		//- 	return 1
		//- } else {
		//- 	return 0 // Никакой сортировки
		//- }
	});

+include-style('pages-viget')
+include-script('pages-viget')


+b.pages-viget
	+e.__menu
		+e('ul').__menu-list
			each item in pages
				+e('li').__menu-item
					+e('a').__menu-link(href= './' + item.link + '.html')= item.name
			+e('li').__menu-item
				+e('a').__menu-link(href= '#') Задача
			+e('li').__menu-item
				+e('a').__menu-link(href= 'https://docs.google.com/spreadsheets/d/1L29rFHnabz2YLBGoqjCHneSVKFeVW56piUQwhe1PU4I/edit?usp=sharing') Декомпозиция
			+e('li').__menu-item
				+e('a').__menu-link(href= 'https://www.figma.com/file/aNyaOlMSbOfbhCgL9jYbyf/Veska?node-id=91%3A0&viewport=-4685%2C575%2C0.4862944185733795') Дизайн
	+e.__btn
		.media-pointer
