.slider-sertif {
  padding: 80px 0 50px;
  &__title {
    justify-content: center;
  }
  .custom-container {
    margin-bottom: 40px;
  }
  @media (max-width: 1024px) {
    padding: 40px 0;
  }
  @media (max-width: 575px) {
    padding: 20px 0;
  }
}
.swiper-sertif {
  height: 150px;
  .swiper-container {
    overflow: hidden;
    margin: -15px;
    padding: 15px 15px 150px 15px;
    &:not(.swiper-container-initialized) {
      .swiper-slide {
        max-width: 120px;
        margin: 0 60px 0 0;
      }
    }
  }
  .swiper-slide {
    padding: 20px 0;
  }
  @media (max-width: 1024px) {
    height: auto;
    .swiper-container {
      padding: 15px;
    }
  }
}