
.btn.btn--loading-center {
  position: relative;
  &:before {
    position: absolute;
    z-index: 100;
    top: calc(50% - 10px);
    left: calc(50% - 10px);
    display: block;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    content: '';
    transform-origin: 50% 50%;
    animation-name: rotate;
    animation-duration: .6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    border: 2px solid #eee;
    border-top-color: #83af40;
    border-radius: 100%;
  }
}
.btn.btn--loading {
  position: relative;
  padding-left: 40px;
  &:before {
    position: absolute;
    z-index: 100;
    top: calc(50% - 10px);
    left: 10px;
    display: block;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    content: '';
    transform-origin: 50% 50%;
    animation-name: rotate;
    animation-duration: .6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    border: 2px solid #eee;
    border-top-color: #83af40;
    border-radius: 100%;
  }
}
