@import '../../assets/css/common/components-import';
.btn.btn--primary {
  min-width: 100px;
  padding: 12px 14px;
  color: $c-white;
  border-radius: 33px;
  background: $c-green-dark;
  line-height: 1.1;
  @media (min-width: $lg) {
    &:hover {
      background: $c-green;
    }
    &:active {
      background: $c-green-dark;
    }
  }
}

