@import 'src/assets/css/common/components-import';
.contacts-card {
  max-width: 340px;
  border-radius: 22px 0px;
  .title {
    position: relative;
    z-index: 1;
    margin: 20px 0;
    border-bottom: 1px dashed rgba(77, 77, 79, .25);
    font-size: 24px;
    font-weight: bold;
  }
  &__img-wrap {
    display: block;
    max-height: 100px;
  }
  &__img {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100px;
  }
  &__descr {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-right: 30px;
    .cont-link {
      transition: color .3s;
      color: $c-text;
      &:hover {
        color: $c-green;
      }
    }
    .phone {
      color: $c-text;
    }
    .email {
      color: $c-text;
      .cont-link {
        text-decoration: underline;
      }
    }
  }
  &__item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    .icon {
      flex-shrink: 0;
      margin-right: 15px;
    }
  }
}
.contacts-card.rotate-card {
  position: relative;
  width: 100%;
  max-width: 350px;
  height: 100%;
  max-height: 350px;
  margin: auto;
  border-radius: 22px 0px;
  .title {
    text-align: center;
    border-bottom: none;
  }
  .contacts-card {
    &__bg-wrap {
      position: absolute;
      z-index: 0;
      top: 0;
      left: 0;
      overflow: hidden;
      width: 100%;
      max-width: 350px;
      height: 100%;
      max-height: 350px;
      border-radius: 22px 0px;
    }
    &__bg {
      display: block;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: cover;
    }
    &__img-wrap {
      position: relative;
      z-index: 1;
      display: flex;
      align-items: center;
    }
    &__img {
      margin: auto;
    }
    &__front {
      display: flex;
      align-items: center;
      flex-direction: column;
    }
  }
  @media (min-width: 1025px) {
    position: relative;
    min-width: 320px;
    height: 350px;
    margin: auto;

    perspective: 1000px;
    &:hover {
      .contacts-card__front {
        transform: rotateY(180deg);
      }
      .contacts-card__descr {
        transform: rotateY(360deg);
      }
    }
    .contacts-card {
      &__front, &__descr {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        overflow: hidden;
        box-sizing: border-box;
        width: 100%;
        max-width: 350px;
        height: 100%;
        max-height: 350px;
        transition: 1s;
        border-radius: 22px 0px;
        background-color: #fff;

        backface-visibility: hidden;
      }
      &__img-wrap {
        margin-top: 35px;
      }
      &__img {
        width: auto;
        height: auto;
        max-height: 100%;
      }
      &__descr {
        justify-content: center;
        padding: 50px;
        transform: rotateY(180deg);
        box-shadow: 0px 3px 24px rgba(0, 0, 0, .08);
      }
      &__item {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        .icon {
          flex-shrink: 0;
          margin-right: 15px;
        }
      }
    }
  }
  @media (max-width: 1024px) {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    max-width: 350px;
    max-height: 350px;
    margin: auto;
    box-shadow: 0px 3px 24px rgba(0, 0, 0, .08);
    .title {
      margin: 15px 0 0;
    }
    .contacts-card {
      &__descr {
        position: relative;
        padding: 20px 50px;
      }
    }
  }
  @media (max-width: 575px) {
    box-shadow: none;
    .contacts-card {
      &__descr {
        padding: 20px;
      }
    }
  }
}