mixin swiper-wide(args= {})

	//-ПРИМЕР
		+swiper-wide({
			wrapper_mod: '',
			container_mod: '',
			pagination_mod: '',
			arrow_prev_mod: '',
			arrow_next_mod: '',
			pagination: true,
			navigation: true,
		}).CLASS.js-CLASS
			//- Слайды
			.swiper-slide
	+include-style('swiper')
	//- +include-script('swiper')
	+include-script-vendor('swiper.min.js')
	.swiper&attributes(attributes)
		.swiper-container.js-swiper-slider(class= args.container_mod)
			.swiper-wrapper(class= args.wrapper_mod)
				block
		if (args.navigation)
			button.custom-swiper-btn.js-swiper-button-prev(class=args.arrow_prev_mod type='button', aria-label='Предыдущий слайд')
				+icon('i-arrow-swiper')(style='width: 40px; height: 40px; transform: rotate(180deg);')
			button.custom-swiper-btn.js-swiper-button-next(class=args.arrow_next_mod type='button', aria-label='Следующий слайд')
				+icon('i-arrow-swiper')(style='width: 40px; height: 40px; transform: rotate(0deg);')
		if (args.pagination)
			.swiper-pagination.js-swiper-pagination(class= args.pagination_mod)