@import 'src/assets/css/common/components-import';
.window-wide-block {
	height: 317px;
	&::after {
    background: url('../../images/vegetable-png.png');
  }
}
.pseudo-container {
  position: relative;
  z-index: 1;
  display: block;
  max-width: 100%;
  margin: 0 auto;
  line-height: 1.4;
  &::before {
    z-index: 2;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    opacity: .1 ;
    background: url('../../images/vegetable-png.png') no-repeat;
    background-position: 0 0;
    background-size: 100%;

    @include pseudo;
  }
  .pseudo-bg {
    position: relative;
    z-index: 1;
    width: 510px;
    height: auto;
    margin-top: 20px;
    padding: 45px;
    border-radius: 22px 0 0 0;
    background: $c-bg2;
    &::after {
      z-index: -1;
      top: 0;
      left: 100%;
      width: 100%;
      height: 100%;
      background: url('../../images/pseudo-pic.jpg') no-repeat;
      background-size: cover;

      @include pseudo;
    }
    &__text {
      width: calc(100% + 272px);
      color: $c-white;
      font-size: 22px;
      font-weight: 300;
      &:not(:last-child) {
        margin-bottom: 40px;
      }
    }
  }
  @media (max-width: 1420px) {
    .pseudo-bg {
      &__text {
        width: calc(100% + 100px);
      }
    }
  }
  @media (max-width: 1100px) {
    .pseudo-bg {
      &__text {
        width: calc(100% + 50px);
      }
    }
  }
  @media (max-width: 1024px) {
    .pseudo-bg {
      width: 350px;
      padding: 30px 0 30px 30px;
      &__text {
        width: 100%;
        font-size: 18px;
        &:not(:last-child) {
          margin-bottom: 20px;
        }
      }
    }
  }
  @media (max-width: 575px) {
    &::before {
      left: -15px;
      width: 100vw;
    }
    .pseudo-bg {
      width: 100vw;
      margin-bottom: 180px;
      margin-left: -15px;
      padding: 30px 15px;
      border-radius: 0;
      &::after {
        z-index: -1;
        top: 100%;
        left: 0;
        width: 100%;
        height: 150px;
        background: url('../../images/pseudo-pic.jpg') no-repeat;
        background-size: cover;

        @include pseudo;
      }
    }
  }
}
