mixin counter(args = {})
	+include-style('counter')
	+include-script('counter')
	//-
		+counter({
			max_value: 2.6,
			min_value: 0.2,
			baseStep: 0.2,
			step: 0.2
		})
	- var id = Math.floor(Math.random() * 9999999999)
	.counter&attributes(attributes)
		input.counter-input.js-counter-input(
			maxlength='5',
			type='text',
			value= args.value || '0,805',
			data-min-value= args.min_value ||  '1',
			data-suffix= args.unit,
			data-max-value= args.max_value,
			data-step= args.step,
			data-base-step= args.baseStep,
			name= 'NAME' + id, aria-label='Счетчик')
		button.counter-btn.counter-minus.js-counter-minus(type='button') -
		button.counter-btn.counter-plus.js-counter-plus(type='button') +
		.disabled-text Выбрано максимальное количество
