mixin custom-select(args = {})
	+include-script('form-mixin/select')
	//- +include-script-vendor('jquery.formstyler.min.js')
	+include-style('form-mixin/select')

	.form-group.form-group-select(class= args.fg_mod)
		if(args.label)
			label.form-control-label(for= 'ID' + id class= args.label_mod)= args.label || 'label'
			if (args.label_desc)
				span.field-label-descr= args.label_desc
			if (args.required)
				span.label-required *
		select.custom-select.form-control&attributes(attributes)
			each item, index in args.items
				if item.disabled
					option(value=item.value data-url= item.url disabled data-color=args.color data-deliveryCenter=item.center data-counter= item.counter)!=item.value
				else
					if (item.default)
						option(disabled selected value data-hidden data-deliveryCenter=item.center)!=item.value
					else
						option(value=item.value data-url= item.url data-color=args.color data-deliveryCenter=item.center data-counter= item.counter)!=item.value
