@import '../../assets/css/common/components-import';
.preloader {
  position: absolute;
  z-index: 100;
  top: calc(50% - 10px);
  left: calc(50% - 10px);
  display: block;
  width: 28px;
  height: 28px;
  pointer-events: none;
  &:before {
    position: absolute;
    z-index: 100;
    top: calc(50% - 10px);
    left: 10px;
    display: block;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    content: '';
    transform-origin: 50% 50%;
    animation-name: rotate;
    animation-duration: .6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    border: 2px solid #eee;
    border-top-color: #83af40;
    border-radius: 100%;
  }
}
.preloader-block {
  position: relative;
  z-index: 1;
  &:before {
    position: absolute;
    z-index: $zindex-fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    opacity: .9;
    background-color: #fff;
  }
  &:after {
    position: absolute;
    z-index: $zindex-fixed;
    top: 20vh;
    left: calc(50% - 40px);
    display: block;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    content: '';
    transform-origin: 50% 50%;
    animation-name: rotate;
    animation-duration: .6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    border: 4px solid #eee;
    border-top-color: #8dc63f;
    border-radius: 100%;
  }
}
@keyframes preloader {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes preloader-before {
  0% {
    height: 0%;
  }
  25% {
    height: 0%;
  }
  50% {
    height: 100%;
  }
  75% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
// .preloader-dot {
// 	width: 100%;
// 	position: relative;
// 	&:before {
// 		con
// 	}
// }
