mixin slider-brand(args= {})
	+include-style('slider-brand')
	+include-script('slider-brand')
	.slider-brand
		.custom-container.custom-container--lg
			h2.slider-brand__title=args.title
			+swiper({
				wrapper_mod: '',
				container_mod: '',
				pagination_mod: '',
				arrow_prev_mod: 'custom-swiper-btn__prev',
				arrow_next_mod: 'custom-swiper-btn__next',
				pagination: true,
				navigation: true,
			}).swiper-brand.js-swiper-brand
				//- Слайды
				.swiper-slide
					+card-slide({
						link: true,
						href: '/local/templates/html/brand-inner-page.html',
						img_src: 'images/brand-01.jpg',
						title: 'Riedenburger Brauhaus'
					})
						p Riedenburger Brauhaus — пивоварня в Риденбурге, в долине Альтмюль в Нижней Баварии. Пивоварня была куплена семьей Кригер в 1866 году и является пятым поколением, принадлежащим семье. При штатной численности около 30 человек ежегодно производится около 30 000 гектолитров пива. Пиво распространяется по всей Германии и в 17 странах мира. С 1994 года пивоварня производилась исключительно с экологической точки зрения.
				.swiper-slide
					+card-slide({
						link: true,
						href: '/local/templates/html/brand-inner-page.html',
						img_src: 'images/brand-02.jpg',
						title: 'Riedenburger Brauhaus'
					})
						p Riedenburger Brauhaus — пивоварня в Риденбурге, в долине Альтмюль в Нижней Баварии. 
				.swiper-slide
					+card-slide({
						link: true,
						href: '/local/templates/html/brand-inner-page.html',
						img_src: 'images/brand-03.jpg',
						title: 'Riedenburger Brauhaus'
					})
						p Riedenburger Brauhaus — пивоварня в Риденбурге, в долине Альтмюль в Нижней Баварии. Пивоварня была куплена семьей Кригер в 1866 году и является пятым поколением, принадлежащим семье. При штатной численности около 30 человек ежегодно производится около 30 000 гектолитров пива. 
				.swiper-slide
					+card-slide({
						link: true,
						href: '/local/templates/html/brand-inner-page.html',
						img_src: 'images/brand-04.jpg',
						title: 'Riedenburger Brauhaus'
					})
						p Riedenburger Brauhaus — пивоварня в Риденбурге, в долине Альтмюль в Нижней Баварии. Пивоварня была куплена семьей Кригер в 1866 году и является пятым поколением, принадлежащим семье. При штатной численности около 30 человек ежегодно производится около 30 000 гектолитров пива. 
				.swiper-slide
					+card-slide({
						link: true,
						href: '/local/templates/html/brand-inner-page.html',
						img_src: 'images/brand-05.jpg',
						title: 'Riedenburger Brauhaus'
					})
						p Riedenburger Brauhaus — пивоварня в Риденбурге, в долине Альтмюль в Нижней Баварии. Пивоварня была куплена семьей Кригер в 1866 году и является пятым поколением, принадлежащим семье. При штатной численности около 30 человек ежегодно производится около 30 000 гектолитров пива. Пиво распространяется по всей Германии и в 17 странах мира. С 1994 года пивоварня производилась исключительно с экологической точки зрения.
				.swiper-slide
					+card-slide({
						link: true,
						href: '/local/templates/html/brand-inner-page.html',
						img_src: 'images/brand-06.jpg',
						title: 'Riedenburger Brauhaus'
					})
						p Riedenburger Brauhaus — пивоварня в Риденбурге, в долине Альтмюль в Нижней Баварии. Пивоварня была куплена семьей Кригер в 1866 году и является пятым поколением, принадлежащим семье. При штатной численности около 30 человек ежегодно производится около 30 000 гектолитров пива. Пиво распространяется по всей Германии и в 17 странах мира. С 1994 года пивоварня производилась исключительно с экологической точки зрения.
				.swiper-slide
					+card-slide({
						link: true,
						href: '/local/templates/html/brand-inner-page.html',
						img_src: 'images/brand-07.jpg',
						title: 'Riedenburger Brauhaus'
					})
						p Riedenburger Brauhaus — пивоварня в Риденбурге, в долине Альтмюль в Нижней Баварии. Пивоварня была куплена семьей Кригер в 1866 году и является пятым поколением, принадлежащим семье. При штатной численности около 30 человек ежегодно производится около 30 000 гектолитров пива. Пиво распространяется по всей Германии и в 17 странах мира. С 1994 года пивоварня производилась исключительно с экологической точки зрения.
			