// ICON STATE
$default: url('data:image/svg+xml,%3Csvg width=\'24\' height=\'24\' viewBox=\'0 0 24 24\' fill=\'none\' xmlns=\'http://www.w3.org/2000/svg\'%3E%3Cpath d=\'M1 7.5C1 3.91015 3.91015 1 7.5 1H16.5C20.0899 1 23 3.91015 23 7.5V16.5C23 20.0899 20.0899 23 16.5 23H7.5C3.91015 23 1 20.0899 1 16.5V7.5Z\' fill=\'white\' stroke=\'%23E4E9E1\' stroke-width=\'2\'/%3E%3C/svg%3E%0A');
$default-checked: url('data:image/svg+xml,%3Csvg width=\'12\' height=\'8\' fill=\'none\' xmlns=\'http://www.w3.org/2000/svg\'%3E%3Cpath fill-rule=\'evenodd\' clip-rule=\'evenodd\' d=\'M10.947.312C10.694.06 10.193-.076 9.84.276l.354.354L9.84.276l-5.19 5.19-2.57-2.57c-.245-.245-.559-.16-.659-.124-.14.05-.267.14-.367.24-.1.1-.19.227-.24.368-.037.1-.122.413.124.66l3.014 3.013a.867.867 0 00.254.254c.246.244.558.16.658.123.141-.05.267-.14.367-.24a1.13 1.13 0 00.117-.137l5.635-5.634c.352-.353.216-.854-.036-1.107z\' fill=\'%23fff\'/%3E%3C/svg%3E');
$disabled: url('data:image/svg+xml,%3Csvg width=\'24\' height=\'24\' viewBox=\'0 0 24 24\' fill=\'none\' xmlns=\'http://www.w3.org/2000/svg\'%3E%3Cpath d=\'M7.5 1H16.5C20.0899 1 23 3.91015 23 7.5V16.5C23 20.0899 20.0899 23 16.5 23H7.5C3.91015 23 1 20.0899 1 16.5V7.5C1 3.91015 3.91015 1 7.5 1Z\' fill=\'%23F4F7F2\' stroke=\'%23E4E9E1\' stroke-width=\'2\'/%3E%3C/svg%3E%0A');
$disabled-checked: url('data:image/svg+xml,%3Csvg width=\'24\' height=\'24\' viewBox=\'0 0 24 24\' fill=\'none\' xmlns=\'http://www.w3.org/2000/svg\'%3E%3Cpath d=\'M7.5 1H16.5C20.0899 1 23 3.91015 23 7.5V16.5C23 20.0899 20.0899 23 16.5 23H7.5C3.91015 23 1 20.0899 1 16.5V7.5C1 3.91015 3.91015 1 7.5 1Z\' fill=\'%23F4F7F2\' stroke=\'%23E4E9E1\' stroke-width=\'2\'/%3E%3Crect x=\'5.40796\' y=\'12.0293\' width=\'3\' height=\'7.00865\' rx=\'1.5\' transform=\'rotate(-45 5.40796 12.0293)\' fill=\'%23C3C9BE\'/%3E%3Crect x=\'16.4404\' y=\'6.78442\' width=\'3\' height=\'11.3834\' rx=\'1.5\' transform=\'rotate(45 16.4404 6.78442)\' fill=\'%23C3C9BE\'/%3E%3C/svg%3E%0A');
.checkbox {
  position: relative;
  input {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    width: 1px;
    height: 1px;
    opacity: 0;
  }
  label {
    display: block;
    padding: 0 0 0 32px;
    cursor: pointer;
    color: $c-text;
    font-size: 15px;
    font-weight: normal;
  }
  label:before {
    position: absolute;
    top: calc(50% - 10px);
    left: 0;
    display: block;
    width: 19px;
    height: 19px;
    content: '';
    user-select: none;
    transition: box-shadow .2s;
    border: 1px solid #828282;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
  }
  input:not(:disabled) ~ label:hover:before {
    box-shadow: 0 0 3px 3px rgba(0,0,0,.1);
  }
  input:disabled ~ label {
    cursor: no-drop;
  }
  input:checked ~ label:before {
    border: 1px solid $c-trp;
    background-color: $c-green;
    background-image: $default-checked;
  }
  input:disabled ~ label:before {
    border: 1px solid $c-gray;
    background-color: $c-gray2;
  }
  input:checked:disabled ~ label:before {
    border: 1px solid $c-trp;
    background-color: $c-gray;
    background-image: $default-checked;
  }
}
