@import 'src/assets/css/common/components-import';
.mob-menu {
  position: fixed;
  z-index: $zindex-fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 320px;
  height: 100vh;
  transition: left .3s;
  background-color: #fff;
  &:not(.active) {
    left: -400px;
  }
}
.mob-logout-wrap {
  padding: 10px 0;
  background: #fafafa;
}
.mob-logout {
  display: flex;
  align-items: center;
  padding: 10px 15px 10px 11px;
  span {
    margin: 0 0 0 10px;
    color: $c-main;
  }
}
.mob-menu-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.mob-menu-top {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 45px;
  padding: 12px 15px;
  background: $c-bg2;
}
.mob-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
  .icon {
    margin-right: 15px;
    fill: $c-green;
  }
}
.mob-menu-title {
  text-transform: uppercase;
  color: $c-white;
  font-size: 15px;
}
.mob-menu-body-wrap {
  display: flex;
  overflow-x: hidden;
  overflow-y: auto;
  flex-direction: column;
  height: 100%;
  padding: 0;
}
.mob-menu-body {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  &__title {
    position: relative;
    display: flex;
    align-items: center;
    padding: 9px 15px 9px 11px;
    text-transform: uppercase;
    color: $c-text;
    font-size: 15px;
    font-weight: bold;
    .icon {
      margin-right: 10px;
      fill: $c-green;
    }
    .nav-toggle {
      position: absolute;
      top: calc(50% - 10px);
      right: 15px;
      display: flex;
      width: 20px;
      height: 17px;
      background: url('data:image/svg+xml,%3Csvg width=\'20\' height=\'17\' viewBox=\'0 0 20 17\' fill=\'none\' xmlns=\'http://www.w3.org/2000/svg\'%3E%3Cpath fill-rule=\'evenodd\' clip-rule=\'evenodd\' d=\'M17.7724 7.9898L10.5301 0.747514L11.2372 0.0404086L19.6866 8.4898L11.2372 16.9392L10.5301 16.2321L17.7724 8.9898L-3.47479e-07 8.9898L2.41012e-07 7.9898L17.7724 7.9898Z\' fill=\'%238DC63F\'/%3E%3C/svg%3E%0A') no-repeat 50% 50%;
    }
    &.active {
      color: $c-white;
      background: $c-green;
      .icon {
        fill: $c-white;
      }
    }
  }
}
.mob-header-top-nav {
  padding: 0 15px;
  .nav-toggle {
    width: 20px;
    height: 17px;
    background: url('data:image/svg+xml,%3Csvg width=\'20\' height=\'17\' viewBox=\'0 0 20 17\' fill=\'none\' xmlns=\'http://www.w3.org/2000/svg\'%3E%3Cpath fill-rule=\'evenodd\' clip-rule=\'evenodd\' d=\'M17.7724 7.9898L10.5301 0.747514L11.2372 0.0404086L19.6866 8.4898L11.2372 16.9392L10.5301 16.2321L17.7724 8.9898L-3.47479e-07 8.9898L2.41012e-07 7.9898L17.7724 7.9898Z\' fill=\'%238DC63F\'/%3E%3C/svg%3E%0A') no-repeat 50% 50%;
    &.active {
      transform: rotate(90deg);
    }
  }
  .nav-list {
    display: flex;
    flex-direction: column;
  }
  .nav-item {
    position: relative;
    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 5px;

      stroke: $c-white;
    }
    &.active {
      .nav-link {
        color: $c-green;
      }
      .icon {
        transform: rotate(180deg);

        stroke: $c-green;
      }
    }
  }
  .nav-link {
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
    transition: color .3s;
    white-space: nowrap;
    text-transform: uppercase;
    color: $c-text;
  }
  .nav-lvl2 {
    position: relative;
    z-index: $zindex-dropdown;
    top: 100%;
    left: 0;
    display: block;
    visibility: hidden;
    min-width: 215px;
    height: 0;
    transition: opacity .3s, top .3s, visibility .3s;
    opacity: 0;
    &::before {
      position: absolute;
      top: 0;
      left: 30%;
      width: 15px;
      height: 15px;
      content: '';
      transform: rotate(45deg);
      background: #fff;
    }
    &.active {
      visibility: visible;
      height: 100%;
      opacity: 1;
    }
  }
  .nav-lvl2-item {
    &.active {
      .nav-lvl2-link {
        color: $c-green-dark;
      }
    }
  }
  .nav-lvl2-link {
    display: block;
    padding: 10px;
    transition: color .3s ease, background .3s;
    color: $c-text;
    background-color: #fff;
    font-size: 15px;
  }
  @media (min-width: $md) {
    display: none;
  }
}
.mob-header-nav {
  visibility: hidden;
  height: 0;
  opacity: 0;
  &.active {
    visibility: visible;
    height: auto;
    opacity: 1;
  }
  .eco {
    display: inline;
    color: $c-green;
  }
  .nav-item {
    &.has-nav {
      position: relative;
      .nav-toggle {
        position: absolute;
        top: 10px;
        right: 15px;
        width: 20px;
        height: 17px;
        background: url('data:image/svg+xml,%3Csvg width=\'20\' height=\'17\' viewBox=\'0 0 20 17\' fill=\'none\' xmlns=\'http://www.w3.org/2000/svg\'%3E%3Cpath fill-rule=\'evenodd\' clip-rule=\'evenodd\' d=\'M17.7724 7.9898L10.5301 0.747514L11.2372 0.0404086L19.6866 8.4898L11.2372 16.9392L10.5301 16.2321L17.7724 8.9898L-3.47479e-07 8.9898L2.41012e-07 7.9898L17.7724 7.9898Z\' fill=\'%238DC63F\'/%3E%3C/svg%3E%0A') no-repeat 50% 50%;
        &.active {
          transform: rotate(90deg);
        }
      }
    }
  }
  .nav-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 25px;
    white-space: nowrap;
    text-transform: uppercase;
    color: $c-text;
    font-size: 15px;
    &.active {
      color: $c-white;
      background: $c-green-dark;
    }
  }
  .nav-lvl2-item.active {
    .nav-lvl2-link {
      color: $c-green;
    }
  }
  .nav-lvl2-link {
    display: flex;
    align-items: center;
    min-height: 35px;
    padding: 8px 20px;
    text-decoration: none;
    color: #000;
    font-size: 14px;
    font-weight: 500;
  }
  .nav-lvl2 {
    border-top: 1px solid #f9f9f9;
    border-bottom: 1px solid #f9f9f9;
    &:not(.active) {
      display: none;
    }
  }

  // .nav-toggle {
  // 	width: 20px;
  // 	height: 20px;
  // 	background-size: 20px;
  // 	background-position: center;
  // 	background-repeat: no-repeat;
  // 	background-image: url("data:image/svg+xml,%3Csvg fill='%23000' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 6' id='i-arrow2'%3E%3Cpath d='M.714 4.412L5 .126l4.286 4.286L8.28 5.416 5 2.135 1.718 5.416.714 4.412z'%3E%3C/path%3E%3C/svg%3E");

  // 	transition: background-image .3s, transform .3s;
  // 	cursor: pointer;

  // 	&:before {
  // 		content: '';
  // 		position: absolute;
  // 		top: 50%;
  // 		left: 50%;
  // 		width: 30px;
  // 		height: 30px;
  // 		transform: translate(-50%, -50%);
  // 	}

  // 	&:not(.active) {
  // 		transform: rotate(-180deg);
  // 	}
  // }
}
.mob-menu-contact {
  flex: 0 0 auto;
  padding: 30px 10px 50px 15px;
  background: $c-bg2;
  &__item {
    display: flex;
    align-items: center;
    padding: 8px 0;
  }
  &__link {
    margin-left: 15px;
    color: $c-white;
  }
  .icon {
    fill: $c-white;
  }
}