@import '../../assets/css/common/components-import';
.breadcrumb-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.breadcrumb {
  overflow: hidden;
  margin: 40px 0 35px;
  &__list {
    position: relative;
    display: flex;
    overflow: hidden;
    align-items: center;
    flex-shrink: 1;
    flex-wrap: nowrap;
    margin: 0;
    padding: 0;
    list-style: none;
    text-overflow: clip;
    &::before {
      position: absolute;
      z-index: 1;
      top: 0;
      right: 0;
      display: block;
      width: 50px;
      height: 100%;
      content: '';
      background: linear-gradient(to left,#fff 0,rgba(255,255,255,.5) 50%,rgba(255,255,255,.005) 100%);
    }
  }
  &__item {
    position: relative;
    list-style: none;
    &:first-child {
      .breadcrumb__link {
        padding: 0 10px 0 0;
      }
    }
    &:not(:first-child) {
      &:before {
        position: absolute;
        top: calc(50% - 6px);
        left: 2px;
        display: block;
        width: 6px;
        height: 10px;
        content: '';
        background: url('/local/templates/html/images/i-breadcrumb.svg') no-repeat 50% 50%;
        background-size: cover;
      }
    }
    &:last-child {
      display: flex;
      padding-right: 0;
      pointer-events: none;
      .breadcrumb__link {
        color: $c-text;
      }
    }
  }
  &__link {
    padding: 0 10px 0 20px;
    transition: color .3s;
    white-space: nowrap;
    color: #828282;
    &:hover {
      color: $c-green;
    }
  }
  &.not-init {
    .breadcrumb__item {
      &:not(:first-child) {
        visibility: hidden;
        opacity: 0;
      }
    }
  }
  @media (max-width: 575px) {
    margin: 20px 0;
  }
}

@media (max-width: 1024px) {
  .breadcrumb__item {
    display: none;
    &:not(:first-child) {
      a {
        font-size: 0;
        &:after {
          content: '...';
          color: $c-text;
          font-size: 15px;
        }
      }
    }
    &:first-child, &:nth-of-type(2), &:last-child {
      display: block;
    }
  }
}
@media (max-width: 768px) {
  .breadcrumb__item {
    &:first-child {
      display: none;
    }
    &:not(:first-child), &:not(:last-child)  {
      display: none;
		}
		&:nth-last-of-type(2) {
			display: block !important;
			a {
        font-size: 15px;
        &:after {
          display: none;
        }
      }
		}
    &:last-child {
      display: none;;
    }
    &:before {
      transform: rotate(180deg);
    }
  }
}

