mixin breadcrumb(args={})
	//- +include-script('breadcrumb')

	+b.breadcrumb
		+e('ul').__list(itemscope itemtype="http://schema.org/BreadcrumbList")
			+e('li').__item(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
				+e('a')(href="/local/templates/html/index.html" title="Главная" itemprop="item").__link
					span(itemprop="name") Главная
					meta(itemprop="position" content="0")

			+e('li').__item(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
				+e('a')(href=args.href_content1 || '#' title=args.content1 itemprop="item").__link
					span(itemprop="name")= args.content1
					meta(itemprop="position" content="1")
			if args.content2
				+e('li').__item(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
					+e('a')(href=args.href_content2 || '#' title=args.content2 itemprop="item").__link
						span(itemprop="name")= args.content2
						meta(itemprop="position" content="2")
			if args.content3
				+e('li').__item(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
					+e('span')(title=args.content3 itemprop="name").__link
						span(itemprop="name")= args.content3
						meta(itemprop="position" content="3")

