@import '../../assets/css/common/components-import';
.insta-block {
  position: relative;
  z-index: 0;
  padding: 80px 0 130px;
  &::before {
    position: absolute;
    z-index: -1;
    top: 0;
    left: -50vw;
    width: 200vw;
    height: 100%;
    content: '';
    opacity: .2;
    background-image: url('../../images/vegetable-png.png') ;
  }
  &::after {
    position: absolute;
    z-index: -2;
    top: 0;
    left: -50vw;
    width: 200vw;
    height: 100%;
    content: '';
    background: $c-bg2;
  }
  @media (max-width: 767px) {
    padding: 60px 0 100px;
  }
}