mixin datapicker(args = {})
	+include-script('form-mixin/datapicker')
	+include-style('form-mixin/datapicker')
	-
		args.mod = 'form-control--datepicker js-form-control--datepicker'
	+input(args)&attributes(attributes)
		+icon('i-calendar')(style='width: 24px; height: 24px;')
	//- .form-group
	//- 	if(args.label)
	//- 		label.form-control-label(for= 'ID' + id class= args.label_mod)= args.label
	//- 			if (args.required)
	//- 				span.label-required *
	//- 	.form-control.form-control--datepicker.js-form-control--datepicker#datepicker
