@import 'src/assets/css/common/components-import';
.news-card {
  max-width: 310px;
  margin: auto;
  &__link {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    transition: box-shadow .3s;
    border-radius: 22px 0px;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, .08);
    @media (min-width: $md) {
      &:hover {
        box-shadow: 0px 3px 24px rgba(0, 0, 0, .08);
        .title {
          color: $c-green;
        }
      }
    }
  }
  @media (min-width: 768px) {
    max-width: 450px;
  }
  &__img-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 225px;
    margin: auto;
    border-radius: 22px 0px;
    // background: $c-white;
  }
  &__img {
    display: flex;
    max-width: 100%;
    margin: auto;
    border-radius: 22px 0px;
    object-fit: contain;
  }
  &__descr {
    position: relative;
    padding: 20px 40px 20px 20px;
    color: $c-text;
    background: $c-white;
    &::after {
      right: 0;
      bottom: 0;
      width: 27px;
      height: 100px;
      border-radius: 22px 0px;
      background: $c-green;

@include pseudo;
    }
    .date {
      margin-bottom: 8px;
      color: $c-gray6;
      font-size: 15px;
      font-weight: 300;
    }
    .title {
      overflow: hidden;
      height: 92px;
      transition: color .3s;
      letter-spacing: .01em;
      font-size: 18px;
      font-weight: bold;
    }
  }
}
.news-card.news-slider-card {
  @media (min-width: 768px) {
    height: 173px;
    margin: 0;
    border-radius: 22px 0px;
    .news-card {
      &__link {
        display: flex;
        flex-direction: row;
        height: 100%;
        // background: $c-white;
      }
      &__img-wrap {
        height: 100%;
      }
      &__img {
        max-width: 239px;
        height: 100%;
      }
      &__descr {
        .title {
          height: 95px;
        }
      }
    }
  }
  @media (min-width: 1200px) and (max-width: 1600px) {
    .news-card {
      &__img {
        max-width: 240px;
      }
      &__descr {
        .title {
          font-size: 16px;
        }
      }
    }
  }
  @media (min-width: 767px) and (max-width: 1199px) {
    height: 155px;
    .news-card {
      &__img {
        max-width: 215px;
      }
      &__descr {
        padding: 15px 35px 15px 14px;
        .title {
          font-size: 15px;
        }
        .date {
          margin-bottom: 3px;
        }
      }
    }
  }
  @media (min-width: 767px) and (max-width: 768px) {
    max-width: 100%;
  }
}
.news-card.news-small {
  max-width: 278px;
  margin: 0 0 20px 0;
  .news-card {
    &__link {
      display: flex;
      overflow: hidden;
      flex-direction: column;
      box-shadow: none;
      @media (min-width: $md) {
        &:hover {
          box-shadow: none;
          .title {
            color: $c-green;
          }
        }
      }
    }
    &__descr {
      padding: 10px 0;
      color: $c-white;
      background: $c-trp;
      &::after {
        content: none;
      }
      .date {
        margin-bottom: 8px;
        color: $c-gray;
      }
      .title {
        height: auto;
        max-height: 66px;
      }
    }
  }
}