+include-style('social')
.social
	.social-list
		a.social-item(href='#' aria-label='facebook')
			+icon('i-facebook')(style='width:32px;height:32px')
		a.social-item(href='#' aria-label='instagram')
			+icon('i-instagram')(style='width:32px;height:32px')
