@import 'src/assets/css/common/components-import';
.social-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.social-item {
  width: 32px;
  height: 32px;
  margin: 8px 8px 8px 0;
  transition: fill .3s;
  fill: $c-white;
  &:hover, &.active {
    fill: $c-green;
  }
}
