@import 'src/assets/css/common/components-import';
.page-header-img {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  img {
    width: 100%;
    max-width: 100px;
    max-height: 100%;
    margin: 0 40px 0 0;
  }
  @media (max-width: 575px) {
    flex-direction: column;
    img {
      order: 1;
      max-width: 150px;
      max-height: 150px;
      margin: 20px auto 0 auto;
    }
  }
}
.slider-product {
  padding: 80px 0 25px;
  background: $c-bg;
}
.brand-inner-body {
  .slider-sertif {
    padding: 80px 0 100px;
    @media (max-width: 1024px) {
      padding: 60px 0;
    }
    @media (max-width: 575px) {
      padding: 40px 0;
    }
  }
}