@import '../../assets/css/common/components-import';
body.basket-page-body .wrapper {
  overflow: visible;
  max-width: 100vw;
  min-height: none;
  @media (max-width: 1200px) {
    overflow: hidden;
  }
}
.basket-page {
  margin-top: 20px;
  .row {
    display: flex;
    flex-direction: row-reverse;
  }
  .slider-product {
    overflow: hidden;
    background: $c-bg;
  }
  &__title {
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: bold;
  }
  &__form {
    margin-bottom: 80px;
    .btn {
      padding: 16px 37px;
      font-size: 18px;
      font-weight: bold;
    }
    textarea {
      margin-bottom: 40px;
    }
  }
  &__form-contacts {
    display: flex;
    width: calc(100% + 30px);
    margin: 0 -15px 80px;
    .form-group {
      width: calc(33.3% - 30px);
      margin: 0 15px;
    }
  }
  &__form-address {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% + 30px);
    margin: 0 -15px;
    .wide-form-group {
      display: flex;
      align-items: flex-end;
      width: 50%;
      padding-bottom: 13px;
    }
    .form-group {
      padding: 0 15px;
    }
    .datapicker-form-group, .select-form-group {
      width: 32%;
    }
    .form-control--data {
      padding: 13px 10px 9px 10px;
    }
  }
  .tab-panel {
    margin-bottom: 80px;
    &__body-item {
      padding: 30px;
      &:first-child {
        background: #fafafa;
      }
      .title {
        margin-bottom: 20px;
        font-size: 24px;
        font-weight: bold;
      }
    }
  }
  &__form-payment {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    width: calc(100% + 30px);
    margin: 0 -15px 80px;
  }
  @media (max-width: 1200px) {
    .row {
      display: flex;
      flex-direction: column-reverse;
    }
    .desktop-submit-order {
      display: none;
    }
    &__form {
      margin-bottom: 20px;
    }
  }
  @media (max-width: 1024px) {
    .tab-panel {
      &__body-item {
        padding: 20px;
      }
    }
    &__form-address {
      .form-group {
        padding: 0 10px;
      }
    }
  }
  @media (max-width: 767px) {
    &__form-contacts {
      flex-wrap: wrap;
      width: calc(100% + 30px);
      margin: 0 -15px 30px;
      .form-group {
        width: calc(50% - 30px);
        margin: 0 15px 30px;
      }
    }
    &__form-address {
      width: calc(100% + 30px);
      margin: 0 -15px;
      .wide-form-group {
        width: 100%;
      }
      .datapicker-form-group, .select-form-group {
        width: 100%;
      }
      .form-control--data {
        padding: 13px 10px 9px 10px;
      }
    }
    .tab-panel {
      margin-bottom: 40px;
      &__body {
        padding: 0;
      }
    }
    &__form-payment {
      flex-direction: column;
      width: 100%;
      margin: 0 0 40px;
    }
    &__title {
      font-size: 24px;
    }
  }
  @media (max-width: 575px) {
    &__form-contacts {
      width: 100%;
      margin: 0 0 30px;
      .form-group {
        width: 100%;
        margin: 0 0 20px;
      }
    }
    &__form-address {
      .datapicker-form-group, .select-form-group {
        width: 100%;
      }
    }
    &__form {
      margin-bottom: 40px;
      .btn {
        width: 100%;
        max-width: 370px;
      }
      textarea {
        margin-bottom: 20px;
      }
    }
  }
}
.order-box-sub-title {
  width: 100%;
  max-width: 378px;
  margin: 0 auto 30px;
  padding: 30px;
  color: $c-green-dark;
  border: 1px solid $c-green-dark;
  border-radius: 22px;
  font-size: 15px;
  font-weight: 400;
  p {
    margin: 0;
  }
  a {
    text-decoration: underline;
    color: $c-green-dark;
    &:hover {
      text-decoration: none;
    }
  }
  @media (max-width: 768px) {
    margin: 0 auto 20px;
    padding: 15px 30px;
  }
}
.checkbox.checkbox-contactless {
  display: inline-flex;
  width: auto;
  max-width: 100%;
  padding: 20px 20px 20px 50px;
  border-radius: 16px;
  background: #e3f8c7;
  label {
    padding: 0;
    &:before {
      top: calc(50% - 10px);
      left: 15px;
      background-color: #fff;
    }
  }
  .tooltip-parent {
    position: relative;
    flex-shrink: 0;
    margin-left: 10px;
    cursor: pointer;
    &:hover {
      .tooltip-2 {
        visibility: visible;
        height: auto;
        opacity: 1;
      }
    }
  }
  .tooltip-2 {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 105%;
    visibility: hidden;
    width: 600px;
    height: 0;
    margin: 0;
    padding: 5px 12px;
    transition: opacity .3s, visibility .3s, height .5s ease;
    opacity: 0;
    border-radius: 10px;
    background: #fcfcfc;
    box-shadow: 0px 3px 24px rgba(0, 0, 0, .08);
    font-size: 12px;
    p {
      margin: 5px 0;
      font-size: 12px;
      line-height: 1.5;
    }
  }
  @media (max-width: 1599px) {
    .tooltip-2 {
      width: 400px;
    }
  }
  @media (max-width: 1199px) {
    .tooltip-2 {
      width: 600px;
    }
  }
  @media (max-width: 1024px) {
    .tooltip-2 {
      width: 400px;
    }
  }
  @media (max-width: 768px) {
    .tooltip-2 {
      width: 300px;
    }
  }
  @media (max-width: 575px) {
    .tooltip-2 {
      top: 120%;
      left: -230px;
      width: 300px;
    }
  }
}
.delivery-description {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.4;
}
.checkbox-payment {
  width: calc(50% - 30px);
  margin: 15px;
  background-repeat: no-repeat;
  background-position: calc(100% - 25px) 50%;
  background-size: 122px;
  input:checked ~ &__label {
    border: 1px solid $c-gray;
    box-shadow: none;
    &::before {
      background: $c-green;
    }
    &::after {
      content: none;
    }
  }
  &__label {
    position: relative;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 150px;
    padding: 45px 150px 30px 30px;
    cursor: pointer;
    border: 1px solid $c-trp;
    border-radius: 22px 0px;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, .08);
    &:hover {
      box-shadow: 0px 3px 24px rgba(0, 0, 0, .08);
    }
    &::after {
      position: absolute;
      z-index: 1;
      top: -1px;
      left: -1px;
      width: 100%;
      height: 100%;
      content: '';
      background: rgba(255, 255, 255, .2);
    }
    &::before {
      position: absolute;
      z-index: 0;
      top: -1px;
      left: -1px;
      width: 118px;
      height: 27px;
      content: '';
      border-radius: 22px 0px;
      background: $c-gray;
    }
  }
  &__caption {
    margin-bottom: 12px;
    color: $c-text;
    font-size: 18px;
    font-weight: bold;
  }
  input {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    width: 1px;
    height: 1px;
    opacity: 0;
  }
  @media (max-width: 1024px) {
    &:hover {
      .checkbox-payment__label {
        box-shadow: 0px 3px 24px rgba(0, 0, 0, .08);
      }
    }
  }
  @media (max-width: 767px) {
    width: 100%;
    margin: 10px 0;
    background-position: 20px 35px;
    background-size: 80px;
    &__caption {
      margin: 0 0 30px 95px;
    }
    &__label {
      padding: 45px 20px 20px 20px;
    }
  }
  @media (max-width: 575px) {
    &__caption {
      margin: 0 0 40px 95px;
    }
  }
}
.order-box-wrap {
  margin-bottom: 50px;
  @media (min-width: 1200px) {
    position: -webkit-sticky;
    position:         sticky;
    top: 135px;
  }
}
.order-box {
  padding: 30px;
  border-radius: 22px 0px;
  box-shadow: 0px 3px 8px 0 rgba(0, 0, 0, .08);
  & + .order-box {
    margin-top: 20px;
  }
  &__title {
    margin-bottom: 25px;
    font-size: 30px;
    font-weight: bold;
  }
  &__descr-item {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 12px;
    border-bottom: 1px dotted $c-gray;
    .descr-name {
      max-width: 180px;
      margin-bottom: -2px;
      letter-spacing: 0;
      color: #4d4d4f;
      background: #fff;
      font-size: 15px;
      font-weight: 300;
    }
    .descr-body {
      max-width: 130px;
      margin-bottom: -2px;
      text-align: right;
      color: #000;
      background: #fff;
    }
    &.type-2 {
      align-items: center;
      margin: 25px 0;
      padding: 16px 30px;
      border-bottom: none;
      border-radius: 50px;
      background: $c-bg;
      .descr-name {
        white-space: nowrap;
        background: $c-bg;
      }
      .descr-body {
        color: $c-text;
        background: $c-bg;
        font-size: 24px;
        font-weight: bold;
      }
    }
  }
  &__total {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin: 15px 0;
    span {
      line-height: 1.2;
    }
  }
  .total-price {
    font-size: 30px;
    font-weight: bold;
    line-height: 1;
  }
  .btn {
    width: 100%;
    max-width: 370px;
  }
  .btn--outline {
    margin: 10px 0;
  }
  .form-group {
    margin: 20px 0 0 0;
  }
  @media (max-width: 1199px) {
    box-shadow: none;
    &__total {
      align-items: center;
    }
  }
  @media (max-width: 756px) {
    width: calc(100% + 30px);
    margin: 0 -15px 40px;
    padding: 30px 15px;
    border-radius: 0;
  }
  @media (max-width: 575px) {
    padding: 0 15px 30px 15px;
    box-shadow: 0px 5px 5px 0 rgba(0, 0, 0, .08);
    &__title {
      display: none;
    }
    &__descr-item.type-2 {
      flex-wrap: wrap;
    }
  }
}
.history-link {
  transition: color .3s;
  color: #4f681e;
  &:hover {
    color: #8dc63f;
    .icon {
      fill: #8dc63f;
    }
  }
  .icon {
    margin-left: 5px;
    transition: fill .3s;
    fill: #4f681e;
  }
}
.order-box-btn-wrap {
  position: relative;
  height: 40px;
}
.order-box .btn.order-box-btn {
  display: none;
  width: 100%;
  max-width: 994px;
  border-radius: 16px 16px 0px 0px;
  span {
    padding: 0 5px;
  }
}
.order-box .btn.order-box-btn-fixed {
  @media (max-width: 1199px) {
    position: fixed;
    z-index: 20;
    bottom: 0;
    left: 50%;
    display: block;
    width: 100%;
    max-width: 994px;
    transform: translateX(-50%);
  }
}
.product-list {
  position: relative;
  margin-bottom: 80px;
  &__item {
    margin-bottom: 30px;
  }
  .product-card {
    position: relative;
    max-width: 100%;
    height: auto;
    &__container {
      display: flex;
      align-items: flex-start;
      padding: 30px;
    }
    &__head {
      .close {
        display: block;
      }
    }
    &__img-wrap {
      width: 190px;
      height: 160px;
      margin: auto;
      padding: 0 30px 0 0;
    }
    &__body {
      position: relative;
      display: flex;
      width: 100%;
      padding: 0 0 35px 0;
      border-bottom: 1px solid #e0e0e0;
    }
    &__descr-wrap {
      flex-grow: 1;
      padding: 0 20px 0 0;
    }
    &__descr {
      align-items: flex-start;
      flex-wrap: wrap;
      justify-content: flex-start;
    }
    &__footer {
      flex-shrink: 0;
      width: 300px;
    }
    &__price-wrap {
      justify-content: center;
      width: 200px;
      height: 31px;
      margin-bottom: 10px;
      padding: 0 5px;
    }
    &__total {
      position: absolute;
      z-index: 1;
      top: 100%;
      right: 0;
      display: flex;
      align-items: flex-end;
      margin-top: 15px;
      span {
        padding-right: 10px;
        font-size: 15px;
        font-weight: 300;
        line-height: 1.2;
      }
    }
    &__total-price {
      font-size: 24px;
      font-weight: bold;
      line-height: 1;
    }
    &__counter {
      display: flex;
      visibility: visible;
      flex-wrap: wrap;
      justify-content: space-between;
      box-sizing: border-box;
      width: 100%;
      max-width: 100%;
      height: auto;
      margin-bottom: 0 !important;
      padding: 0;
      opacity: 1;
      background: #fff;
      & > .btn:not(.btn--error) {
        display: none;
      }
      .btn--error {
        width: 200px;
        margin: 0;
      }
      .counter {
        width: 200px;
        margin-bottom: 0;
      }
    }
    .label-list, .backet {
      display: none;
    }
    .title {
      height: 61px;
      margin-bottom: 0;
    }
    .favourite {
      position: absolute;
      top: 50px;
      right: 25px;
      cursor: pointer;
      pointer-events: all;
      opacity: 1;
    }
    .posted {
      position: static;
      flex-grow: 1;
      justify-content: flex-start;
      width: auto;
      max-width: 100%;
      padding: 0 8px 3px 0;
      transform: none;
      box-shadow: none;
    }
    @media (max-width: 1599px) and (min-width: 1200px) {
      &__footer {
        width: 260px;
      }
      .favourite {
        right: 15px;
      }
    }
    @media (max-width: 1023px) {
      &__container {
        padding: 20px 15px 20px 20px;
      }
      &__footer {
        width: 240px;
      }
      .favourite {
        right: 0;
      }
    }
    @media (max-width: 767px) {
      &__body {
        flex-direction: column;
        margin-bottom: 30px;
        padding: 0 0 20px 0;
      }
      &__descr {
        flex-direction: column;
        margin-top: 0;
        padding-left: 75px;
      }
      &__img-wrap {
        position: absolute;
        z-index: 1;
        top: 20px;
        left: 20px;
        width: 60px;
        height: 60px;
        margin: 0 auto;
        padding: 0;
      }
      &__price-wrap {
        justify-content: flex-start;
      }
      &__descr-wrap {
        padding: 0 30px 10px 0;
      }
      &__footer {
        width: 100%;
        max-width: 375px;
      }
      &__counter {
        width: 100%;
        max-width: 375px;
        .counter {
          width: 100%;
          max-width: 375px;
        }
      }
      .title {
        height: auto;
        max-height: 80px;
        margin-bottom: 0;
      }
      .status {
        margin: 0 0 5px 0;
      }
      .favourite {
        top: 30px;
      }
    }
  }
  @media (max-width: 1199px) {
    margin-bottom: 60px;
    padding-top: 60px;
  }
  @media (max-width: 575px) {
    margin-bottom: 40px;
    padding-top: 40px;
  }
}
.empty-recycle-bin {
  position: absolute;
  z-index: 1;
  top: -70px;
  right: 0;
  @media (max-width: 1199px) {
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
  }
  @media (max-width: 575px) {
    top: 0;
  }
}
.basket-delivery-text-wrap {
  margin: 0 0 30px;
  padding: 0 0 0 15px;
}
.basket-delivery-pickup-col {
  background-color: #fafafa;
}
.basket-delivery-pickup {
  padding: 30px 0 0;
}
.basket-delivery-text {
  display: flex;
  align-items: center;
  letter-spacing: .02em;
  color: #181717;
  font-size: 15px;
  line-height: 24px;
  &:not(:last-child) {
    margin: 0 0 10px;
  }
  .icon {
    display: inline-block;
    min-width: 24px;
    margin: 0 12px 0 0;
    fill: #4f681e;
  }
}
.tab-panel__body-item--light {
  margin: -20px;
  background-color: #fff;
  .row {
    flex-direction: row;
  }
}
.basket-delivery-map-wrap {
  background-color: #fafafa;
}
.basket-delivery-map {
  width: calc(100% + 30px);
  height: 100%;
  min-height: 400px;
  margin: 0 -15px;
}
@media (min-width: $md) {
  .tab-panel__body-item--light {
    margin: -30px;
  }
  .basket-delivery-pickup {
    padding: 45px 15px;
  }
  .basket-delivery-text-wrap {
    min-height: 220px;
  }
}

