@import 'src/assets/css/common/components-import';

.certificate {
	position: relative;
	padding: 80px 0;
	z-index: 0;

	&::before {
		@include pseudo;
		z-index: -1;
		top: 0;
		width: 200vw;
		left: -50vw;
		height: 100%;
		background: $c-green;
	}
	&__title {
		color: $c-white;
		margin-bottom: 40px;
	}
	&__body {
		display: flex;
		flex-wrap: wrap;
		width: calc(100% + 20px);
		margin-left: -10px;
		margin-right: -10px;
	}
	&__item {
		width: calc(50% - 20px);
		display: flex;
		margin-left: 10px;
		margin-right: 10px;
		margin-bottom: 20px;
	}
	&__link {
		background: $c-white;
		border-radius: 22px 0px;
		padding: 10px 20px;
		color: $c-green-dark;
		width: auto;
		max-width: 100%;
		transition: color .3s;
	}
	@media (min-width: 1024px) {
		&__link {
			&:hover {
				color: $c-green;
			}
		}
	}
	@media (max-width: 1024px) {
		padding: 60px 0;
	}
	@media (max-width: 575px) {
		padding: 40px 0;
		&__title {
			margin-bottom: 30px;
		}
		&__body {
			width: 100%;
			margin-left: 0;
			margin-right: 0;
		}
		&__item {
			width: 100%;
			margin-left: 0;
			margin-right: 0;
		}
		&__link {
			width: 100%;
		}
	}
}