@import 'src/assets/css/common/components-import';
.search-section {
  margin: 0 0 40px;
}
.search {
  position: relative;
  margin: 0 0 40px;
  .form-control {
    padding-right: 50px;
  }
  button {
    position: absolute;
    top: 50%;
    right: 10px;
    padding: 0;
    cursor: pointer;
    transform: translateY(-50%);
    border: none;

@include link;
    .icon {
      fill: #8dc63f;
    }
  }
}
.search-result {
  margin: 0 0 20px;
  letter-spacing: .01em;
  color: #282828;
  font-size: 16px;
  line-height: 28px;
}
.search-result .notetext {
  display: block;
  margin: 0 0 20px;
  letter-spacing: .01em;
  color: #282828;
  font-size: 16px;
  line-height: 28px;
}
.search-list {
  padding: 0 0 0 20px;
  li {
    list-style-type: unset;
  }
  .item {
    margin: 0 0 20px;
  }
  .title {
    margin: 0 0 10px;
    a {
      color: #282828;
      font-size: 18px;
      font-weight: bold;
      font-style: normal;
      line-height: 24px;

@include link;
    }
  }
  .text {
    margin: 0 0 10px;
    color: #282828;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    line-height: 24px;
  }
  .link {
    color: #9b9b9b;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    line-height: 24px;
    a {
      display: inline-block;
      margin: 0 0 0 5px;
      text-decoration: underline;
      color: inherit;

@include link;
    }
  }
}
.sr-only {
  display: none;
}
.page-count {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 40px;
  ul {
    display: flex;
    align-items: center;
  }
  li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border: 1px solid transparent;
    &.disabled {
      .icon {
        fill: #d5d5d5;
      }
    }
    &.active {
      a {
        border: 1px solid #8dc63f;
      }
    }
    a {
      display: block;
      width: 100%;
      height: 100%;
      text-align: center;
      color: #6d6d6d;
      border-radius: 5px;
      font-size: 16px;
      font-weight: normal;
      line-height: 32px;

@include link;
    }
  }
  .icon {
    margin: auto;
    fill: rgb(56, 172, 54);
  }
}
@media (max-width: $sm - 1px) {
}
@media (min-width: $sm) {
}
@media (min-width: $sm) and (max-width: $md - 1px) {
}
@media (max-width: $md - 1px) {
}
@media (min-width: $md) {
}
@media (min-width: $md) and (max-width: $lg - 1px) {
}
@media (min-width: $lg) {
}
@media (min-width: $lg) and (max-width: $xl - 1px) {
}
@media (min-width: $xl) {
  .search-section {
    margin: 0 0 80px;
  }
}
