+modal({
	id: 'one-click-buy',
	mod: 'one-click-buy',
	title: 'Покупка в один клик',
	header: true,
	dialog_mod: ''
})
	+product-card({
		src: './images/prod-05.jpg',
		status: true,
		code: 'Код: 4744481010818',
		title: 'Амарант, зеленая гречка, киноа и другие крупы, миндальная мука, оливки и маслины, соусы и тапенады, кофе и чай, специи, натуральные масла и уксус, чипсы из водорослей и «живые» сладости без сахара, мясные изделия, овощная колбаса и бургеры, свежая выпечка, шампуни и кремы без парабенов и сульфатов, натуральная косметика – все это и многое другое представлено в «Vёska». Амарант, зеленая гречка, киноа и другие крупы, миндальная мука, оливки и маслины, соусы и тапенады, кофе и чай, специи, натуральные масла и уксус, чипсы из водорослей и «живые» сладости без сахара, мясные изделия, овощная колбаса и бургеры, свежая выпечка, шампуни и кремы без парабенов и сульфатов, натуральная косметика – все это и многое другое представлено в «Vёska».',
		price: '500,20 р.',
		sale: '600,20 р.',
		total: ''
	})
	form.bv-form.js_lazy-load-validation(
	enctype='multipart/form-data',
	method='POST',
	action='#',
	autocomplete='on',
	novalidate='novalidate'
	)
		.modal-login__form
			+input({
				label: 'ФИО',
				type: 'text',
				name: false,
				small: false,
				placeholder: 'Александр',
				required: true,
				validation: {
					message: 'Обязательное поле',
					regexp: 'Неверный формат',
					emailaddress: ' ',
					identical: false
				}
			})
			+input({
				label: 'Телефон',
				type: 'tel',
				name: false,
				small: false,
				placeholder: '+375 (__) ___-__-__',
				required: true,
				pattern: 'phone',
				validation: {
					message: 'Обязательное поле',
					regexp: 'Неверный формат',
					emailaddress: ' ',
					identical: false
				}
			})
			+input({
				label: 'Email',
				type: 'email',
				name: false,
				small: false,
				placeholder: 'example@example.com',
				required: true,
				pattern: '[A-Za-zА-Яа-я0-9\_\-]{1,}@[A-Za-zА-Яа-я0-9\_\-]{1,}\.[A-Za-zА-Яа-я0-9]{2,}',
				validation: {
					message: 'Обязательное поле',
					regexp: 'Неверный формат',
					emailaddress: ' ',
					identical: false
				}
			})
			+textarea({
				label: 'Комментарий (опционально)',
				required: false,
				small: false,
				placeholder: false,
			})
		button.btn.btn--primary(type='submit') Оформить заказ