extends ../layout/layout

block vars
	- var bodyClass = 'basket-page-body '
	- var footerClass = ''
	- var headerClass = ''
	- var pageTitle = 'Корзина'
	- var dir = './'
	- var layout = ''

block premain
	.page-header-section
		.container
			.row
				.col-12.col-xl-12.col-lg-12.col-md-12
					include ../components/breadcrumb/breadcrumb
					.main-title
						h1 Оформление заказа

block main
	.no-critical.no-critical--preloader
		include ../components/basket-page/basket-page

block popups
	include ../components/modal/modal-login/modal-login
	include ../components/modal/one-click-buy/one-click-buy
	include ../components/modal/modal-success-order/modal-success-order
block componentsCriticalStyles
	+componentsCriticalStyles-includer()

block vendorScripts 
	+vendorScripts-includer()

block componentsStyles
	+style-includer()

block componentsScripts
	+componentsScripts-includer()

block scripts
