extends ../layout/layout

block vars
	- var pageTitle = 'Внутрення Блога'
	- var bodyClass  = ''
	- var headerClass = ''
	- var footerClass = ''
	- var dir = './'
	- var layout = ''
	- var isSidebar = false


block premain
	.page-header-section
		.container
			.row
				.col-12.col-xl-8.offset-xl-2.col-lg-10.offset-lg-1.col-md-12
					include ../components/breadcrumb/breadcrumb
					h1 Гранола: хрустящие мюсли на завтрак

block main
	.no-critical.no-critical--preloader
		+content()
		.container.content
			.row
				.col-12.col-xl-8.offset-xl-2.col-lg-10.offset-lg-1.col-md-12
					include ../components/blog-inner-page/blog-inner-page

	+slider-product({
		title: 'Продукты для рецепта',
	})
	+slider-news({
		class_modificator: 'js-swiper-news',
		title: 'Другие статьи',
	})

block popups
	include ../components/modal/modal-login/modal-login
	include ../components/modal/one-click-buy/one-click-buy
block componentsCriticalStyles
	+componentsCriticalStyles-includer()

block vendorScripts
	+vendorScripts-includer()

block componentsStyles
	+style-includer()

block componentsScripts
	+componentsScripts-includer()

block scripts
