extends ../layout/layout

block vars
	- var pageTitle = 'Внутрення Бренда'
	- var bodyClass  = 'brand-inner-body'
	- var headerClass = ''
	- var footerClass = ''
	- var dir = './'
	- var layout = ''
	- var isSidebar = false

block premain
	.page-header-section
		.container
			.row
				.col-12.col-xl-8.offset-xl-2.col-lg-10.offset-lg-1.col-md-12
					include ../components/breadcrumb/breadcrumb
					.page-header-img
						img(src="./images/brand-01.jpg", alt="")
						h1 Riedenburger Brauhaus

block main
	.no-critical.no-critical--preloader
		+content()
		.container.content
			.row
				.col-12.col-xl-8.offset-xl-2.col-lg-10.offset-lg-1.col-md-12.content-bg-bottom
					include ../components/brand-inner-page/brand-inner-page

	+slider-product({
		title: 'Товары Riedenburger Brauhaus',
		tab: true,
	})
		+tab-item({
			class: 'active',
			linkname: 'Безалкогольные напитки',
		})
		+tab-item({
			linkname: 'Соки',
		})
		+tab-item({
			linkname: 'Натуральное пиво'
		})
	+slider-sertif({
		title: 'Сертификаты',
		class_modificator: 'js-swiper-sertif'
	})

block popups
	include ../components/modal/modal-login/modal-login
	include ../components/modal/one-click-buy/one-click-buy
block componentsCriticalStyles
	+componentsCriticalStyles-includer()

block vendorScripts
	+vendorScripts-includer()

block componentsStyles
	+style-includer()

block componentsScripts
	+componentsScripts-includer()

block scripts
