extends ../layout/layout

block vars
	- var pageTitle = 'Каталог'
	- var bodyClass  = ''
	- var headerClass = ''
	- var footerClass = ''
	- var dir = './'
	- var layout = ''
	- var isSidebar = true

block premain
	.page-header-section
		.container
			.row
				.col-12.col-xl-12
					include ../components/breadcrumb/breadcrumb
					h1 Бульоны и супы

block main
	.no-critical.no-critical--preloader
		include ../components/catalog-targets/catalog-targets
		include ../components/catalog/catalog-list
	
block popups
	include ../components/modal/modal-login/modal-login
	include ../components/modal/one-click-buy/one-click-buy
block componentsCriticalStyles
	+componentsCriticalStyles-includer()

block vendorScripts 
	+vendorScripts-includer()

block componentsStyles
	+style-includer()

block componentsScripts
	+componentsScripts-includer()

block scripts
