extends ../layout/layout

block vars
	- var bodyClass = ''
	- var footerClass = ''
	- var headerClass = ''
	- var pageTitle = 'Контакты'
	- var dir = './'
	- var layout = ''

block premain
	.page-header-section
		.container
			.row
				.col-12.col-xl-10.offset-xl-1.col-lg-10.offset-lg-1.col-md-12
					include ../components/breadcrumb/breadcrumb
					h1 Контакты

block main
	.no-critical.no-critical--preloader
		include ../components/contacts-page/contacts-page
		include ../components/map/map
	
block popups
	include ../components/modal/modal-login/modal-login
block componentsCriticalStyles
	+componentsCriticalStyles-includer()

block vendorScripts 
	+vendorScripts-includer()

block componentsStyles
	+style-includer()

block componentsScripts
	+componentsScripts-includer()

block scripts
