extends ../layout/layout

block vars
	- var bodyClass = ''
	- var footerClass = ''
	- var headerClass = ''
	- var pageTitle = 'Пустая'
	- var dir = './'
	- var layout = ''

block premain
	.page-header-section
		.container
			.row
				.col-12.col-xl-10.offset-xl-1.col-lg-10.offset-lg-1.col-md-12
					include ../components/breadcrumb/breadcrumb
					h1 Пустая

block main
	.no-critical.no-critical--preloader
		.container
			.row
				.col-12.col-xl-10.offset-xl-1.col-lg-10.offset-lg-1.col-md-12
					p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus aut beatae, amet harum maxime totam sequi at exercitationem adipisci?

block popups

block componentsCriticalStyles
	+componentsCriticalStyles-includer()

block componentsStyles
	+style-includer()

block componentsScripts
	+componentsScripts-includer()

block scripts
