extends ../layout/layout

block vars
	- var pageTitle = 'Главная'
	- var bodyClass = ''
	- var headerClass = ''
	- var footerClass = ''
	- var dir = './'
	- var layout = ''
	- var isSidebar = false

block main
	include ../components/slider-first-screen/slider-first-screen
	.no-critical.no-critical--preloader
		include ../components/index-slider-product-1/index-slider-product-1
		include ../components/index-slider-product-2/index-slider-product-2
		+slider-brand({
			title: 'Наши бренды'
		})
		.container
			.row
				.col-12.col-xl-12.col-lg-12.col-md-12
					include ../components/index-catalog-block/index-catalog-block
			.row
				.col-12.col-xl-11.offset-xl-1.col-lg-12.col-md-12
					include ../components/index-news-block/index-news-block
			.row
				.col-12.col-xl-10.offset-xl-1.col-lg-12.col-md-12
					include ../components/index-about-us/index-about-us
			.row
				.col-12.col-xl-12.col-lg-12.col-md-12
					include ../components/insta-block/insta-block
			.row
				.col-12.col-xl-11.offset-xl-1.col-lg-12.col-md-12
					include ../components/index-shops-block/index-shops-block 
					include ../components/index-bonus-block/index-bonus-block


block popups
	include ../components/modal/modal-login/modal-login
	include ../components/modal/one-click-buy/one-click-buy

block componentsCriticalStyles
	+componentsCriticalStyles-includer()

block vendorScripts
	+vendorScripts-includer()

block componentsStyles
	+style-includer()

block componentsScripts
	+componentsScripts-includer()

block scripts
