extends ../layout/layout

block vars
	- var pageTitle = 'Карточка товара'
	- var bodyClass = ''
	- var headerClass = ''
	- var footerClass = ''
	- var dir = './'
	- var layout = ''
	- var isSidebar = false

block premain
	.page-header-section
		.container
			.row
				.col-12.col-xl-7.offset-xl-1.col-lg-8.col-md-12
					+breadcrumb({
						content1: 'Каталог',
						href_content1: '/local/templates/html/catalog-start.html',
						content2: 'Бульоны и супы',
						href_content2: '/local/templates/html/catalog.html',
						content3: 'Консервы пастеризованные. Бульон куриный жидкий, 350мл',
					})
					.main-title
						h1 Средство
						.manufacturer 
							.manufacturer__img-wrap
								img(src="images/estonia.jpg", alt="estonia").manufacturer__img
							span Эстония

block main
	.no-critical.no-critical--preloader
		include ../components/product-page/product-page

block popups
	include ../components/modal/modal-login/modal-login
	include ../components/modal/one-click-buy/one-click-buy
block componentsCriticalStyles
	+componentsCriticalStyles-includer()

block vendorScripts 
	+vendorScripts-includer()

block componentsStyles
	+style-includer()

block componentsScripts
	+componentsScripts-includer()

block scripts
