extends ../layout/layout

block vars
	- var bodyClass = ''
	- var footerClass = ''
	- var headerClass = ''
	- var pageTitle = 'Поиск'
	- var dir = './'
	- var layout = ''

block main

	+page-header({
		breadcrumb: true,
		title: 'Результаты поиска по "О нас"'
	})
	.container.content
		.row
			.col-12.col-lg-8.offset-lg-2
				include ../components/search-page/search-page


block popups

block componentsCriticalStyles
	+componentsCriticalStyles-includer()

block vendorScripts
	+vendorScripts-includer()

block componentsStyles
	+style-includer()

block componentsScripts
	+componentsScripts-includer()

block scripts
