@import '../../../node_modules/bootstrap/scss/functions';
@import '../../../node_modules/bootstrap/scss/variables';
@import '../../../node_modules/bootstrap/scss/mixins';
@import '../../../node_modules/bootstrap/scss/modal';
@import '../../assets/css/common/components-import';
.modal-feedback-form {
  width: 100%;
  max-width: 515px;
  margin: 0 auto;
}
.order-registration-content {
  width: 100%;
  max-width: 515px;
  margin: 0 auto;
}
.modal {
  .modal-dialog {
    margin: 0 auto;
  }
  .modal-content {
    border: none;
    border-radius: 22px 0;
    background-clip: unset;
  }
  .modal-footer > * {
    margin: unset;
  }
  .modal-footer {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .modal-close {
    position: absolute;
    z-index: 1;
    top: 30px;
    right: 26px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    border: none;
    .icon {
      transition: fill .3s;
      fill: $c-green;
    }
    @media (max-width: 575px) {
      right: 15px;
    }
  }
  .modal-body {
    padding: 30px 40px;
  }
  .modal-header {
    padding: 30px 40px 0;
    border-bottom: none;
    border-radius: 0;
  }
  .modal-title {
    width: 100%;
    text-align: left;
    color: #181717;
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    line-height: 1;
  }
  .tab-panel {
    &__head-item {
      padding: 0 0 10px 0;
      cursor: pointer;
      letter-spacing: 0;
      font-size: 24px;
      font-weight: bold;
      &:not(:first-child) {
        margin-left: 40px;
      }
    }
    &__body {
      margin: 30px 0 0 0;
    }
  }
  .modal-login {
    &__form {
      .btn {
        margin-right: 25px;
        padding: 12px 25px;
      }
    }
    &__social {
      margin: 30px -40px -30px -40px;
      padding: 30px 40px;
      border-radius: 0 0 22px 0;
      background: $c-bg2;
    }
    &__social-title {
      color: $c-white;
      font-size: 18px;
      font-weight: bold;
    }
  }
  .success-container {
    padding: 0 30px;
    .btn {
      margin: 10px;
    }
  }
  .success-title {
    display: flex;
    align-items: center;
    padding: 16px 30px;
    letter-spacing: .01em;
    text-transform: uppercase;
    color: $c-white;
    background: $c-bg2;
    font-size: 18px;
    font-weight: normal;
    line-height: 1;
    .icon {
      flex-shrink: 0;
      margin-right: 10px;
    }
  }
  .authoris-input {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    .form-group {
      width: 50%;
    }
    .btn {
      width: 40%;
      margin: 0 auto 30px;
    }
    .blocked-text {
      position: absolute;
      right: 0;
      bottom: 0;
      max-width: 180px;
      font-size: 12px;
    }
  }
  .order-box__descr-item:not(.type-2) {
    margin: 0 30px 12px;
  }
  .modal-row {
    display: flex;
    .icon {
      flex-shrink: 0;
    }
  }
  .modal-right-col {
    flex-grow: 1;
  }
  @media (max-width: 575 - 1px) {
    .modal {
      padding-right: 0 !important;
    }
    .modal-header {
      padding: 30px 20px 0;
    }
    .modal-body {
      padding: 25px 20px;
    }
    .order-box__descr-item:not(.type-2) {
      margin: 0 0 12px;
    }
    .success-container {
      padding: 0;
      .btn {
        width: 100%;
        max-width: 290px;
      }
    }
    .modal-row .icon {
      display: none;;
    }
    .success-title {
      padding: 14px 20px;
      line-height: 1.55;
    }
  }
  @media (min-width: $sm) {
    background-color: transparent;
  }
  @media (min-width: $md) {
    .modal-close {
      &:hover {
        .icon {
          fill: #c74a2c;
        }
      }
    }
  }
}
.modal-noposted {
  &__list-wrap {
    margin: 0 0 30px 0;
    padding: 20px 0;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
  }
  &__list {
    overflow: auto;
    max-height: 300px;

    -moz-overflow-scrolling: auto;
     -ms-overflow-scrolling: auto;
      -o-overflow-scrolling: auto;
    &::-webkit-scrollbar {
      width: 4px;
      cursor: pointer;

      -webkit-appearance: none;
    }
    &::-webkit-scrollbar-button {
      width: 4px;
      background-color: $c-gray;
    }
    &::-webkit-scrollbar-track {
      background-color: $c-gray;
    }
    &::-webkit-scrollbar-track-piece {
      background-color: $c-gray;
    }
    &::-webkit-scrollbar-thumb {
      width: 4px;
      height: 0;
      border-radius: 5px;
      background-color: #4f681e;
    }
    &::-webkit-scrollbar-corner {
      background-color: #999;
    }
    &::-webkit-resizer {
      background-color: #666;
    }
  }
  .product-card {
    margin-bottom: 20px !important;;
    &:last-child {
      margin-bottom: 0;
    }
    &__container {
      box-shadow: none !important;
    }
    &__price-wrap {
      display: none !important;
    }
  }
  &.modal .modal-close {
    right: 15px;
  }
  &.modal .modal-title {
    font-size: 18px;
    line-height: 1.3;
  }
  @media (max-width: 574px) {
    &.modal .modal-header {
      padding: 30px 40px 0 20px;
    }
  }
}
.order-box {
  padding: 30px;
  border-radius: 22px 0px;
  box-shadow: 0px 3px 8px 0 rgba(0, 0, 0, .08);
  & + .order-box {
    margin-top: 20px;
  }
  &__title {
    margin-bottom: 25px;
    font-size: 30px;
    font-weight: bold;
  }
  &__descr-item {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 12px;
    border-bottom: 1px dotted $c-gray;
    .descr-name {
      max-width: 180px;
      margin-bottom: -2px;
      letter-spacing: 0;
      color: #4d4d4f;
      background: #fff;
      font-size: 15px;
      font-weight: 300;
    }
    .descr-body {
      max-width: 130px;
      margin-bottom: -2px;
      text-align: right;
      color: #000;
      background: #fff;
    }
    &.type-2 {
      align-items: center;
      margin: 25px 0;
      padding: 16px 30px;
      border-bottom: none;
      border-radius: 50px;
      background: $c-bg;
      .descr-name {
        white-space: nowrap;
        background: $c-bg;
      }
      .descr-body {
        color: $c-text;
        background: $c-bg;
        font-size: 24px;
        font-weight: bold;
      }
    }
  }
  &__total {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin: 15px 0;
    span {
      line-height: 1.2;
    }
  }
  .total-price {
    font-size: 30px;
    font-weight: bold;
    line-height: 1;
  }
  .btn {
    width: 100%;
    max-width: 370px;
  }
  .btn--outline {
    margin: 10px 0;
  }
  .form-group {
    margin: 20px 0 0 0;
  }
  @media (max-width: 1199px) {
    box-shadow: none;
    &__total {
      align-items: center;
    }
  }
  @media (max-width: 756px) {
    width: calc(100% + 30px);
    margin: 0 -15px 40px;
    padding: 30px 15px;
    border-radius: 0;
  }
  @media (max-width: 575px) {
    padding: 0 15px 30px 15px;
    box-shadow: 0px 5px 5px 0 rgba(0, 0, 0, .08);
    &__title {
      display: none;
    }
    &__descr-item.type-2 {
      flex-wrap: wrap;
    }
  }
}
#modal-success-order {
  .modal-header, .modal-body {
    position: relative;
    z-index: 5;
  }
  .modal-close {
    z-index: 10;
    right: 35px;
    @media (max-width: 575px) {
      right: 15px;
    }
  }
  .modal-content {
    z-index: 1;
    &::before {
      position: absolute;
      z-index: 0;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: '';
      opacity: .6;
      background-image: url('../../images/vegetable-png.png');
      background-size: contain;
    }
    @media (min-width: $sm) {
      &::after {
        position: absolute;
        z-index: 0;
        right: 0;
        bottom: 0;
        width: 27px;
        height: 118px;
        content: '';
        border-radius: 22px 0px;
        background: $c-green;
      }
    }
  }
}
.modal-error-order {
  .modal-body {
    display: flex;
    align-items: center;
    flex-direction: column;
    & >.btn {
      padding: 12px 40px;
    }
  }
}


