@import 'src/assets/css/common/components-import';
body {
  letter-spacing: .02em;
  color: $c-main;
  font-family: $f-main;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.3;
}
.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 100vh;
}

.custom-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1090px;
  margin: auto;
  margin-bottom: 80px;
  padding: 0 15px;
  &--lg {
    max-width: 1360px;
  }
  &--md {
    max-width: 1115px;
  }
  &--sm {
    max-width: 800px;
  }
  @media (max-width: 1600px) {
    &--lg {
      max-width: 1200px;
    }
    &--md {
      max-width: 1000px;
    }
  }
  @media (max-width: 1200px) {
    max-width: 1024px;
    margin-bottom: 60px;
  }
  @media (max-width: 1024px) {
    max-width: 768px;
    margin-bottom: 50px;
  }
  @media (max-width: 575px) {
    max-width: 100%;
    margin-bottom: 30px;
  }
}
.main {
  flex: 1 0 auto;
}
.hidden {
  display: none !important;
}
svg {
  max-width: 100%;
}
p {
  margin-bottom: 15px;
  font-size: 15px;
  line-height: 1.45;
}
hr {
  display: block;
  height: 1px;
  margin: 1em 0;
  padding: 0;
  border: 0;
  border-top: 1px solid #ccc;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}
a {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  text-decoration: none;
  color: #fff;
  background: transparent;
  font-size: 100%;
}
ins {
  text-decoration: none;
  color: #000;
  background-color: #ff9;
}
mark {
  color: #000;
  background-color: #ff9;
  font-weight: bold;
  font-style: italic;
}
del {
  text-decoration: line-through;
}
abbr[title], dfn[title] {
  cursor: help;
  border-bottom: 1px dotted;
}
.btn-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 80px;
  .btn + .btn {
    margin-left: 20px;
  }
  @media (max-width: 1024px) {
    margin: 0 0 60px;
  }
  @media (max-width: 575px) {
    flex-direction: column;
    margin: 0 0 40px;
    .btn {
      width: 100%;
      max-width: 375px;
    }
    .btn + .btn {
      margin-top: 12px;
      margin-left: 0;
    }
  }
}
.content-bg-bottom {
  position: relative;
  &::before {
    position: absolute;
    z-index: -1;
    top: 53%;
    right: 70%;
    width: 1012px;
    height: 521px;
    content: '';
    background: url('../../images/bg-leaf-wide.svg');
  }
  &::after {
    position: absolute;
    z-index: -1;
    top: 67%;
    left: 85%;
    width: 595px;
    height: 622px;
    content: '';
    background: url('../../images/bg-leaf-wide-right.svg') no-repeat;
  }
  @media (max-width: 575px) {
    &::before, &::after {
      content: none;
    }
  }
}
.dashed-link {
  display: inline-flex;
  width: auto;
  max-width: 100%;
  cursor: pointer;
  transition: color .3s, border .3s;
  color: $c-green-dark;
  border-bottom: 1px dashed $c-green-dark;
  .icon {
    position: relative;
    bottom: -3px;
    flex-shrink: 0;
    margin-right: 7px;
    transition: fill .3s;
    fill: $c-green-dark;
  }
  &:hover {
    color: $c-green;
    border-bottom: 1px dashed $c-green;
    .icon {
      fill: $c-green;
    }
  }
}
.window-wide-block {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  &::before {
    z-index: -3;
    top: 0;
    left: -50vw;
    overflow: hidden;
    width: 200vw;
    height: 100%;
    background: $c-green;

    @include pseudo;
  }
  &::after {
    z-index: -2;
    top: 0;
    left: -50vw;
    width: 200vw;
    height: 100%;
    opacity: .5;
    background: url('images/vegetable-png.png') 0 50%;
    background-size: contain;

    @include pseudo;
  }
  img {
    position: relative;
    z-index: 2;
  }
}
.empty-recycle-bin {
  display: inline-flex;
  align-items: center;
  width: 165px;
  cursor: pointer;
  transition: color .3s, opacity .3s;
  color: $c-green;
  font-size: 15px;
  font-weight: normal;
  span {
    transition: color .3s, opacity .3s;
    color: $c-green;
    font-size: 15px;
    font-weight: normal;
  }
  .icon {
    margin-right: 7px;
    transition: fill .3s;
    fill: $c-green;
  }
  &:hover {
    color: $c-green-dark;
    span {
      color: $c-green-dark;
    }
    .icon {
      fill: $c-green-dark;
    }
  }
}