html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5,
h6, p, blockquote, pre, a, abbr, acronym, address, big,
cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt,
dd, ol, ul, li,fieldset, form, label, legend,table, caption,
tbody, tfoot, thead, tr, th, td,article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup, menu, nav,
output, ruby, section, summary, time, mark, audio, video
	margin: 0
	padding: 0
	vertical-align: baseline
	border: 0

	-webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section
	display: block
sup
	vertical-align: super
sub
	vertical-align: sub
html
	-ms-text-size-adjust: 100%
	-webkit-text-size-adjust: 100%
img, fieldset, a img , iframe
	border: none
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="number"],
// input[type='checkbox'],
textarea
	-webkit-appearance: none
	-moz-appearance: none
	appearance: none
input[type="submit"],
button
	cursor: pointer
	background-color: transparent
	&::-moz-focus-inner
		padding: 0
		border: 0
textarea
	overflow: auto
	resize: none
	border: none
//hide icons autofilling safare
input::-webkit-contacts-auto-fill-button
	position: absolute
	right: 0
	display: none !important
	visibility: hidden
	pointer-events: none
input::-moz-focus-inner, button::-moz-focus-inner
	padding: 0
	border: 0

input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button
	-webkit-appearance: none
input[type="number"]
	-moz-appearance: textfield
input, button
	margin: 0
	padding: 0
	border: 0
	border: none
	border-radius: 0
div, input, textarea, select, button,
h1,h2,h3,h4,h5,h6,a,span,a:focus
	outline: none
ul, ol, li
	list-style-type: none
table
	width: 100%
	border-spacing: 0
	border-collapse: collapse
html
	box-sizing: border-box
*, *:before, *:after
	box-sizing: inherit

strong, b
	font-weight: bold

@media (prefers-reduced-motion: reduce)
	*
		transition: none !important