// Grid
$xl: 1600px;
$lg: 1200px;
$md: 1024px;
$sm: 768px;
$xs: 576px;

$grid-breakpoints: (
	xs: 0,
	sm: $sm,
	md: $md,
	lg: $lg,
	xl: $xl
);

$container-max-widths: (
	xs: 575px,
	sm: 768px,
	md: 1024px,
	lg: 1200px,
	xl: 1600px
);


$f-size: 15px;
$f-main: 'HeliosC', Arial, Verdana, sans-serif;
$f-sec: 'HeliosC', Arial, Verdana, sans-serif;

// Z-index master list
//
// Warning: Avoid customizing these values. They're used for a bird's eye view
// of components dependent on the z-axis and are designed to all work together.

$zindex-dropdown:                   100 !default;
$zindex-sticky:                     120 !default;
$zindex-fixed:                      130 !default;
$zindex-modal-backdrop:             140 !default;
$zindex-modal:                      150 !default;
$zindex-popover:                    160 !default;
$zindex-tooltip:                    170 !default;
$zindex-preloader:                  180 !default;

// Colors
$c-main:			#282828;
$c-sec:				#D15645;

$c-bg:				#FAFAFA;
$c-bg2:				#4D4D4F;
$c-text:			#181717;
$c-blue:			#A5A4EF;
$c-link: 			#798089;
$c-white: 		rgba(255, 255, 255, 1);
$c-white-10: 	rgba(255, 255, 255, .1);
$c-white-30: 	rgba(255, 255, 255, .3);
$c-white-50: 	rgba(255, 255, 255, .5);

$c-gray:			#BDBDBD;
$c-gray2:			#F4F4F4;
$c-gray3: 		#999999;
$c-gray4: 		#F8F8F8;
$c-gray5: 		#4D4D4F;
$c-gray6: 		#828282;

$c-green: 		#8DC63F;
$c-green-50: 	rgba(141, 198, 63, .5);
$c-green-dark:#4F681E;
$c-green-dark-50:rgba(79, 104, 30, .5);

$c-error:			#C74A2C;
$c-trp:				transparent;

$blue:				#234399;
$red:					#F45057;
$green:				#379F2F;
$yellow:			#e8a12b;
$white:				#fff;
$black:				#000;

$colors: (
	red: $c-main,
);



@mixin link {
	// text-decoration: none;

	&[href]:not(span) {
		transition: color .3s;

		.icon {
			transition: fill .3s, stroke .3s;
		}

		&:hover:not(:active) {
			color: #8DC63F;
			text-decoration: none;

			.icon {
				fill: #8DC63F;
			}
		}
	}
}
@mixin link-force {
	text-decoration: none;
	transition: color .3s;

	.icon {
		transition: fill .3s, stroke .3s;
	}

	&:hover:not(:active) {
		color: #8DC63F;
		text-decoration: none;

		.icon {
			fill: #8DC63F;
		}
	}
}
