include ../../utility/bemto-setting
include ../../utility/_globalVars
include ../../utility/_mixins
include ../../utility/_functions
//- +include-style-ajax('header')
+nav({
	compress: false,
	list: [
		{name: '<div class="eco">Эко</div> еда',
			active: true,
			span: true,
			list: [
				{name: 'Бакалея',
					list: [
						{name: 'Мука'},
						{name: 'Крупа и бобы'},
						{name: 'Растительные протеины'},
						{name: 'Бульоны и супы'},
						{name: 'Сахар и подсластители'},
						{name: 'Сахар и подсластители'},
						{name: 'Сахар и подсластители'},
						{name: 'Сахар и подсластители'},
						{name: 'Сахар и подсластители'},
						{name: 'Сахар и подсластители'},
						{name: 'Сахар и подсластители'},
					]},
				{name: 'Паста, лапша', active: true, span: true,
					list: [
						{name: 'Мука'},
						{name: 'Крупа и бобы'},
					]},
				{name: 'Натуральные масла',
					list: [
						{name: 'Мука'},
						{name: 'Крупа и бобы'},
					]},
				{name: 'Консервированная продукция',
					list: [
						{name: 'Мука'},
						{name: 'Крупа и бобы'},
						{name: 'Растительные протеины'},
						{name: 'Бульоны и супы'},
						{name: 'Сахар и подсластители'},
						{name: 'Сахар и подсластители'},
						{name: 'Сахар и подсластители'},
						{name: 'Сахар и подсластители'},
						{name: 'Сахар и подсластители'},
					]
				},
				{name: 'Оливки, маслины, тапенады',
					list: [
						{name: 'Мука'},
						{name: 'Крупа и бобы'},
						{name: 'Растительные протеины'},
						{name: 'Бульоны и супы'},
						{name: 'Сахар и подсластители'},
						{name: 'Сахар и подсластители'},
						{name: 'Сахар и подсластители'},
						{name: 'Сахар и подсластители'},
					]
				},
				{name: 'Специии, cоусы, заправки',
					list: [
						{name: 'Мука'},
						{name: 'Крупа и бобы'},
						{name: 'Растительные протеины'},
						{name: 'Бульоны и супы'},
						{name: 'Сахар и подсластители'},
						{name: 'Сахар и подсластители'},
						{name: 'Сахар и подсластители'},
						{name: 'Сахар и подсластители'},
					]
				},
				{name: 'Суперфуды',
					list: [
						{name: 'Мука'},
						{name: 'Крупа и бобы'},
						{name: 'Растительные протеины'},
						{name: 'Бульоны и супы'},
						{name: 'Сахар и подсластители'},
						{name: 'Сахар и подсластители'},
						{name: 'Сахар и подсластители'},
						{name: 'Сахар и подсластители'},
					]
				},
				{name: 'Каши и завтраки',
					list: [
						{name: 'Мука'},
						{name: 'Крупа и бобы'},
						{name: 'Растительные протеины'},
						{name: 'Бульоны и супы'},
						{name: 'Сахар и подсластители'},
						{name: 'Сахар и подсластители'},
						{name: 'Сахар и подсластители'},
						{name: 'Сахар и подсластители'},
					]
				},
				{name: 'Японская кухня',
					list: [
						{name: 'Мука'},
						{name: 'Крупа и бобы'},
						{name: 'Растительные протеины'},
						{name: 'Бульоны и супы'},
						{name: 'Сахар и подсластители'},
						{name: 'Сахар и подсластители'},
						{name: 'Сахар и подсластители'},
						{name: 'Сахар и подсластители'},
					]
				},
				{name: 'Фермерское мясо и птица',
					list: [
						{name: 'Мука'},
						{name: 'Крупа и бобы'},
						{name: 'Растительные протеины'},
						{name: 'Бульоны и супы'},
						{name: 'Сахар и подсластители'},
						{name: 'Сахар и подсластители'},
						{name: 'Сахар и подсластители'},
						{name: 'Сахар и подсластители'},
					]
				},
				{name: 'Фермерское молоко, творог',
					list: [
						{name: 'Мука'},
						{name: 'Крупа и бобы'},
						{name: 'Растительные протеины'},
						{name: 'Бульоны и супы'},
						{name: 'Сахар и подсластители'},
						{name: 'Сахар и подсластители'},
						{name: 'Сахар и подсластители'},
						{name: 'Сахар и подсластители'},
					]
				},
				{name: 'Фермерские овощи и фрукты',
					list: [
						{name: 'Мука'},
						{name: 'Крупа и бобы'},
						{name: 'Растительные протеины'},
						{name: 'Бульоны и супы'},
						{name: 'Сахар и подсластители'},
						{name: 'Сахар и подсластители'},
						{name: 'Сахар и подсластители'},
						{name: 'Сахар и подсластители'},
					]
				},
			]},
		{name: 'Детям', link: '/local/templates/html/catalog.html',
				list: [
				{name: 'Бакалея'},
				{name: 'Паста, лапша'},
				{name: 'Натуральные масла'},
				{name: 'Консервированная продукция'},
				{name: 'Оливки, маслины, тапенады'},
				{name: 'Специии, cоусы, заправки'},
				{name: 'Суперфуды'},
				{name: 'Каши и завтраки'},
				{name: 'Японская кухня'},
				{name: 'Фермерское мясо и птица'},
				{name: 'Фермерское молоко, творог'},
				{name: 'Фермерские овощи и фрукты'},
			]},
		{name: 'Веганам', link: '/local/templates/html/catalog.html',
				list: [
				{name: 'Бакалея'},
				{name: 'Паста, лапша', active: true, span: true},
				{name: 'Натуральные масла'},
				{name: 'Консервированная продукция'},
				{name: 'Оливки, маслины, тапенады'},
				{name: 'Специии, cоусы, заправки'},
				{name: 'Суперфуды'},
				{name: 'Каши и завтраки'},
				{name: 'Японская кухня'},
				{name: 'Фермерское мясо и птица'},
				{name: 'Фермерское молоко, творог'},
				{name: 'Фермерские овощи и фрукты'},
			]},
		{name: '<div class="eco">Эко</div> косметика', link: '/local/templates/html/catalog.html',},
		{name: '<div class="eco">Эко</div> дом', link: '/local/templates/html/catalog.html',},
		{name: 'Для Питомцев', link: '/local/templates/html/catalog.html',},
		{name: 'Акции', link: '/local/templates/html/catalog.html',},
		{name: 'Подарки', link: '/local/templates/html/catalog.html',
			list: [
				{name: 'О компании'},
				{name: 'Вакансии'},
				{name: 'Сертификаты'},
				{name: 'Отзывы'},
				{name: 'Наши сотрудники'},
				{name: 'Форма обратной связи'},
				{name: 'Инструкция по форме'},
				{name: 'Изменить будущее'},
				{name: 'Важность оформления контента на сайте'},
				{name: 'Легко читать нельзя, исправить!'},
				{name: 'Как оформить текст на сайте?'},
				{name: 'Требования IT-компаний к офисам'},
				{name: 'Новый раздел'},
			]},
	]
})