@import 'src/assets/css/common/components-import';
header {
  height: 209px;
  @media (max-width: 1023px) {
    height: 66px;
    .header-top-wrap {
      display: none;
    }
  }
  @media (max-width: 575px) {
    height: 44px;
  }
}
.header {
  width: 100%;
  background: #fff;
  box-shadow: 0px 3px 24px rgba(0, 0, 0, .08);
  @media (max-width: 575px) {
    position: fixed;
    z-index: $zindex-fixed;
    top: 0;
    left: 0;
    background: $c-green-dark;
  }
}
@media (min-width: 1024px) {
  .header-scroll-top {
    .header-nav {
      display: flex !important;
    }
  }
}
.header.header-fixed {
  position: fixed;
  z-index: $zindex-fixed;
  top: 0;
  left: 0;
  @media (min-width: 1024px) {
    .header-main {
      margin: 0 auto;
    }
  }
}
.header-top {
  display: none;
}
.blog-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 30px;
  padding: 6px 24px;
  transition: box-shadow .3s;
  border: 1px solid #f2f2f2;
  border-radius: 22px 0px;
  span {
    margin-left: 10px;
    transition: color .3s;
    text-transform: uppercase;
    color: $c-text;
    font-weight: bold;
  }
  &:hover {
    box-shadow: 0px 3px 24px rgba(0, 0, 0, .08);
    span {
      color: $c-green;
    }
  }
  &.active {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, .08);
    span {
      color: $c-green;
    }
  }
}
.header-main-wrap {
  @media (max-width: 1023px) {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 66px;
  }
  @media (max-width: 575px) {
    max-width: 100vw;
    height: 44px;
  }
}
.header-main {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 35px auto 10px;
  transition: height .3s;
  &__logo {
    width: 151px;
    height: 56px;
  }
  &__search {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    max-width: 860px;
    margin: 0 20px 0 35px;
    .search-toggle {
      display: none;
    }
  }
  &__login {
    display: none;
    align-items: center;
    flex-shrink: 0;
    .icon {
      fill: $c-green;
    }
  }
  &__favourite, &__basket {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin-left: 25px;
    transition: flex-direction .5s;
    color: $c-text;
    font-size: 15px;
    .icon {
      flex-shrink: 0;
      margin: 3px 10px;
    }
    span {
      transition: color .3s;
      color: $c-text;
    }
    &:hover {
      span {
        color: $c-green;
      }
    }
  }
  &__favourite {
    position: relative;
    .qty-favourite {
      position: absolute;
      z-index: 0;
      top: -5px;
      left: 15px;
      padding: 2px 6px;
      color: $c-white;
      border-radius: 10px;
      background: $c-green;
      font-size: 12px;
      line-height: 1;
    }
    &.disabled {
      pointer-events: none;
      .qty-favourite {
        background: #999;
      }
    }
    .icon {
      margin: 3px 12px 3px 3px;
      fill: #fff;

      stroke: #8dc63f;
    }
    &:hover {
      span, .price {
        color: $c-green;
      }
    }
  }
  &__basket {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    padding-right: 10px;
    &.disabled {
      pointer-events: none;
      .basket-full .qty-backet {
        background: #999;
      }
    }
    .basket-empty {
      display: flex;
      align-items: center;
    }
    .basket-full {
      position: relative;
      display: flex;
      align-items: center;
      .icon {
        margin: 3px 15px 3px 0;
      }
      .qty-backet {
        position: absolute;
        top: -3px;
        left: 10px;
        padding: 2px 8px;
        color: $c-white;
        border-radius: 10px;
        background: $c-green;
        font-size: 12px;
        line-height: 1;
      }
      .price {
        transition: color .3s;
        white-space: nowrap;
        color: $c-text;
      }
    }
    @media (min-width: 1024px) {
      &:hover {
        position: relative;
        // &::before {
        //   position: absolute;
        //   top: -7px;
        //   right: 0;
        //   width: calc(100% + 10px);
        //   height: calc(100% + 25px);
        //   content: '';
        //   border-radius: 16px 16px 0 0;
        //   box-shadow: 0px 3px 24px rgba(0, 0, 0, .08);
        // }
        .basket-full > span {
          color: $c-green;
        }
        .basket-empty > span {
          color: $c-green;
        }
        // .basket-small {
        //   z-index: $zindex-dropdown;
        //   visibility: visible;
        //   height: auto;
        //   pointer-events: all;
        //   opacity: 1;
        // }
      }
    }
  }
  .basket-menu {
    position: absolute;
    top: 90%;
    right: 0;
    max-width: 560px;
    padding: 30px 40px;
    border-radius: 16px;
    background: #fff;
    .basket-menu-title {
      margin-bottom: 20px;
      font-size: 24px;
      font-weight: bold;
      line-height: 1;
    }
  }
  @media (max-width: 1023px) {
    margin: 5px auto;
    &__search {
      margin: 0 5px 0 15px;
    }
    &__login {
      display: flex;
      margin-left: 15px;
      .icon {
        fill: transparent;

        stroke: $c-green;
      }
    }
    &__favourite, &__basket {
      margin-left: 15px;
      .icon {
        margin: 3px 5px;
      }
      span {
        display: none;
      }
    }
    &__basket {
      width: 40px !important;
    }
  }
  @media (max-width: 768px) {
    &__search {
      margin: 0 0 0 15px;
    }
    &__basket {
      padding-right: 0;
      .price {
        display: none;
      }
    }
  }
  @media (max-width: 575px) {
    &__logo {
      display: flex;
      align-items: center;
      width: 110px;
      height: 35px;
    }
    .logo__img {
      max-width: 100%;
    }
    &__search {
      flex-grow: inherit;
      width: 26px;
      height: 26px;
      .search-toggle {
        position: relative;
        left: 0;
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        background: url('data:image/svg+xml,%0A%3Csvg xmlns=\'http://www.w3.org/2000/svg\' width=\'21\' height=\'21\' fill=\'none\'%3E%3Cdefs/%3E%3Cpath fill=\'%238DC63F\' fill-rule=\'evenodd\' d=\'M8.692.615a8.077 8.077 0 105.258 14.21l5.204 5.204a.692.692 0 00.979-.98l-5.213-5.213A8.077 8.077 0 008.693.616zM2 8.692a6.692 6.692 0 1113.384 0A6.692 6.692 0 012 8.692z\' clip-rule=\'evenodd\'/%3E%3C/svg%3E%0A') no-repeat 50% 50%;
        background-size: 24px;
        &.active {
          position: absolute;
          z-index: 3;
          top: calc(50% - 13px);
          left: calc(100% - 45px);
          width: 26px;
          height: 26px;
          background: url('data:image/svg+xml,%0A%3Csvg xmlns=\'http://www.w3.org/2000/svg\' width=\'16\' height=\'17\' fill=\'none\'%3E%3Cdefs/%3E%3Cpath fill=\'%238DC63F\' fill-rule=\'evenodd\' d=\'M14.892 16.163a.65.65 0 00.918-.919l-6.89-6.89 6.89-6.891a.65.65 0 00-.918-.919L8 7.434 1.11.545a.65.65 0 00-.92.919l6.891 6.89-6.89 6.891a.65.65 0 00.918.92L8 9.271l6.892 6.891z\' clip-rule=\'evenodd\'/%3E%3C/svg%3E')no-repeat 50% 50%;
          background-size: 16px;
        }
      }
    }
    &__favourite {
      .icon {
        fill: $c-green-dark;
      }
    }
    &__search, &__login, &__favourite, &__basket {
      margin: 0 0 0 5px;
      .icon {
        margin: 0;
      }
    }
  }
  @media (max-width: 320px) {
    &__logo {
      width: 90px;
      height: 41px;
    }
  }
}
.sub-text {
  width: auto;
  max-width: 140px;
  margin-left: 35px;
  transition: width .5s;
  color: $c-gray3;
  line-height: 1.45;
  @media (max-width: 1024px) {
    display: none;
  }
}
.mob-nav-toggle {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 20px;
  height: 16px;
  margin: 10px 15px 10px 0;
  cursor: pointer;
  span {
    width: 20px;
    height: 2px;
    transition: background .3s, margin .3s ease;
    background: $c-green-dark;
    &:nth-child(2) {
      margin: 5px 0;
    }
  }
  &.active {
    &:before {
      position: fixed;
      z-index: $zindex-fixed - 1;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      content: '';
      opacity: .7;
      background-color: #000;
    }
    span {
      &:nth-child(1) {
        transform: rotate(45deg);
      }
      &:nth-child(3) {
        transform: rotate(45deg);
      }
      &:nth-child(2) {
        display: none;
      }
    }
  }
  @media (min-width: 1024px) {
    display: none;
  }
  @media (max-width: 575px) {
    span {
      background: $c-green;
    }
  }
}
.header-top-nav {
  .nav-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav-item {
    position: relative;
    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 5px;

      stroke: $c-white;
    }
    &:hover {
      .nav-lvl2 {
        top: 100%;
        visibility: visible;
        opacity: 1;
      }
      .nav-link {
        color: $c-green;
      }
      .icon {
        transform: rotate(180deg);

        stroke: $c-green;
      }
    }
    &.active {
      .nav-link {
        color: $c-green;
      }
      .icon {
        transform: rotate(180deg);

        stroke: $c-green;
      }
    }
  }
  .nav-link {
    display: flex;
    align-items: center;
    padding: 5px 25px;
    transition: color .3s;
    white-space: nowrap;
    color: $c-white;
  }
  .nav-lvl2 {
    position: absolute;
    z-index: $zindex-dropdown;
    top: calc(100% + 10px);
    left: 0;
    display: block;
    visibility: hidden;
    min-width: 215px;
    padding: 7px 0;
    transition: opacity .3s, top .3s, visibility .3s;
    transition-delay: .3s;
    opacity: 0;
    &::before {
      position: absolute;
      top: 0;
      left: 30%;
      width: 15px;
      height: 15px;
      content: '';
      transform: rotate(45deg);
      background: #fff;
    }
  }
  .nav-lvl2-item {
    &:first-child .nav-lvl2-link {
      border-radius: 8px 8px 0px 0px;
    }
    &:last-child .nav-lvl2-link {
      border-radius: 0px 0px 16px 16px;
    }
    &:hover {
      .nav-lvl2-link {
        background: $c-gray4;
      }
    }
    &.active {
      .nav-lvl2-link {
        color: $c-green-dark;
        background: $c-gray4;
      }
    }
  }
  .nav-lvl2-list {
    overflow: hidden;
    border-radius: 8px 8px 16px 16px;
    box-shadow: 0px 3px 24px rgba(0, 0, 0, .08);
  }
  .nav-lvl2-link {
    display: block;
    padding: 15px 20px;
    transition: color .3s ease, background .3s;
    color: $c-text;
    background-color: #fff;
    font-size: 15px;
  }
  @media (max-width: 1599px) {
    .nav-link {
      padding: 5px 10px;
    }
  }
}
.header-contact {
  display: flex;
  align-items: center;
  white-space: nowrap;
  &__item {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    padding: 0 20px;
    .icon {
      margin: 0 8px 0 0;
      transition: fill .3s;
      fill: $c-white;
    }
    &:hover, &.active {
      .header-contact__link {
        color: $c-green;
      }
      .icon {
        fill: $c-green;
      }
    }
  }
  &__link {
    cursor: pointer;
    transition: color .3s;
    color: $c-white;
  }
  @media (max-width: 1599px) {
    &__item {
      padding: 0 10px;
    }
    &__link {
      font-weight: 300;
    }
  }
  @media (max-width: 1199px) {
    .contact-email {
      display: none;
    }
  }
}
.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

// padding: 15px;
  transition: padding .3s;

  .eco {
    display: inline;
    color: $c-green;
  }
  .nav {
    display: flex;
    flex-grow: 1;
    margin: 15px 0;
  }
  .nav-list {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .nav-item {
    padding: 0 10px 0 0;
    &:hover {
      .nav-lvl2 {
        top: 100%;
        visibility: visible;
        opacity: 1;
      }
      .nav-link {
        color: $c-green;
      }
    }
    &.active {
      .nav-link {
        border-bottom: 2px solid $c-green;
      }
    }
  }
  .nav-lvl2-item.active {
    .nav-lvl2-link {
      color: $c-green;
    }
  }
  .nav-link {
    display: flex;
    padding: 7px 0;
    transition: color .3s, border .3s !important;
    white-space: nowrap;
    letter-spacing: .03em;
    text-transform: uppercase;
    color: $c-text;
    border-bottom: 2px solid transparent;
    font-size: 15px;
    font-weight: bold;
  }
  .nav-lvl2 {
    position: absolute;
    z-index: $zindex-dropdown;
    top: calc(100% + 10px);
    left: 0;
    display: block;
    visibility: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: auto;
    width: calc(100% + 80px);
    max-height: 79vh;
    padding: 29px 29px 19px 29px;
    transition: opacity .3s, top .3s, visibility .3s;
    transition-delay: .3s;
    opacity: 0;
    border-radius: 16px;
    background-color: #fff;
    box-shadow: 0 3px 20px rgba(0, 0, 0, .15);

       -moz-overflow-scrolling: auto;
        -ms-overflow-scrolling: auto;
         -o-overflow-scrolling: auto;
    &::-webkit-scrollbar {
      width: 4px;
      cursor: pointer;

      -webkit-appearance: none;
    }
    &::-webkit-scrollbar-button {
      width: 4px;
      height: 5px;
      background-color: transparent;
    }
    &::-webkit-scrollbar-track {
      background-color: #e0e0e0;
    }
    &::-webkit-scrollbar-track-piece {
      background-color: #e0e0e0;
    }
    &::-webkit-scrollbar-thumb {
      width: 0;
      height: 0;
      border-radius: 5px;
      background-color: $c-gray;
      &:hover {
        background-color: #4f681e;
      }
    }
    &::-webkit-scrollbar-corner {
      width: 0;
      height: 0;
      background-color: #e0e0e0;
    }
    &::-webkit-resizer {
      background-color: #e0e0e0;
    }
  }
  .nav-lvl2-list {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% + 50px);
    margin: 0 -25px;
  }
  .nav-lvl2-item {
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: calc(25% - 50px);
    margin: 0 25px 40px;
  }
  .nav-lvl2-link {
    padding: 8px 0;
    transition: color .3s ease;
    letter-spacing: .03em;
    text-transform: uppercase;
    color: $c-text;
    font-size: 15px;
    &:hover {
      color: $c-green;
    }
  }
  .nav-lvl2-toggle {
    display: none;
  }
  .nav-lvl3-list {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    &.opened .nav-lvl3-item:nth-child(n+3) {
      display: flex !important;
    }
  }
  .nav-lvl3-item {
    &:nth-child(n+3) {
      display: none;
    }
  }
  .nav-lvl3-link {
    display: flex;
    padding: 4px 0;
    transition: color .3s;
    color: $c-text;
    font-size: 15px;
    font-weight: 300;
    &:hover {
      color: $c-green;
    }
  }
  .nav-lvl3-trigger {
    position: relative;
    display: flex;
    margin-top: 8px;
    padding-right: 17px;
    cursor: pointer;
    letter-spacing: .02em;
    color: $c-green;
    &::before {
      position: absolute;
      top: calc(50% - 3px);
      right: 0;
      width: 10px;
      height: 6px;
      content: '';
      background: no-repeat;
      background-image: url('data:image/svg+xml,%3Csvg width=\'11\' height=\'7\' fill=\'none\' xmlns=\'http://www.w3.org/2000/svg\'%3E%3Cpath fill-rule=\'evenodd\' clip-rule=\'evenodd\' d=\'M5.389 5.481L10.035.835l.707.707L5.39 6.895.035 1.542.742.835 5.39 5.48z\' fill=\'%238DC63F\'/%3E%3C/svg%3E');
      background-size: cover;
    }
    .link-hide {
      display: none;
    }
    &.active {
      &::before {
        top: calc(50% - 2px);
        transform: rotate(180deg);
      }
      .link-hide {
        display: block;
      }
      .link-show {
        display: none;
      }
    }
  }
  @media (max-width: 1199px) {
    .nav-lvl2-item {
      width: calc(33.3% - 50px);
    }
  }
  @media (max-width: 1023px) {
    display: none;
  }
}
.header-contact__item {
  position: relative;
}
.recall-window {
  position: absolute;
  z-index: $zindex-dropdown;
  top: calc(100% + 20px);
  left: 50%;
  visibility: hidden;
  width: 340px;
  height: 0;
  padding: 30px 40px 40px;
  transform: translateX(-50%);
  opacity: 0;
  border-radius: 22px 0;
  background: $c-white;
  box-shadow: 0px 3px 24px rgba(0, 0, 0, .08);
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  &__title {
    font-size: 24px;
    font-weight: bold;
  }
  &__close {
    width: 20px;
    height: 20px;
    cursor: pointer;
    .icon {
      transition: fill .3s;
      fill: $c-green;
    }
    &:hover {
      .icon {
        fill: $c-green-dark;
      }
    }
  }
  &.active {
    visibility: visible;
    height: auto;
    opacity: 1;
  }
  .form-caption {
    margin-bottom: 15px;
  }
  .btn {
    width: 100%;
  }
}
.js-open-window:hover {
  .pers-info-window {
    visibility: visible;
    height: auto;
    opacity: 1;
  }
}
.pers-info-window {
  position: absolute;
  z-index: $zindex-dropdown;
  top: calc(100% + 20px);
  left: 50%;
  display: flex;
  visibility: hidden;
  flex-direction: column;
  width: 250px;
  height: 0;
  transform: translateX(-50%);
  opacity: 0;
  border-radius: 16px;
  background: $c-white;
  box-shadow: 0px 3px 24px rgba(0, 0, 0, .08);
  &:after {
    position: absolute;
    top: -20px;
    left: 0;
    width: 100%;
    height: 30px;
    content: '';
  }
  &__head {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 15px 20px;
    color: #fff;
    border-radius: 16px 16px 0 0;
    background: $c-bg2;
  }
  &__link {
    display: flex;
    padding: 15px 20px;
    span {
      color: $c-text;
    }
    &:last-child {
      border-radius: 0 0 16px 16px;
    }
    &.active {
      cursor: default;
      pointer-events: none;
      span {
        color: $c-green;
      }
    }
  }
  @media (min-width: 1024px) {
    .pers-info-window__link {
      &:hover {
        background: #fafafa;
      }
    }
  }
}
@media (min-width: $md) {
  .header-top {
    display: flex;
    justify-content: space-between;
    padding: 7px 10px;
    border-radius: 0px 0px 22px 22px;
    background: $c-green-dark;
    font-size: 15px;
  }
}


