+include-script('header')
+ajax()

.header.js-header
	.header-container
		.header-top-wrap
			.header-top.container
				.header-top-nav
					+nav({
							compress: false,
							list: [
								{name: 'О компании', link: './about.html',
									list: [
										{name: 'Бренды', link: './brand.html'},
										{name: 'Доставка и оплата', active: true, span: true},
										{name: 'Программа лояльности'},
										{name: 'Био органика'},
									]
								},
								{name: 'Потребителям'},
								{name: 'Магазины'},
								{name: 'Контакты', link: './contacts.html'},
							]
						})
				.header-contact 
					.header-contact__item.contact-email
						+icon('i-email')(style='width: 16px; height: 16px;')
						a(href='#' aria-label='написана на info@veska.shop').header-contact__link info@veska.shop
					.header-contact__item
						+icon('i-mtc')(style='width: 12px; height: 16px;')
						+icon('i-a1')(style='width: 16px; height: 16px;')
						a(href='#' aria-label='позвонить +375 (29) 646-16-16').header-contact__link +375 (29) 646-16-16
					.header-contact__item.js-btn-toggle(data-target='.recall-window', data-overflow-click='true', data-overflow-fade='true' aria-label='Обратный звонок')
						+icon('i-tel-filled')(style='width: 20px; height: 16px;')
						.header-contact__link Обратный звонок
						.recall-window
							.recall-window__header
								.recall-window__title Обратный звонок
								.recall-window__close.js-btn-toggle(data-target='.recall-window.active')
									+icon('i-close')(style='width: 20px; height: 20px;')
							.recall-window__body
								.recall-window__form
									form.bv-form.js_lazy-load-validation(
										enctype='multipart/form-data',
										method='POST',
										action='#',
										autocomplete='on',
										novalidate='novalidate'
										)
										+input({
											label: 'Ваше имя',
											type: 'text',
											name: false,
											small: false,
											placeholder: 'Александр',
											required: true,
											validation: {
												message: 'Обязательное поле',
												regexp: 'Неверный формат',
												emailaddress: ' ',
												identical: false
											}
										})
										+input({
											label: 'Телефон',
											type: 'tel',
											name: false,
											small: false,
											placeholder: '+375 (__) ___-__-__',
											required: true,
											pattern: 'phone',
											validation: {
												message: 'Обязательное поле',
												regexp: 'Неверный формат',
												emailaddress: ' ',
												identical: false
											}
										})
									.form-caption Мы перезвоним в течение 5 минут.
									button.btn.btn--primary Перезвоните мне
							.recall-window__footer
					.header-contact__item.js-open-window
						+icon('i-pers')(style='width: 24px; height: 16px;')
						.header-contact__link Александр
						.pers-info-window.js-main-window
							.pers-info-window__head Александр Петрович
							span.pers-info-window__link.active
								+icon('i-history-link')(style='width:26px; height:26px;')
								span Моя корзина
							a(href="local/templates/html/basket.html").pers-info-window__link
								//- +icon('i-bonus-star')(style='width:26px; height:26px;')
								span Бонусные баллы
							a(href="#" aria-label='Выйти' title='Выйти из личного кабинета').pers-info-window__link
								+icon('i-logout')(style='width:18px; height:18px; fill:#4d4d4f')
								span Выйти


					a(href="#" aria-label='Выйти' title='Выйти из личного кабинета').header-contact__item
						+icon('i-logout')(style='width:24px; height:24px;')
		.header-main-wrap
			.header-main.container
				.mob-nav-toggle.js-btn-toggle(
					data-ajax='true',
					data-ajax-src='/local/templates/html/components-template/mob-menu/ajax__mob-menu.html',
					data-ajax-event='click touch',
					data-ajax-target='.mob-menu-container',
					data-ajax-reinit='select',
					data-target='.mob-menu',
					aria-label='открыть меню')
					span
					span
					span
				.header-main__logo
					a.logo(href='/local/templates/html/index.html', aria-label='На главную')
						picture
							source(media="(max-width: 575px)" srcset="./images/logo-white.svg")
							source(media="(min-width: 576px)" srcset="./images/logo-light.svg")
							img(src="./images/logo-light.svg", alt="#").logo__img
				.sub-text Когда достаточно натурального 
				.header-main__search
					.search-toggle.js-btn-toggle(data-target='.header-search' aria-label='Поиск')
						//- +icon('i-search')(style='width: 26px; height: 26px; fill: #8DC63F')
					//- +search-mixin()
				a(href="#" aria-label='Войти').header-main__login
					+icon('i-pers')(style='width: 24px; height: 24px;')
				a(href="/local/templates/html/profil.html" aria-label='Избранное').header-main__favourite.disabled
					+icon('i-like')(style='width: 26px; height: 26px; stroke: #8DC63F;')
					span Избранное
					.qty-favourite 25
				.header-main__basket
					.basket-empty.hidden
						+icon('i-basket-empty')(style='width: 25px; height: 24px; fill: #8DC63F')
						span Корзина
					
					a(href="/local/templates/html/basket.html" aria-label='Корзина').basket-full
						.qty-backet 25
						+icon('i-basket-full')(style='width: 25px; height: 24px; fill: #8DC63F')
						.price 20 888,50 р.
					//- include ../basket-small/basket-small
		.header-nav.container
			+nav({
				compress: false,
				list: [
					{name: '<div class="eco">Эко</div> еда',
						active: true,
						span: true,
						list_hidden: true
					},
					{name: 'Детям', link: '/local/templates/html/catalog.html', list_hidden: true},
					{name: 'Веганам', link: '/local/templates/html/catalog.html', list_hidden: true},
					{name: '<div class="eco">Эко</div> косметика', link: '/local/templates/html/catalog.html', list_hidden: true},
					{name: '<div class="eco">Эко</div> дом', link: '/local/templates/html/catalog.html', list_hidden: true},
					{name: 'Для Питомцев', link: '/local/templates/html/catalog.html', list_hidden: true},
					{name: 'Акции', link: '/local/templates/html/catalog.html', list_hidden: true},
					{name: 'Подарки', link: '/local/templates/html/catalog.html', list_hidden: true },
				]
			})
			a(href="/local/templates/html/blog.html" aria-label='Блог').blog-btn
				+icon('i-blog')(style='width:26px; height:26px; fill:#8DC63F')
				span VeskaБлог

include ../mob-menu/mob-menu
