// @import 'src/assets/css/common/components-import';
// .basket-small-container {
//   position: relative;
// }
.basket-small {
	display: none !important;
}
// @media (max-width: 768px) {
// display: none
// }
// @media (min-width: 768px) {
//   .basket-small {
//     position: absolute;
//     z-index: -1;
//     top: 90%;
//     right: 0;
//     visibility: hidden;
//     width: 685px;
//     height: 0;
//     padding: 20px;
//     transition: visibility .3s, height .3s;
//     pointer-events: none;
//     opacity: 0;
//     border-radius: 16px;
//     background: #fff;
//     box-shadow: 0px 24px 24px rgba(0, 0, 0, .08);
//     &__empty-container {
//       padding: 10px 20px;
//       .title {
//         margin-bottom: 20px;
//         font-size: 24px;
//         font-weight: bold;
//         line-height: 1;
//       }
//       span, a {
//         color: $c-text;
//         font-size: 15px;
//         font-weight: normal;
//       }
//       a {
//         transition: color .3s;
//         text-decoration: underline;
//         &:hover {
//           color: $c-green-dark;
//         }
//       }
//     }
//     &__product-list {
//       overflow: auto;
//       -webkit-overflow-scrolling: auto;
//       max-height: 260px;

//          -moz-overflow-scrolling: auto;
//           -ms-overflow-scrolling: auto;
//            -o-overflow-scrolling: auto;
//       &::-webkit-scrollbar {
//         width: 4px;
//         cursor: pointer;

//         -webkit-appearance: none;
//       }
//       &::-webkit-scrollbar-button {
//         width: 0;
//         height: 0;
//         background-color: #e0e0e0;
//       }
//       &::-webkit-scrollbar-track {
//         background-color: #e0e0e0;
//       }
//       &::-webkit-scrollbar-track-piece {
//         background-color: #e0e0e0;
//       }
//       &::-webkit-scrollbar-thumb {
//         width: 0;
//         height: 0;
//         border-radius: 5px;
//         background-color: $c-gray;
//         &:hover {
//           background-color: #4f681e;
//         }
//       }
//       &::-webkit-scrollbar-corner {
//         width: 0;
//         height: 0;
//         background-color: #e0e0e0;
//       }
//       &::-webkit-resizer {
//         background-color: #e0e0e0;
//       }
//     }
//     &__detail {
//       display: flex;
//       align-items: center;
//       justify-content: flex-end;
//       margin: 20px 0;
//       padding: 17px;
//       background: #f7f7f7;
//     }
//     &__detail-item {
//       display: flex;
//       align-items: flex-end;
//       margin-left: 30px;
//       span {
//         margin-right: 10px;
//         color: $c-gray6;
//       }
//       .total {
//         font-size: 24px;
//         font-weight: bold;
//         line-height: 1;
//       }
//     }
//     .btn-wrap {
//       margin: 0;
//     }
//     .empty-recycle-bin {
//       position: static;
//       justify-content: center;
//       margin-left: auto;
//       color: #828282;
//     }
//     .product-card {
//       max-width: none;
//       height: auto;
//       &:not(:last-child) {
//         margin-bottom: 20px;
//       }
//       &__container {
//         display: flex;
//         box-shadow: none !important;
//       }
//       &__head .close {
//         top: 27px;
//         display: flex;
//         align-items: center;
//         justify-content: center;
//       }
//       &__footer, &__body {
//         display: flex;
//       }
//       &__descr {
//         margin-bottom: 4px;
//       }
//       &__footer {
//         padding-right: 70px;
//       }
//       &__body {
//         flex-grow: 1;
//         justify-content: space-between;
//         padding: 5px 0 5px 20px;
//       }
//       &__descr-wrap {
//         max-width: 240px;
//       }
//       &__counter {
//         visibility: visible;
//         align-items: center;
//         justify-content: center;
//         order: 1;
//         max-width: 120px;
//         height: auto;
//         margin: 0 15px;
//         margin-bottom: 0 !important;
//         opacity: 1;
//         .btn:not(.btn--error) {
//           display: none;
//         }
//         .btn--error {
//           width: auto;
//           margin: 0;
//           padding: 0;
//           white-space: normal;
//           border: none;
//           font-weight: normal;
//         }
//         .counter {
//           margin-bottom: 0;
//         }
//         .counter-input {
//           max-width: 58px;
//           height: 32px;
//           padding: 5px;
//           border-radius: 33px;
//         }
//         .counter-btn {
//           width: 30px;
//           height: 30px;
//         }
//       }
//       &__price-wrap {
//         align-items: baseline;
//         flex-direction: column;
//         flex-shrink: 0;
//         justify-content: center;
//         order: 2;
//         width: 120px;
//         margin-bottom: 0;
//         padding: 0 5px;
//         .price {
//           font-size: 18px;
//         }
//         .sale {
//           font-size: 14px;
//         }
//       }
//       &__img-wrap {
//         width: 60px;
//         height: 60px;
//         padding-top: 0;
//       }
//       .status, .backet, .label-list, &__total {
//         display: none;
//       }
//       .title {
//         margin-bottom: 0;
//       }
//       .favourite {
//         top: 50%;
//         right: 40px;
//         transform: translateY(-50%);
//         opacity: 1;
//       }
//     }
//   }
// }