@import 'src/assets/css/common/components-import';
.feedback {
	padding: 80px 0 0 0;
	&__title {
		margin-bottom: 40px;
	}
	@media (max-width: 1024px) {
		padding: 60px 0 0 0;
	}
	@media (max-width: 575px) {
		padding: 40px 0 0 0;
	}
}
.feedback-item {
	position: relative;
	z-index: 1;
	background: $c-white;
	border-radius: 22px 0px;
	box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.08);
	margin-bottom: 30px;
	padding: 30px 40px 30px 30px;
	&__head {
		display: flex;
		position: relative;
		margin-bottom: 30px;
		.pers-desrc {
			display: flex;
			flex-wrap: wrap;
			width: 100%;
			margin-left: 75px;
		}
		.pers-name {
			display: flex;
			font-weight: bold;
			font-size: 18px;
			margin-right: 20px;
		}
		.date {
			font-weight: 300;
			color: $c-gray6;
			width: 100%;
			margin: 0 0 10px;
		}
	}
	&__body {
		span {
			line-height: 1.45;

		}
	}
	.pers-photo-wrap {
		width: 52px;
		height: 52px;
		border-radius: 100%;
		background: #7354C7;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-shrink: 0;
		margin-right: 20px;
		position: absolute;
		top: 0;
		left: 0;
		overflow: hidden;
	}
	@media (max-width: 575px) {
		padding: 17px;
		&__head {
			margin-bottom: 20px;
			.pers-desrc {
				margin-left: 0;
			}
			.pers-name {
				order: 3;
			}
			.rating {
				order: 2;
				width: 100%;
				margin-bottom: 20px;
				margin-left: 75px;
			}
			.date {
				margin-left: 75px;
				order: 1;
			}
		}
	}
 
}