@import '../../assets/css/common/components-import';
.index-slider-product-2 {
  position: relative;
  .slider-product__title {
    position: absolute;
    top: 55px;
    left: 64vw;
    justify-content: flex-start;
    text-transform: uppercase;
    opacity: .15;
    font-size: 52px;
    font-weight: 100;
  }
  &::before {
    position: absolute;
    z-index: 0;
    top: 0;
    left: -50vw;
    width: 200vw;
    height: 100%;
    content: '';
    background: $c-bg;
  }
  &__left-bg-wrap {
    position: absolute;
    z-index: 0;
    top: -18%;
    left: 0;
    width: 100%;
    max-width: 1012px;
    height: 489px;
    transition: transform .5s;
    &.loaded {
      transform: translateX(-15%);
    }
  }
  &__right-bg-wrap {
    position: absolute;
    z-index: 0;
    top: 50%;
    left: 80%;
    width: 100%;
    max-width: 675px;
    height: 325px;
  }
  @media (max-width: 1600px) {
    &__left-bg-wrap {
      left: 0;
      &.loaded {
        transform: translateX(-15%);
      }
    }
    &__right-bg-wrap {
      left: 60%;
    }
  }
  @media (max-width: 1200px) {
    .slider-product__title {
      top: 55px;
      left: 58vw;
    }
  }
  @media (max-width: 1024px) {
    .slider-product__title {
      position: static;
    }
  }
  @media (max-width: 768px) {
    &__left-bg-wrap, &__right-bg-wrap {
      display: none;
    }
    .slider-product__title {
      justify-content: center;
      font-size: 39px;
    }
  }
}