@import 'src/assets/css/common/components-import';
footer {
  position: relative;
  z-index: 1;
  color: $c-white;
  background-color: $c-bg2;
}
.footer-main {
  display: flex;
  width: 100%;
  padding: 45px 0;
  &__col {
    width: 25%;
    &:last-child {
      p {
        max-width: 250px;
      }
      .icon:not(:last-child) {
        margin-right: 20px;
      }
    }
  }
  @media (max-width: 1024px) {
    flex-wrap: wrap;
    padding: 40px 0 0 0;
    &__col {
      width: 50%;
      margin-bottom: 40px;
    }
  }
  @media (max-width: 768px) {
    &__col {
      &:last-child {
        p {
          max-width: 100%;
        }
        .icon:not(:last-child) {
          margin-right: 12px;
        }
      }
    }
  }
  @media (max-width: 575px) {
    &__col {
      width: 100%;
      margin-bottom: 25px;
      &:last-child {
        p {
          font-size: 14px;
        }
      }
    }
  }
}
.footer-title {
  margin-bottom: 12px;
  letter-spacing: .01em;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.2;
}
.footer-title--toggle {
  display: flex;
  align-items: center;
  cursor: default;
  pointer-events: none;
  .icon {
    display: none;
  }
  .js-btn-toggle {
    display: none;
  }
  @media (max-width: 575px) {
    position: relative;
    pointer-events: all;
    span {
      margin-right: 15px;
    }
    .icon {
      display: block;
      transform: rotate(90deg);
    }
    .js-btn-toggle {
      position: absolute;
      z-index: 2;
      display: block;
      width: 100%;
      height: 100%;
      &.active ~ .icon {
        transform: rotate(-90deg);
      }
    }
  }
}
.footer-nav {
  .nav-list {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .nav-item {
    margin: 5px 0;
    &.active {
      .nav-link {
        color: $c-white;
      }
    }
  }
  .nav-link {
    transition: color .2s;
    color: $c-gray;
    font-size: 15px;
    line-height: 1.1;
    &:hover {
      color: $c-green;
    }
  }
  @media (max-width: 575px) {
    display: none;
    &.active {
      display: block;
    }
  }
}
.footer-bottom {
  display: flex;
  width: 100%;
  padding: 18px 0;
  border-top: 1px solid $c-white-30;
  &__col {
    display: flex;
    align-items: center;
  }
  @media (max-width: 575px) {
    flex-direction: column;
    padding: 15px 0;
    &__col {
      margin-bottom: 5px;
    }
  }
}
.footer-bottom-text {
  margin-right: 25px;
  color: $c-bg;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.2;
  @media (max-width: 575px) {
    color: $c-bg;
  }
}