@import '../../assets/css/common/components-import';
.main-title {
  display: inline;
  .h1, h1 {
    display: inline;
    margin-right: 40px;
  }
  .manufacturer {
    display: inline-flex;
    align-items: center;
    margin-bottom: 40px;
    letter-spacing: .02em;
    color: #828282;
    font-size: 15px;
    font-weight: normal;
    &__img-wrap {
      display: inline-block;
      width: 32px;
      height: 32px;
      border: 1px solid #f2f2f2;
      border-radius: 100%;
    }
    &__img {
      max-width: 100%;
    }
    span {
      padding-left: 7px;
    }
  }
}
.product-page {
  &__first-part {
    position: relative;
    display: flex;
  }
  .slider-sertif {
    .custom-swiper-btn__prev {
      z-index: 1;
    }
    .custom-swiper-btn__next {
      z-index: 1;
    }
  }
  .slider-news {
    background: none;
    &__title {
      justify-content: flex-start;
    }
    .custom-swiper-btn {
      display: none;
    }
  }
  .product-description__info {
    position: relative;
    top: -25px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    .favourite {
      position: static;
      display: flex;
      align-items: center;
      margin-left: auto;
      cursor: pointer;
      span {
        display: none;
      }
      .icon {
        transition: fill .3s;
        fill: #fff;
      }
      &:hover {
        .icon {
          fill: $c-green;
        }
      }
      &.active {
        .icon {
          fill: $c-green;
        }
        &:hover {
          fill: #fff;
          .icon {
            fill: #fff;
          }
        }
      }
    }
    .posted {
      display: flex;
      flex-grow: 1;
      width: auto;
      max-width: 100%;
      padding: 0 8px 0 0;
      transform: none;
      border-radius: 10px;
      background: #fff;
      box-shadow: none;
      font-size: 14px;
      &__true {
        color: $c-green-dark;
      }
      &__false {
        color: #ff8417;
      }
    }
    .status {
      margin-right: 20px;
      font-size: 14px;
      &__true {
        color: $c-green;
      }
      &__false {
        color: $c-error;
      }
    }
    .code {
      margin-right: 15px;
      letter-spacing: 0;
      color: $c-gray6;
      font-size: 14px;
      font-weight: 300;
    }
  }
  @media (max-width: 1199px) {
    & > .container {
      .row:first-child {
        display: flex;
        flex-direction: column-reverse;
      }
    }
  }
  @media (max-width: 1023px) {
		.product-description {
			padding: 30px 0 0 30px;
		}
    .product-description__info {
      flex-wrap: wrap;
    }
  }
  @media (max-width: 767px) {
    &__first-part {
      flex-direction: column;
      .product-description {
        padding: 30px 0 0 0;
      }
      & + .product-description {
        padding: 30px 20px 0 0;
      }
    }
    .product-description__info {
      position: static;
      margin-bottom: 20px;
      .favourite {
        position: absolute;
        z-index: 1;
        top: 0;
        right: 15px;
      }
    }
  }
}
.product-description {
  overflow: hidden;
  width: 100%;
  padding: 30px 30px 0 30px;
  &__title {
    margin-bottom: 12px;
    letter-spacing: .01em;
    font-size: 18px;
    font-weight: bold;
  }
  &__body {
    padding-bottom: 30px;
  }
  &__targets {
    display: flex;
    overflow: auto;
    -webkit-overflow-scrolling: auto;
    margin: 0 -25px 0 0;
    padding: 0 25px 0 10px;

       -moz-overflow-scrolling: auto;
        -ms-overflow-scrolling: auto;
         -o-overflow-scrolling: auto;
    &::-webkit-scrollbar {
      height: 3px;
      cursor: pointer;

      -webkit-appearance: none;
    }
    &::-webkit-scrollbar-button {
      width: 0;
      background-color: $c-gray;
    }
    &::-webkit-scrollbar-track {
      background-color: $c-gray;
    }
    &::-webkit-scrollbar-track-piece {
      background-color: $c-gray;
    }
    &::-webkit-scrollbar-thumb {
      width: 3px;
      height: 3px;
      border-radius: 5px;
      background-color: #4f681e;
    }
    &::-webkit-scrollbar-corner {
      background-color: #999;
    }
    &::-webkit-resizer {
      background-color: #666;
    }
    .target-link {
      flex-shrink: 0;
      width: 378px;
      margin: 10px 30px 10px 0;
    }
  }
  @media (max-width: 767px) {
    padding: 30px 20px 0 20px;
    &__targets {
      .target-link {
        width: 90%;
        max-width: 350px;
        margin: 10px 30px 10px 0;
      }
    }
  }
}
.product-table {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: 50px 0 0 0;
  padding: 30px;
  border-radius: 22px;
  background: $c-bg;
  .negative {
    .right-col {
      span {
        color: $c-green-dark;
      }
    }
  }
  .positive {
    .right-col {
      span {
        color: $c-error;
      }
    }
  }
  &__title {
    width: 100%;
    margin-bottom: 12px;
    letter-spacing: .01em;
    font-size: 18px;
    font-weight: bold;
  }
  &__item {
    display: flex;
    justify-content: space-between;
    width: calc(50% - 20px);
    margin-bottom: 10px;
    padding: 10px 0;
    border-bottom: 1px dotted $c-gray;
    &:nth-child(odd) {
      margin-right: 20px;
    }
    &:nth-child(even) {
      margin-left: 20px;
    }
    .icon {
      flex-shrink: 0;
    }
    .left-col {
      .icon {
        cursor: pointer;
      }
    }
    .right-col {
      display: flex;
      align-items: center;
      width: 60px;
      span {
        padding-left: 10px;
      }
    }
  }
  .tooltip-parent {
    position: relative;
    &:hover {
      .tooltip-2 {
        visibility: visible;
        height: auto;
        opacity: 1;
      }
    }
  }
  .tooltip-2 {
    position: absolute;
    z-index: 2;
    top: 95%;
    left: -15px;
    visibility: hidden;
    width: 380px;
    height: 0;
    margin: 0;
    padding: 12px;
    transition: opacity .3s, visibility .3s, height .5s ease;
    opacity: 0;
    border-radius: 10px;
    background: #fcfcfc;
    box-shadow: 0px 3px 24px rgba(0, 0, 0, .08);
    font-size: 12px;
    p {
      margin: 10px 0;
      font-size: 12px;
      line-height: 1.5;
    }
  }
  @media (max-width: 1024px) {
    margin: 90px 0 0 0;
    padding: 30px 20px;
  }
  @media (max-width: 767px) {
    &__item {
      width: 100%;
      padding: 5px 0;
      &:nth-child(odd) {
        margin-right: 0;
      }
      &:nth-child(even) {
        margin-left: 0;
      }
    }
  }
  @media (max-width: 575px) {
    .tooltip-2 {
      width: 90vw;
    }
  }
}
.product-tag {
  position: absolute;
  top: -15px;
  right: 23px;
  display: flex;
  overflow: auto;
  &__item {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin: 0 8px 0 0;
    padding: 2px 10px;
    border-radius: 0px 16px;
    background: $c-green;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, .08);
    span {
      padding-left: 5px;
      white-space: nowrap;
      letter-spacing: 0;
      color: $c-white;
      font-size: 12px;
      font-weight: bold;
    }
    .icon {
      flex-shrink: 0;
    }
  }
  @media (max-width: 1024px) {
    top: -50px;
    right: auto;
    left: 0;
    width: 100%;
    padding-bottom: 10px;
  }
  @media (max-width: 768px) {
    -webkit-overflow-scrolling: auto;

       -moz-overflow-scrolling: auto;
        -ms-overflow-scrolling: auto;
         -o-overflow-scrolling: auto;
    &::-webkit-scrollbar {
      height: 3px;
      cursor: pointer;

      -webkit-appearance: none;
    }
    &::-webkit-scrollbar-button {
      width: 0;
      background-color: $c-gray;
    }
    &::-webkit-scrollbar-track {
      background-color: $c-gray;
    }
    &::-webkit-scrollbar-track-piece {
      background-color: $c-gray;
    }
    &::-webkit-scrollbar-thumb {
      width: 3px;
      height: 3px;
      border-radius: 3px;
      background-color: #4f681e;
    }
    &::-webkit-scrollbar-corner {
      background-color: #999;
    }
    &::-webkit-resizer {
      background-color: #666;
    }
  }
}
.product-description-bg-gray {
  border-radius: 22px;
  background: $c-bg;
}
.product-card-sub-title {
  position: relative;
  max-width: 378px;
  margin: auto;
  padding: 15px 30px;
  color: #e37c21;
  border: 1px solid #e37c21;
  border-radius: 22px;
  font-size: 15px;
  font-weight: normal;
  .icon {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 26px;
    cursor: pointer;
  }
  @media (max-width: 1199px) {
    display: none;
  }
}
.product-page__slider-1 {
  position: relative;
  z-index: 0;
  &::before {
    position: absolute;
    z-index: -1;
    top: 0;
    left: -50vw;
    width: 200vw;
    height: 100%;
    content: '';
    opacity: .2;
    background-image: url('../../images/vegetable-png.png') ;
  }
  &::after {
    position: absolute;
    z-index: -2;
    top: 0;
    left: -50vw;
    width: 200vw;
    height: 100%;
    content: '';
    background: $c-bg2;
  }
  .slider-product__title {
    color: $c-white;
  }
}
.product-page__slider-2 {
  position: relative;
  &__left-bg-wrap {
    position: absolute;
    z-index: 0;
    top: 20%;
    left: 0;
    width: 100%;
    max-width: 1012px;
    height: 489px;
    transition: transform .5s;
  }
  @media (max-width: 1600px) {
    &__left-bg-wrap {
      left: 0;
    }
  }
  @media (max-width: 768px) {
    &__left-bg-wrap, &__right-bg-wrap {
      display: none;
    }
  }
}
.sale-block-2 {
  .sale-block {
    height: 80px;
    @media (max-width: 1199px) {
      height: 255px;
    }
    @media (max-width: 575px) {
      height: auto;
      margin-bottom: 20px;
    }
  }
}
.sale-block-3 {
  .sale-block {
    height: 120px;
    @media (max-width: 1199px) {
      height: 210px;
    }
    @media (max-width: 575px) {
      height: auto;
      margin-bottom: 20px;
    }
  }
}
.sale-block {
  position: relative;
  top: -130px;
  height: 0;
  &__container {
    height: 102px;
    transition: transform .4s ease-in-out;
    &:nth-child(1) {
      &:hover {
        & ~ .sale-block__container:nth-child(2) {
          transform: translateY(0);
        }
        & ~ .sale-block__container:nth-child(3) {
          transform: translateY(-58px);
        }
      }
    }
    &:nth-child(2) {
      transform: translateY(-58px);
      &:hover {
        & ~ .sale-block__container:nth-child(3) {
          transform: translateY(-58px);
        }
      }
    }
    &:nth-child(3) {
      transform: translateY(-58px*2);
    }
  }
  &__item {
    position: relative;
    height: 100%;
    padding: 50px 30px 10px;
    cursor: pointer;
    color: $c-white;
    border-radius: 22px;
    line-height: 1.45;
    a {
      display: block;
    }
    &.label-sale {
      background: #ae40c7;
      .sale-block__item-head {
        background: #7c328e;
      }
    }
    &.label-new {
      background: #8dc63f;
      .sale-block__item-head {
        background: #6b9e25;
      }
    }
    &.label-recomend {
      background: rgba(71, 51, 122, 1);
      .sale-block__item-head {
        background: #2a1858;
      }
    }
  }
  &__item-head {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px 30px;
    letter-spacing: 0;
    border-radius: 22px 0;
    font-size: 20px;
    font-weight: bold;
    line-height: 1;
    span {
      font-size: 15px;
    }
  }
  &__item-body {
    overflow: hidden;
    height: 42px;
    font-size: 15px;
  }
  @media (max-width: 1199px) {
    top: 0;
    height: 130px;
  }
  @media (max-width: 575px) {
    height: auto;
    margin-bottom: 20px;
    &__container {
      height: 140px;
      &:nth-child(1) {
        &:hover {
          & ~ .sale-block__container:nth-child(2) {
            transform: none;
          }
          & ~ .sale-block__container:nth-child(3) {
            transform: none;
          }
        }
      }
      &:nth-child(2) {
        transform: none;
        &:hover {
          & ~ .sale-block__container:nth-child(3) {
            transform: none;
          }
        }
      }
      &:nth-child(3) {
        transform: none;
      }
    }
    &__item-body {
      overflow: hidden;
      height: 85px;
      font-size: 15px;
    }
  }
}