@import 'src/assets/css/common/components-import';
.content {
  ol:not(.list-reset), ul:not(.list-reset) {
    margin: 0 0 25px;
    li {
      position: relative;
      margin: 0 0 13px;
      padding: 0 0 0 34px;
      color: #282828;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      line-height: 22px;
    }
    li > ul, li > ol {
      padding: 12px 0 0 0;
    }
  }
  ul:not(.list-reset) {
    & > li {
      &:before {
        position: absolute;
        top: 6px;
        left: 2px;
        box-sizing: border-box;
        width: 12px;
        height: 12px;
        content: '';
        transform: rotate(45deg);
        border: 1px solid #8dc63f;
        background-color: #8dc63f;
      }
    }
  }
  ol:not(.list-reset) {
    list-style: none;
    counter-reset: list;
    & > li {
      &:before {
        position: absolute;
        top: 0;
        left: 0;
        display: inline-block;
        content: counters(list, '.')'.';
        counter-increment: list;
        transform: none;
        color: #38ac36;
        font-size: 18px;
        font-weight: bold;
        font-style: normal;
      }
    }
  }
  ol:not(.list-reset) {
    & > li {
      & > ol:not(.list-reset) {
        li {
          padding: 0 0 0 45px;
          & > ol:not(.list-reset) {
            li {
              padding: 0 0 0 60px;
            }
          }
        }
      }
    }
  }
}
@media (max-width: $sm - 1px) {
}
@media (min-width: $sm) {
}
@media (min-width: $sm) and (max-width: $md - 1px) {
}
@media (max-width: $md - 1px) {
}
@media (min-width: $md) {
}
@media (min-width: $md) and (max-width: $lg - 1px) {
}
@media (min-width: $lg) {
  .content {
    ul:not(.list-reset), ol:not(.list-reset) {
      margin: 0 0 20px;
      li {
        font-size: 15px;
        line-height: 24px;
      }
    }
  }
}
@media (min-width: $lg) and (max-width: $xl - 1px) {
}
@media (min-width: $xl) {
}
@import '--light';
