+include-style('profil-page')

.container
	.row
		.col-12.col-xl-8.offset-xl-2.col-lg-10.offset-lg-1.col-md-12
			.profil-page
				+tab-list
					+tab-item({
						class: 'active',
						linkname: 'Профиль',
					})
					+tab-item({
						linkname: 'Программа лояльности',
						href: '/local/templates/html/loyalty.html'
					})
					+tab-item({
						linkname: 'Заказы',
						href: '/local/templates/html/order.html'
					})
					+tab-item({
						linkname: 'Избранное',
						href: '/local/templates/html/favourite.html'
					})
				.profil-page__title Личные данные
				form.bv-form.js_lazy-load-validation(
					enctype='multipart/form-data',
					method='POST',
					action='#',
					autocomplete='on',
					novalidate='novalidate'
					)
					.profil-private-form
						+input({
							label: 'ФИО',
							type: 'text',
							name: false,
							small: false,
							placeholder: 'Александр',
							required: true,
							validation: {
								message: 'Обязательное поле',
								regexp: 'Неверный формат',
								emailaddress: ' ',
								identical: false
							}
						})
						+datapicker({
							fg_mod: 'form-group--data',
							label: 'День рождения',
							required: true,
							placeholder: '_ _ / _ _ / _ _ _ _',
						})
						+input({
							label: 'Телефон',
							type: 'tel',
							name: false,
							small: false,
							placeholder: '+375 (__) ___-__-__',
							required: true,
							pattern: 'phone',
							validation: {
								message: 'Обязательное поле',
								regexp: 'Неверный формат',
								emailaddress: ' ',
								identical: false
							}
						})
						+input({
							label: 'Email',
							type: 'email',
							name: false,
							small: false,
							placeholder: 'example@example.com',
							required: true,
							pattern: '[A-Za-zА-Яа-я0-9\_\-]{1,}@[A-Za-zА-Яа-я0-9\_\-]{1,}\.[A-Za-zА-Яа-я0-9]{2,}',
							validation: {
								message: 'Обязательное поле',
								regexp: 'Неверный формат',
								emailaddress: ' ',
								identical: false
							}
						})
				.profil-page__title Адрес доставки
				form.bv-form.js_lazy-load-validation(
					enctype='multipart/form-data',
					method='POST',
					action='#',
					autocomplete='on',
					novalidate='novalidate'
					)
					.profil-address-form
						+radio({
							name: 'delivery-address',
							label: 'г. Витебск, ул. 11-ая Социалистическая, 1-37',
							checked: true,
						})
						.wide-input
							+input({
								label: 'Населенный пункт',
								type: 'text',
								name: false,
								small: false,
								placeholder: false,
								required: true,
								validation: {
									message: 'Обязательное поле',
									regexp: 'Неверный формат',
									emailaddress: ' ',
									identical: false
								}
							})
						.wide-input
							+input({
								label: 'Улица',
								type: 'text',
								name: false,
								small: false,
								placeholder: false,
								required: true,
								validation: {
									message: 'Обязательное поле',
									regexp: 'Неверный формат',
									emailaddress: ' ',
									identical: false
								}
							})
						.small-input
							+input({
								label: 'Дом/корпус',
								type: 'text',
								name: false,
								small: false,
								placeholder: false,
								required: true,
								validation: {
									message: 'Обязательное поле',
									regexp: 'Неверный формат',
									emailaddress: ' ',
									identical: false
								}
							})
						.small-input
							+input({
								label: 'Подъезд',
								type: 'text',
								name: false,
								small: false,
								placeholder: false,
								required: true,
								validation: {
									message: 'Обязательное поле',
									regexp: 'Неверный формат',
									emailaddress: ' ',
									identical: false
								}
							})
						.small-input
							+input({
								label: 'Этаж',
								type: 'text',
								name: false,
								small: false,
								placeholder: false,
								required: true,
								validation: {
									message: 'Обязательное поле',
									regexp: 'Неверный формат',
									emailaddress: ' ',
									identical: false
								}
							})
						.small-input
							+input({
								label: 'Квартира',
								type: 'text',
								name: false,
								small: false,
								placeholder: false,
								required: true,
								validation: {
									message: 'Обязательное поле',
									regexp: 'Неверный формат',
									emailaddress: ' ',
									identical: false
								}
							})
						.profil-address-form__btn-wrap
							.save-profil-address-form.hidden Сохранить
							.remove-profil-address-form
								+icon('i-close')(style='width: 16px; height: 16px;')
								| Удалить
					.profil-address-form
						+radio({
							name: 'delivery-address',
							label: '№2',
							checked: '',
						})
						.wide-input
							+input({
								label: 'Населенный пункт',
								type: 'text',
								name: false,
								small: false,
								placeholder: false,
								required: true,
								validation: {
									message: 'Обязательное поле',
									regexp: 'Неверный формат',
									emailaddress: ' ',
									identical: false
								}
							})
						.wide-input
							+input({
								label: 'Улица',
								type: 'text',
								name: false,
								small: false,
								placeholder: false,
								required: true,
								validation: {
									message: 'Обязательное поле',
									regexp: 'Неверный формат',
									emailaddress: ' ',
									identical: false
								}
							})
						.small-input
							+input({
								label: 'Дом/корпус',
								type: 'text',
								name: false,
								small: false,
								placeholder: false,
								required: true,
								validation: {
									message: 'Обязательное поле',
									regexp: 'Неверный формат',
									emailaddress: ' ',
									identical: false
								}
							})
						.small-input
							+input({
								label: 'Подъезд',
								type: 'text',
								name: false,
								small: false,
								placeholder: false,
								required: true,
								validation: {
									message: 'Обязательное поле',
									regexp: 'Неверный формат',
									emailaddress: ' ',
									identical: false
								}
							})
						.small-input
							+input({
								label: 'Этаж',
								type: 'text',
								name: false,
								small: false,
								placeholder: false,
								required: true,
								validation: {
									message: 'Обязательное поле',
									regexp: 'Неверный формат',
									emailaddress: ' ',
									identical: false
								}
							})
						.small-input
								+input({
									label: 'Квартира',
									type: 'text',
									name: false,
									small: false,
									placeholder: false,
									required: true,
									validation: {
										message: 'Обязательное поле',
										regexp: 'Неверный формат',
										emailaddress: ' ',
										identical: false
									}
								})
						.profil-address-form__btn-wrap
							.save-profil-address-form Сохранить
							.remove-profil-address-form
								+icon('i-close')(style='width: 16px; height: 16px;')
								| Удалить
					.dashed-link
						+icon('i-close')(style='width: 14px; height: 14px; transform: rotate(45deg);')
						| Добавить адрес
				.profil-page__title Подписка
				.form-group.subscription-checkbox
					.checkbox
						input(type='checkbox', value='agree', name='Да', id="agree", checked)
						label(for='agree') Согласен на получение СМС/e-mail/Viber новостной и рекламной рассылки
							
				button.btn.btn--primary Сохранить
				button.btn.btn--outline Отмена