@import 'src/assets/css/common/components-import';
.profil-page {
  margin-bottom: 80px;
  &__title {
    margin-bottom: 30px;
    letter-spacing: 0;
    color: $c-text;
    font-size: 30px;
    font-weight: bold;
  }
  form.bv-form {
    margin-bottom: 50px;
  }
  .dashed-link {
    margin-bottom: 30px;
  }
  .subscription-checkbox {
    margin-bottom: 50px;
  }
  .btn {
    width: 145px;
  }
  .btn--primary {
    margin-right: 15px;
  }
  @media (max-width: 575px) {
    margin-bottom: 40px;
    &__title {
      font-size: 24px;
    }
    form.bv-form {
      margin-bottom: 30px;
    }
    .btn {
      width: 137px;
    }
    .btn--primary {
      margin-right: 10px;
    }
    .tab {
      margin-bottom: 30px;
    }
    .subscription-checkbox {
      margin-bottom: 30px;
    }
  }
}
.profil-private-form {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% + 60px);
  margin: 0 -30px 0;
  .form-group {
    width: calc(50% - 60px);
    margin: 0 30px 30px;
  }
  @media (max-width: 575px) {
    width: 100%;
    margin: 0;
    .form-group {
      width: 100%;
      margin: 0 0 30px;
    }
  }
}
.profil-address-form {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 30px;
  padding: 30px 0 10px;
  background: $c-bg;
  &__btn-wrap {
    display: flex;
    align-items: center;
    margin: 30px;
  }
  .save-profil-address-form {
    margin-right: 20px;
    cursor: pointer;
    transition: color .3s;
    color: $c-green-dark;
    &:hover {
      color: $c-green;
    }
  }
  .remove-profil-address-form {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: opacity .3s;
    opacity: .7;
    color: $c-text;
    .icon {
      margin-right: 5px;
      transition: opacity .3s;
      opacity: .7;
      fill: $c-text;
    }
    &:hover {
      opacity: 1;
      .icon {
        opacity: 1;
      }
    }
  }
  .wide-input, .small-input {
    padding: 0 30px ;
  }
  .radio {
    margin: 0 0 0 30px;
    label {
      letter-spacing: .01em;
      font-size: 18px;
      font-weight: bold;
    }
  }
  @media (min-width: 768px) {
    &__btn-wrap {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
  @media (max-width: 767px) {
    &__btn-wrap {
      justify-content: flex-end;
      width: 100%;
      margin: 0 30px 20px;
    }
  }
  @media (max-width: 575px) {
    margin: 0 0 20px;
    &__btn-wrap {
      margin: 0 15px 20px;
    }
    .wide-input {
      padding: 0 15px ;
    }
    .small-input {
      padding: 0 15px ;
    }
    .radio {
      margin: 0 0 0 15px;
      label {
        padding: 0 0 0 34px;
        letter-spacing: .01em;
        font-size: 18px;
        font-weight: bold;
      }
    }
  }
}