mixin slider-contacts(args= {})
	+include-style('slider-contacts')
	+include-script('slider-contacts')
	.slider-contacts
		.custom-container.custom-container--md
			if title
				h2.slider-contacts__title=args.title
			+swiper({
				wrapper_mod: '',
				container_mod: '',
				pagination_mod: '',
				arrow_prev_mod: 'custom-swiper-btn__prev',
				arrow_next_mod: 'custom-swiper-btn__next',
				pagination: true,
				navigation: true,
			}).swiper-contacts.js-swiper-contacts
				//- Слайды
				.swiper-slide
					+contacts-card({
						src: './images/cont-momo.jpg',
						title: 'ТЦ «Момо»',
						location: 'Беларусь, Минск, Партизанский пр-т, 20а',
						work_time: 'Без выходных 10:00–22:00',
						phone: '+375 29 500-50-10',
						email: 'info@veska.shop',
					})
				.swiper-slide
					+contacts-card({
						src: './images/cont-korona.jpg',
						title: 'ТЦ «Корона»',
						location: 'Беларусь, Минск, Партизанский пр-т, 20а',
						work_time: 'Без выходных 10:00–22:00',
						phone: '+375 29 500-50-10',
						email: 'info@veska.shop',
					})
				.swiper-slide
					+contacts-card({
						src: './images/cont-prostore.jpg',
						title: 'ТЦ «ПроСтор Северный» ',
						location: 'Беларусь, Минск, Партизанский пр-т, 20а',
						work_time: 'Без выходных 10:00–22:00',
						phone: '+375 29 500-50-10',
						email: 'info@veska.shop',
					})
				.swiper-slide
					+contacts-card({
						src: './images/blog-01.jpg',
						title: 'ТЦ «sxdfsdfsdfsdf »',
						location: 'Беларусь, Минск, Партизанский пр-т, 20а',
						work_time: 'Без выходных 10:00–22:00 ',
						phone: '+375 29 500-50-10',
						email: 'info@veska.shop',
					})