@import 'src/assets/css/common/components-import';
.index-bonus-block {
  position: relative;
  z-index: 1;
  &::after {
    position: absolute;
    z-index: -1;
    top: 0;
    left: -50vw;
    width: 200vw;
    height: 100%;
    content: '';
    background: $c-bg;
  }
  .left-icon {
    position: absolute;
    z-index: 0;
    top: -40px;
    left: -20%;
    width: 100%;
    max-width: 600px;
  }
  .right-icon {
    position: absolute;
    z-index: 0;
    top: 20%;
    right: 0%;
    width: 100%;
    max-width: 500px;
  }
  @media (max-width: 1024px) {
    .left-icon {
      top: -80px;
      max-width: 400px;
    }
    .right-icon {
      top: 20%;
      right: -5%;
      max-width: 300px;
    }
  }
  .bonus-block {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    &__item {
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 33.3%;
      max-width: 400px;
      padding: 50px;
      text-align: center;
      span {
        margin-top: 10px;
      };
    }
    &__img-wrap {
      position: relative;
      z-index: 1;
      height: 129px;
      background: $c-bg;
    }
    &__img {
      max-width: 100%;
    }
    @media (max-width: 767px) {
      flex-direction: column;
      padding: 40px 0 10px;
      &__item {
        flex-direction: row;
        width: 100%;
        max-width: 100%;
        margin-bottom: 30px;
        padding: 0;
        text-align: left;
        span {
          margin: 0 15px 0 0;
        };
      }
      &__img-wrap {
        flex-shrink: 0;
        width: 82px;
        height: 82px;
      }
    }
  }
}
