@import '../../assets/css/common/components-import';
.index-about-us-wrap {
  position: relative;
  z-index: 1;
  &::after {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 190px;
    height: 100%;
    content: '';
    background: $c-green;
  }
  &__img-wrap {
    position: absolute;
    z-index: -1;
    bottom: -70px;
    left: 100%;
    width: 375px;
    height: 375px;
  }
  @media (max-width: 1600px) {
    &__img-wrap {
      bottom: -90px;
      left: 90%;
    }
  }
  @media (max-width: 1024px) {
    &__img-wrap {
      left: 80%;
    }
  }
  @media (max-width: 767px) {
    &::after {
      position: absolute;
      z-index: -1;
      top: 0;
      left: -50vw;
      width: 200vw;
      height: 128px;
      content: '';
      background: $c-green;
    }
    &__img-wrap {
      position: absolute;
      bottom: -70px;
      left: 85%;
      width: 256px;
      height: 256px;
    }
    &__img {
      max-width: 100%;
    }
  }
  @media (max-width: 767px) {
    &__img-wrap {
      bottom: -70px;
      left: 70%;
      width: 166px;
      height: 166px;
    }
  }
}
.index-about-us {
  padding: 80px 80px 80px 270px;
  &__img-wrap {
    position: absolute;
    top: 50%;
    left: 60px;
    transform: translateY(-50%);
  }
  &__title {
    margin-bottom: 40px;
    color: $c-text;
    font-size: 36px;
    font-weight: bold;
  }
  &__body {
    margin-bottom: 30px;
    color: $c-text;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.45;
  }
  .link-arrow__link {
    display: inline-flex;
    width: auto;
    max-width: 100%;
  }
  @media (max-width: 767px) {
    padding: 170px 0 60px 0;
    &__img-wrap {
      top: -70px;
      left: 50%;
      transform: translateX(-50%) rotate(90deg);
    }
  }
  @media (max-width: 575px) {
    &__title {
      margin-bottom: 40px;
    }
  }
}