+modal({
	id: 'password-reset',
	mod: 'password-reset',
	title: 'Восстановление пароля',
	header: true,
	dialog_mod: ''
})
	p Укажите email, который использовался при регистрации аккаунта. Мы вышлем Вам новый пароль.
	form.bv-form.js_lazy-load-validation(
		enctype='multipart/form-data',
		method='POST',
		action='#',
		autocomplete='on',
		novalidate='novalidate'
		)
		.modal-login__form
			+input({
				label: 'Email',
				type: 'email',
				name: false,
				small: false,
				placeholder: 'example@example.com',
				required: true,
				pattern: '[A-Za-zА-Яа-я0-9\_\-]{1,}@[A-Za-zА-Яа-я0-9\_\-]{1,}\.[A-Za-zА-Яа-я0-9]{2,}',
				validation: {
					message: 'Обязательное поле',
					regexp: 'Неверный формат',
					emailaddress: ' ',
					identical: false
				} 
			})
			button.btn.btn--primary Сбросить пароль

+modal({
	id: 'modal-login',
	mod: 'modal-login',
	dialog_mod: '',
	header: true,
	title: 'Авторизация'
})
	form.bv-form.js_lazy-load-validation(
		enctype='multipart/form-data',
		method='POST',
		action='#',
		autocomplete='on',
		novalidate='novalidate'
		)
		.modal-login__form
			+input({
				label: 'Номер телефона',
				type: 'text',
				name: false,
				small: false,
				placeholder: '',
				required: true,
				validation: {
					message: 'Обязательное поле',
					regexp: 'Неверный формат',
					emailaddress: ' ',
					identical: false
				}
			})
			.authoris-input.js-authoris-block
				+input({
					label: 'Код авторизации',
					type: 'number',
					name: false,
					small: false,
					placeholder: '',
					required: true,
					max_value: 10,
					validation: {
						message: 'Обязательное поле',
						regexp: 'Неверный формат',
						emailaddress: ' ',
						identical: false
					}
				})
				.btn.btn--outline.js-authoris-btn Получить код
				.blocked-text.js-authoris-text(style='display: none') Повторная отправка будет доступна через <span class="seconds">30</span> секунд
			button.btn.btn--primary.disabled Авторизоваться

